<template>
    <div class="messeger-chats">
        <div data-height="375" class="caption bottom-30 profile-banner-wrapper" style="height: 120px;">
            <div class="caption-overlay bg-gradient-fade"></div>
            <div class="caption-background bg-0" style="background-image:url(http://localhost/modelpostmagazine/images/cms.jpg)"></div>
        </div>
        <div class="user-about-wrapper">
            <h3 class="text-center text-uppercase">cms</h3>
            <hr class="custom-hr"> 
            <p class="description" v-if="page != 'users' && page != 'magazine'">Applications and Reported Content</p>
            <p class="description" v-else-if="page == 'users'">CMS User List</p>
            <p class="description" v-else-if="page == 'magazine'">Content Management</p>
        </div>
        <div v-if="loading" class="loading">
            Loading... 
        </div>
        <div class="userTypeTab" v-if="page != 'users' && page != 'magazine'">
            <ul class="nav nav-tabs nav-justified" id="userTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-uppercase" data-toggle="tab" href="#applications" role="tab" aria-controls="applications" aria-selected="true">Applications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" data-toggle="tab" href="#reported" role="tab" aria-controls="reported" aria-selected="false">Reported</a>
                </li>
            </ul>
            <div class="tab-content" id="userTabContent">
                <div class="tab-pane fade show active" id="applications" role="tabpanel" aria-labelledby="applications-tab">
                    <cmsapptab></cmsapptab>
                </div>
                <div class="tab-pane fade" id="reported" role="tabpanel" aria-labelledby="reported-tab">
                    <cmsreportedtab></cmsreportedtab>
                </div>
            </div>
        </div>
        <div class="users-list" v-else-if="page == 'users'">
            <div v-for="(user, index) in comUsers" :key="index" @click="openDetails(index)" class="block" :id="index">
                <div class="convo-thumb">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="convo-headings">
                    <h5>{{ users[index].userName }}</h5>
                    <p>Type: {{ users[index].role == 'admin-user' ? 'Admin User' : 'Super User' }}</p>
                    <p>Date: {{ users[index].dateAdded }}</p>
                </div>
            </div>
        </div>
        <div class="main-section-list" v-else-if="page == 'magazine'">
            <p class="group-title">Main Page</p>
            <div v-for="(section, index) in mainSections" :key="index" @click="openSection(index)" class="block" :id="index">
                <div class="convo-thumb">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="convo-headings">
                    <h5>{{ section.title }}</h5>
                </div>
            </div>
        </div>
        <div class="other-section-list" v-if="page == 'magazine'">
            <p class="group-title">other pages</p>
            <div v-for="(section, index) in otherSections" :key="index" @click="openSection(index)" class="block" :id="index">
                <div class="convo-thumb">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="convo-headings">
                    <h5>{{ section.title }}</h5>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import store from '../store/store'
    export default {
        
        data: () => {
            return {
                loading: false,
                users: null,
                mainSections: null,
                otherSections: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    users: [
                        {    
                            id: 1,
                            userName: 'John',
                            dateAdded: 'June 20, 2020',
                            role: 'admin-user'
                        },
                        {
                            id: 2,
                            userName: 'Smith',
                            dateAdded: 'June 20, 2020',
                            role: 'admin-user'
                        },
                        {
                            id: 3,
                            userName: 'Jane',
                            dateAdded: 'June 20, 2020',
                            role: 'super-user'
                        },
                        {
                            id: 4,
                            userName: 'Joe',
                            dateAdded: 'June 20, 2020',
                            role: 'admin-user'
                        },
                        {
                            id: 5,
                            userName: 'Jon',
                            dateAdded: 'June 20, 2020',
                            role: 'admin-user'
                        },
                        {
                            userName: 'Peter',
                            dateAdded: 'June 20, 2020',
                            role: 'super-user'
                        },
                        {
                            id: 6,
                            userName: 'John',
                            dateAdded: 'June 20, 2020',
                            role: 'admin-user'
                        },
                        {
                            id: 7,
                            userName: 'Smith',
                            dateAdded: 'June 20, 2020',
                            role: 'admin-user'
                        },
                        {
                            id: 8,
                            userName: 'Jane',
                            dateAdded: 'June 20, 2020',
                            role: 'super-user'
                        },
                    ],
                    mainSections: [
                        {    
                            id: 1,
                            title: 'member of the month'
                        },
                        {    
                            id: 2,
                            title: 'freshly posted'
                        },
                        {    
                            id: 3,
                            title: 'editors choice'
                        },
                        {    
                            id: 4,
                            title: 'trending now'
                        },
                        {    
                            id: 5,
                            title: 'film & video'
                        },
                        {    
                            id: 6,
                            title: 'top 10'
                        },
                        {    
                            id: 7,
                            title: 'popular posts'
                        },
                        {    
                            id: 8,
                            title: 'popular sets'
                        },
                        {    
                            id: 9,
                            title: 'popular video'
                        },
                    ],
                    otherSections: [
                        {    
                            id: 10,
                            title: 'weekly post'
                        },
                        {    
                            id: 11,
                            title: 'monthly feature'
                        },
                        {    
                            id: 12,
                            title: 'banner ads'
                        },
                        {    
                            id: 13,
                            title: 'promo widget'
                        },
                        {    
                            id: 14,
                            title: 'featured widget'
                        },
                        {    
                            id: 15,
                            title: 'recommended widget'
                        },
                    ],
                },
                page: '',
                userPerPage: 3,
            }
        },

        created() {
            var currentUrl = window.location.href;
            var lastSlug = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);
            this.page = lastSlug;
            console.log(lastSlug)
        },

        computed: {
            comUsers() {
                let users = [];
                for ( let i = 0; i < this.userPerPage; i++) {
                    users.push(this.users.slice(0, 2))
                }
                return users;
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.users = magazineData.users;		// set local array to supplied objects related array		
				this.mainSections = magazineData.mainSections;		// set local array to supplied objects related array		
				this.otherSections = magazineData.otherSections;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.users.length > 25) ? 25 : this.users.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.users.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog

            },
            openDetails(index) {
                $(".messeger-chats .users-list .block").removeClass("active");
                $(".messeger-chats .users-list .block#"+index).addClass("active");
                var userID = this.users[index].id;
                this.$router.replace('/cms/users/'+userID+'/details')
            },
            openSection(index) {
                $(".messeger-chats .main-section-list .block").removeClass("active");
                $(".messeger-chats .main-section-list .block#"+index).addClass("active");
                var userID = this.users[index].id;
                // this.$router.replace('/cms/magazine/'+userID+'/details')
                this.$router.replace({ name: "magcontent", params: {id:userID} })
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
    .messeger-chats .caption-background { background-size: cover; background-position: top center; height: inherit; }
    .messeger-chats .caption-overlay { background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 15%, rgba(255, 255, 255, 0.03) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.6) 70%, white 100%); height: inherit; }
    .messeger-chats .user-about-wrapper .custom-hr { margin: 0px auto 10px auto; }
    .messeger-chats .user-about-wrapper .description { font-size: 14px; font-weight: 300; text-align: center; }
    .messeger-chats .userTypeTab #userTab .nav-item .nav-link { background-color: #ccc !important; border: unset; color: #272727 !important; font-family: "Oswald"; font-size: 18px; border-radius: 0px; }
    .messeger-chats .userTypeTab #userTab .nav-item:first-child .nav-link.active { background-color: #ffc845 !important; }
    .messeger-chats .userTypeTab #userTab .nav-item:nth-child(2) .nav-link.active { background-color: #F97676 !important; }
    .messeger-chats .userTypeTab #userTab .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .messeger-chats .userTypeTab #userTab .nav-item:nth-child(2) .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    .messeger-chats .userTypeTab #userTabContent { margin-top: 25px; }
    .messeger-chats .users-list .block { cursor: pointer; margin: 20px 0px; display: flex; align-items: center; justify-content: flex-start; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px 20px; }
    .messeger-chats .users-list .block.active { background-color: #ffc845; }
    .messeger-chats .users-list .block.active .convo-thumb { display: none; }
    .messeger-chats .users-list .block.active .convo-headings { margin-left: 60px; }
    .messeger-chats .users-list .block .convo-thumb { margin-right: 30px; width: 30px; height: 30px; background-color: #ffc845; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-right: 30px;}
    .messeger-chats .users-list .block .convo-thumb i { font-size: 20px; }
    .messeger-chats .users-list .block .convo-headings p { margin: 0px; font-size: 14px; }
    .messeger-chats .main-section-list .group-title { font-size: 12px; text-transform: uppercase; font-weight: 300; color: #131313; border-bottom: 1px solid #131313; width: 80%; margin-bottom: 10px; }
    .messeger-chats .main-section-list .block { cursor: pointer; margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 20px 20px; }
    .messeger-chats .main-section-list .block.active { background-color: #ffc845; }
    .messeger-chats .main-section-list .block.active .convo-thumb i { color: #ffc845; }
    .messeger-chats .main-section-list .block .convo-thumb { margin-right: 30px; width: 30px; height: 30px; background-color: #ffc845; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-right: 30px;}
    .messeger-chats .main-section-list .block .convo-thumb i { font-size: 20px; }
    .messeger-chats .main-section-list .block .convo-headings h5 { margin: 0px; }
    .messeger-chats .other-section-list { margin-top: 40px; }
    .messeger-chats .other-section-list .group-title { font-size: 12px; text-transform: uppercase; font-weight: 300; color: #131313; border-bottom: 1px solid #131313; width: 80%; margin-bottom: 10px; }
    .messeger-chats .other-section-list .block { cursor: pointer; margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 20px 20px; }
    .messeger-chats .other-section-list .block .convo-thumb { margin-right: 30px; width: 30px; height: 30px; background-color: #ffc845; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin-right: 30px;}
    .messeger-chats .other-section-list .block .convo-thumb i { font-size: 20px; }
    .messeger-chats .other-section-list .block .convo-headings h5 { margin: 0px; }
</style>