<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3" id="sidebar" data-menu-load="includes/nav/menuUser.php" data-menu-width="250" data-menu-effect="menu-parallax">
                <div class="sidebar">
                    <header>
                        <div class="logo-wrapper">
                            <a href="#" class="mobile-close"><i class="fas fa-times"></i></a>
                            <a href="#" class="dark"><img src="http://localhost/modelpostmagazine/images/logo-transparent-dark.png" alt="logo"></a>
                            <a href="#" class="light"><img src="http://localhost/modelpostmagazine/images/logo-transparent.png" alt="logo"></a>
                        </div>
                        <mypagesmenu v-if="userRole == 'subscriber'" :user-role="userRole" :page="page"></mypagesmenu>
                        <contentmanagemenu v-if="userRole == 'member' || userRole == 'community'"></contentmanagemenu>
                        <accountmanagemenu v-if="userRole == 'member' || userRole == 'community'"></accountmanagemenu>
                        <modelpostmenu :user-role="userRole" :page="page"></modelpostmenu>
                        <headersocial :social-links="socialLinks" v-if="page != 'cms'"></headersocial>
                    </header>
                </div>
            </div>
            <div class="col-lg-10 col-md-12" id="top-header">
                <topheader :user-role="userRole"></topheader>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                userRole: '',
                page: '',
                socialLinks: {},
            }
        },

        created() {
            //temporary social media links
            this.socialLinks = {fb: '#', instagram: '#', twitter: '#'};

            //temporary condition for user role
            var currentUrl = window.location.href;
            var lastSlug = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);
            var arraySlug = "";
            if (lastSlug.indexOf('-') > -1) {
                arraySlug = lastSlug.split("-");
                this.page = arraySlug[0];
                this.userRole = arraySlug[1];
            } else {
                arraySlug = lastSlug;
                this.page = arraySlug;
                this.userRole = 'member';
            }
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    
</style>