<template>
    <header id="kopa-header" class="header-2">  
        <magtopheader></magtopheader>
        <div class="kopa-header-middle">
            <div class="container-lg d-flex align-items-center justify-content-between">
                <div class="kopa-logo" v-if="pageSettings.lightLogoUrl">
                    <a href="#"><img :src="pageSettings.lightLogoUrl" alt="Logo" style="width:70%"></a>
                </div>
                <!-- logo -->
                <div class="kopa-baner">
                    <span class="mobile-menu-icon fas fa-bars"></span>
                    <a href="https://www.patreon.com/MODELPOST" target="_blank" v-if="pageSettings.adsLogoUrl"><img :src="pageSettings.adsLogoUrl" alt="Model Post magazine patreon add banner"></a>
                </div>
                <!-- banner -->
                <div class="mobile-menu-wrapper">
                    <header>
                        <div class="logo-wrapper">
                            <a href="#" class="mobile-close"><i class="fas fa-times"></i></a>
                            <a href="#" class="dark" v-if="pageSettings.darkLogoUrl"><img :src="pageSettings.darkLogoUrl" alt="logo"></a>
                            <a href="#" class="light" v-if="pageSettings.lightLogoUrl"><img :src="pageSettings.lightLogoUrl" alt="logo"></a>
                        </div>
                        <div class="pages-menu" v-if="mobileFirstMenu.links.length">
                            <p class="text-muted text-uppercase">{{ mobileFirstMenu.menuTitle }}</p>
                            <ul>
                                <li v-for="(link, index) in mobileFirstMenu.links" :key="index"><a :href="link.href">{{ link.text }}</a></li>
                            </ul>
                        </div>
                        <div class="pages-menu" v-if="mobileSecondMenu.links.length" >
                            <p class="text-muted text-uppercase">{{ mobileSecondMenu.menuTitle }}</p>
                            <ul>
                                <li v-for="(link, index) in mobileSecondMenu.links" :key="index"><a :href="link.href">{{ link.text }}</a></li>
                            </ul>
                        </div>

                        <div class="social-menu">
                            <p class="text-muted text-uppercase">Social Links</p>
                            <ul>
                                <li><a :href="socialLinks.fb"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a :href="socialLinks.instagram"><i class="fab fa-instagram"></i></a></li>
                                <li><a :href="socialLinks.twitter"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </header>
                </div>
            </div>
            <!-- container -->
        </div>
        <!-- kopa header middle -->
        <div class="kopa-header-bottom">
            <div class="container">
                <div class="main-menu">
                    <ul class="kopa-menu sf-menu" v-if="desktopLinks.length" >
                        <li v-for="(link, index) in desktopLinks" :key="index"><a :href="link.href">{{ link.text }}</a></li>
                    </ul>
                </div>
                <!-- main-menu -->
            </div>
        </div>
        <!-- kopa header bottom -->
    </header>
</template>

<script>
    export default {
        
        data: () => {
            return {
                mobileFirstMenu: {
                    menuTitle: 'my profile & pages',
                    links: [
                        {text: 'My Profile', href: '#'},
                    ]
                },
                mobileSecondMenu: {
                    menuTitle: 'Modelpost magazine',
                    links: [
                        {text: 'Model post magazine', href: '#'},
                        {text: 'The Weekly Post', href: '#'},
                        {text: 'Monthly Feature', href: '#'},
                        {text: 'Members', href: '#'},
                        {text: 'Join', href: '#'},
                        {text: 'Log Out', href: '#'},
                    ]
                },
                desktopLinks: [],
                socialLinks: {},
                pageSettings: {
                    lightLogoUrl: '',
                    darkLogoUrl: '',
                    adsLogoUrl: '',
                },
            }
        },

        created() {
            //temporary social media links
            this.socialLinks = {fb: '#', instagram: '#', twitter: '#'};

            //temporary condition for user role
            var currentUrl = window.location.href;
            var lastSlug = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);
            var arraySlug = lastSlug.split("-");
            this.page = arraySlug[0];
            this.userRole = arraySlug[1];
            
            //temporary menu links
            this.desktopLinks.push(
                {text: 'My Profile', href: '#'},
                {text: 'Model post magazine', href: '#'},
                {text: 'The Weekly Post', href: '#'},
                {text: 'Monthly Feature', href: '#'},
                {text: 'Members', href: '#'},
                {text: 'Join', href: '#'},
                {text: 'Log Out', href: '#'},
            )

            this.pageSettings = {
                lightLogoUrl: 'images/logo-transparent.png',
                darkLogoUrl: 'images/logo-transparent-dark.png',
                adsLogoUrl: 'images/patreon-logo.jpg',
            }
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    
</style>