<template>
    <div class="messeger-chats">
        <div data-height="375" class="caption bottom-30 profile-banner-wrapper" style="height: 120px;">
            <div class="caption-overlay bg-gradient-fade"></div>
            <div class="caption-background bg-0" style="background-image:url(http://localhost/modelpostmagazine/images/1.jpg)"></div>
        </div>
        <div class="user-about-wrapper">
            <h3 class="text-center text-uppercase">Sarah Smith</h3>
            <hr class="custom-hr"> 
            <p class="description">We know that being well connected with your followers means more money in your pocket</p>
        </div>
        <div class="userTypeTab">
            <ul class="nav nav-tabs nav-justified" id="userTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#fans" role="tab" aria-controls="fans" aria-selected="true">Fans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Members</a>
                </li>
            </ul>
            <div class="tab-content" id="userTabContent">
                <div class="tab-pane fade show active" id="fans" role="tabpanel" aria-labelledby="fans-tab">
                    <fanstab></fanstab>
                </div>
                <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
                    <memberstab></memberstab>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               
            }
        },

        created() {
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .messeger-chats .caption-background { background-size: cover; background-position: top center; height: inherit; }
    .messeger-chats .caption-overlay { background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 15%, rgba(255, 255, 255, 0.03) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.6) 70%, white 100%); height: inherit; }
    body.theme-dark .messeger-chats .caption-overlay { background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 15%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.9) 70%, #272727 100%); height: inherit; }
    body.theme-dark .messeger-chats .user-about-wrapper h3 { color: #fff; }
    .messeger-chats .user-about-wrapper .custom-hr { margin: 0px auto 10px auto; }
    .messeger-chats .user-about-wrapper .description { font-size: 14px; font-weight: 300; text-align: center; }
    body.theme-dark .userTypeTab #userTab .nav-item .nav-link:not(.active) { background-color: #272727 !important; color: #fff !important; }
    .userTypeTab #userTab .nav-item .nav-link { background-color: #ccc !important; border: unset; color: #272727 !important; font-family: "Oswald"; font-size: 18px; border-radius: 0px; }
    .userTypeTab #userTab .nav-item .nav-link.active { background-color: #ffc845 !important; }
    .userTypeTab #userTab .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .userTypeTab #userTab .nav-item:nth-child(2) .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    #userTabContent { margin-top: 25px; }
</style>