<template>
    <div class="messeger-chats">
        <div data-height="375" class="caption bottom-30 profile-banner-wrapper" style="height: 120px;">
            <div class="caption-overlay bg-gradient-fade"></div>
            <div class="caption-background bg-0" style="background-image:url(http://localhost/modelpostmagazine/images/1.jpg)"></div>
        </div>
        <div class="user-about-wrapper">
            <h3 class="text-center text-uppercase">My messenger</h3>
            <hr class="custom-hr"> 
            <p class="description">The easiest way to stay connected to all the Artists you love</p>
        </div>
        <div class="userTypeTab">
            <ul class="nav nav-tabs nav-justified" id="userTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#fans" role="tab" aria-controls="fans" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#sort-fans" role="tab" aria-controls="sort" aria-selected="false">Sort</a>
                </li>
            </ul>
            <div class="tab-content" id="userTabContent">
                <div class="tab-pane fade show active" id="fans" role="tabpanel" aria-labelledby="fans-tab">
                    <a href="#" @click="openChat(convo.conversation.sid)" v-for="(convo, index) in allConversations" :key="index">
                        <div class="block">
                            <div class="convo-thumb">
                                <img src="images/1.jpg" alt="">
                            </div>
                            <div class="convo-headings">
                                <h5>{{ convo.participants[1].identity }}</h5>
                                <p>Lorem Ipsum dolor</p>
                            </div>
                            <div class="convo-status">
                                <i class="fas fa-envelope-open"></i>
                                <p class="status">READ</p>
                                <p class="time">8:01 PM</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
                    <div class="search-bar-wrapper">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" placeholder="Followers and Subscribers" class="form-control name-field" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <a href="#" @click="openChat()">
                        <div class="block">
                            <div class="convo-thumb">
                                <img src="images/1.jpg" alt="">
                            </div>
                            <div class="convo-headings">
                                <h5>John</h5>
                                <p>Lorem Ipsum dolor</p>
                            </div>
                            <div class="convo-status">
                                <i class="fas fa-envelope-open"></i>
                                <p class="status">READ</p>
                                <p class="time">8:01 PM</p>
                            </div>
                        </div>
                    </a>
                     <div class="block">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>John</h5>
                            <p>Lorem Ipsum dolor</p>
                        </div>
                        <div class="convo-status">
                            <i class="fas fa-envelope-open"></i>
                            <p class="status">READ</p>
                            <p class="time">8:01 PM</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sort-fans" role="tabpanel" aria-labelledby="sort-tab">
                    <div class="sorting-box">
                        <div class="header">
                            <h2 class="text-uppercase">Sorting</h2>
                            <p>Below you can sort your messages by category</p>
                        </div>
                        <ul class="nav nav-tabs nav-justified" id="sorting-tab-filter" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#fans-unread-messages" role="tab" aria-controls="unread" aria-selected="true">UNREAD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#fans-sent-messages" role="tab" aria-controls="sent" aria-selected="false">Sent</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#fans-alpha-messages" role="tab" aria-controls="alpha" aria-selected="false">Alpha</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="tab-content" id="sort-fans-content">
                            <div class="tab-pane fade show active" id="fans-unread-messages" role="tabpanel" aria-labelledby="unread-messages-content">
                                <div class="block">
                                    <div class="convo-thumb">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="convo-headings">
                                        <h5>John</h5>
                                        <p>Lorem Ipsum dolor</p>
                                    </div>
                                    <div class="convo-status">
                                        <i class="fas fa-envelope-open"></i>
                                        <p class="status">READ</p>
                                        <p class="time">8:01 PM</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="fans-sent-messages" role="tabpanel" aria-labelledby="sent-messages-content">
                                <div class="block">
                                    <div class="convo-thumb">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="convo-headings">
                                        <h5>John</h5>
                                        <p>Lorem Ipsum dolor</p>
                                    </div>
                                    <div class="convo-status">
                                        <i class="fas fa-envelope-open"></i>
                                        <p class="status">READ</p>
                                        <p class="time">8:01 PM</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="fans-alpha-messages" role="tabpanel" aria-labelledby="alpha-messages-content">
                                <div class="block">
                                    <div class="convo-thumb">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="convo-headings">
                                        <h5>John</h5>
                                        <p>Lorem Ipsum dolor</p>
                                    </div>
                                    <div class="convo-status">
                                        <i class="fas fa-envelope-open"></i>
                                        <p class="status">READ</p>
                                        <p class="time">8:01 PM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               allConversations: []
            }
        },

        created() {
            
        },

        mounted() {
            this.getConversations();
        },

        methods: {
            getConversations() {
                console.log("dfgdfgdfgf")
				axios.get('/modelpostmagazine/api/get-conversations')
                    .then(res => {
                        res.data.forEach(element => {
                            let convo = {
                                conversation: [],
                                participants: []
                            };
                            convo.conversation = element;
                            console.log(element)
                            axios.post('/modelpostmagazine/api/get-participants', {
                                cid: element.sid,
                            })
                            .then(function (response) {
                                convo.participants = response.data;
                                console.log(response.data)
                            })
                            .catch(function (error) {
                                console.log(error)
                            });
                            this.allConversations.push(convo);
                        });
                        console.log(this.allConversations)
                    }).catch(err => {
                    console.log(err)
                });
            },
            openChat(sid) {
                this.$router.push('/messenger-subscriber/' + sid + '/chat');
                // this.$router.push('/messenger-subscriber/sample/chat');
            },
        }
    }
</script>
<style scoped>
    .messeger-chats .caption-background { background-size: cover; background-position: top center; height: inherit; }
    .messeger-chats .caption-overlay { background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 15%, rgba(255, 255, 255, 0.03) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.6) 70%, white 100%); height: inherit; }
    body.theme-dark .messeger-chats .caption-overlay { background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 15%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.9) 70%, #272727 100%); height: inherit; }
    body.theme-dark .messeger-chats .user-about-wrapper h3 { color: #fff; }
    .messeger-chats .user-about-wrapper .custom-hr { margin: 0px auto 10px auto; }
    .messeger-chats .user-about-wrapper .description { font-size: 14px; font-weight: 300; text-align: center; }
    body.theme-dark .userTypeTab #userTab .nav-item .nav-link:not(.active) { background-color: #272727 !important; color: #fff !important; }
    .userTypeTab #userTab .nav-item .nav-link { background-color: #ccc; border-radius: unset; color: #272727; font-family: "Oswald"; font-size: 13px; text-transform: uppercase; margin: 0px 1px; padding: 5px; }
    .userTypeTab #userTab .nav-item .nav-link.active { background-color: #ffc845 !important; }
    .userTypeTab #userTab .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .userTypeTab #userTab .nav-item:nth-child(3) .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    #userTabContent { margin-top: 25px; }

    #userTabContent .nav-tabs .nav-link { background-color: #ccc; border-radius: unset; color: #272727; font-family: "Oswald"; font-size: 13px; text-transform: uppercase; margin: 0px 1px; padding: 5px; }
    body.theme-dark#userTabContent .nav-tabs .nav-link:not(.active) { background-color: #272727; color: #fff; }
    #userTabContent .nav-tabs .nav-item .nav-link.active { background-color: #ffc845 !important; }
    #userTabContent .nav-tabs .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    #userTabContent .nav-tabs .nav-item:last-child .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    #userTabContent { margin-top: 15px; }
    body.theme-dark #userTabContent .block { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #userTabContent .block { margin: 20px 0px; display: flex; align-items: center; justify-content: space-between; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    #userTabContent .block .convo-thumb { width: 50px; height: 50px; }
    #userTabContent .block .convo-thumb img { width: 100%; display: block; height: auto; border-radius: 50%; }
    #userTabContent .block .convo-headings { margin-left: -80px; }
    body.theme-dark #userTabContent .block .convo-headings h5 { color: #fff; }
    #userTabContent #list-fans .block .convo-headings { margin-left: -50px; }
    body.theme-dark #userTabContent .block .convo-headings p { color: #ccc; }
    #userTabContent .block .convo-headings p { margin: 0px; font-size: 14px; }
    #userTabContent .block .convo-status { text-align: center; }
    #userTabContent .block .convo-status i { color: #727272; }
    #userTabContent .block .convo-status p { margin: 0px; font-size: 12px; }
    #userTabContent #list-fans .lists-wrapper .block .heading .toogle-hide { display: none; }
    #userTabContent .search-bar-wrapper .input-group .form-control { border-left: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px;}
    #userTabContent .search-bar-wrapper .input-group .input-group-prepend .input-group-text { border-right: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; background-color: #fff; }
    #userTabContent .search-bar-wrapper .input-group .form-control:focus { box-shadow: unset; }
    body.theme-dark #userTabContent #list-fans .mailing-box { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #userTabContent #list-fans .mailing-box { margin: 20px 0px; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    body.theme-dark #userTabContent #list-fans .mailing-box h2 { color: #fff; }
    #userTabContent #list-fans .mailing-box h2 { display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; }
    #userTabContent #list-fans .mailing-box p { font-weight: 300; font-size: 14px; width: 60%; }
    #userTabContent #list-fans .lists-wrapper .block h4 { cursor: pointer; }
    #userTabContent #list-fans .lists-wrapper .create-list-wrapper { margin: 10px auto; text-align: center; }
    #userTabContent #list-fans .lists-wrapper .create-list-wrapper a { background-color: #ffc845; color: #272727; padding: 8px 30px; border-radius: 5px; font-family: "Oswald"; font-size: 18px; display: block; text-align: center; }
    body.theme-dark #userTabContent #list-fans .block { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #userTabContent #list-fans .block { margin: 20px 0px; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; display: block; }
    #userTabContent #list-fans .block .heading { display: flex; justify-content: space-between; align-items: center; }
    #userTabContent #list-fans .block .heading i { color: #ffc845; font-size: 22px; }
    #userTabContent #list-fans .block .heading i.toogle-show, #userTabContent #list-fans .block .heading i.toogle-hide { cursor: pointer; }
    body.theme-dark #userTabContent #list-fans .block .heading h4 { color: #fff; }
    #userTabContent #list-fans .block .heading h4 { margin-left: -160px; }
    #userTabContent #list-fans .block .body a { background-color: #ffc845; color: #272727; padding: 2px 30px; border-radius: 5px; font-family: "Oswald"; font-size: 18px; display: block; text-align: center; margin: 12px 0px; }
    body.theme-dark #userTabContent #list-fans .block .body .item { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #userTabContent #list-fans .block .body .item { display: flex; align-items: center; background-color: #F1F1F1; box-shadow: 0px 3px 12px 4px #ccc; padding: 15px; border-radius: 7px; margin: 10px 0px; }
    #userTabContent #list-fans .block .body .item i { color: #727272; font-size: 22px; margin-right: 20px; }
    #userTabContent #list-fans .block .body .item .sub-item { display: flex; flex-direction: column; }
    #userTabContent #list-fans .block .body .item .sub-item h5, #userTabContent #list-fans .block .body .item .sub-item p { margin: 0px; }
    body.theme-dark #userTabContent #list-fans .list-members-wrapper { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #userTabContent #list-fans .list-members-wrapper { background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    body.theme-dark #userTabContent #list-fans .list-members-wrapper h2 { color: #fff; }
    #userTabContent #list-fans .list-members-wrapper h2 { display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; text-transform: uppercase; }
    #userTabContent #list-fans .list-members-wrapper .block { display: flex; }
    body.theme-dark #userTabContent #sort-fans .sorting-box { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #userTabContent #sort-fans .sorting-box { margin: 20px 0px; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; }
    #userTabContent #sort-fans .sorting-box .header { padding: 15px; }
    body.theme-dark #userTabContent #sort-fans .sorting-box .header h2 { color: #fff; }
    #userTabContent #sort-fans .sorting-box .header h2 { border-bottom: 3px solid #ffc845; display: inline-block; padding-bottom: 3px; }
    #userTabContent #sort-fans .sorting-box .header p { font-weight: 300; font-size: 14px; width: 60%; }
    #userTabContent #sort-fans .sorting-box #sorting-tab-filter { font-weight: 300; font-size: 14px; }
    #userTabContent #sort-fans .sorting-box #sorting-tab-filter .nav-item .nav-link { border-radius: 0px !important; margin: 0px 0px; padding: 8px; }
    #userTabContent #sort-fans .sorting-box #sorting-tab-filter .nav-item:first-child .nav-link { border-bottom-left-radius: 7px !important;}
    #userTabContent #sort-fans .sorting-box #sorting-tab-filter .nav-item:last-child .nav-link { border-bottom-right-radius: 7px !important;}
</style>