<template>
    <div class="pages-menu">
        <p class="text-muted text-uppercase">{{ menuTitle }}</p>
        <ul v-if="links.length" >
            <li v-for="(link, index) in links" :key="index"><a :href="link.href">{{ link.text }}</a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                menuTitle: 'Account Management',
                links: [],
            }
        },

        mounted() {
            //temporary links
            this.links.push(
                {text: 'My Sales', href: '#'},
                {text: 'Community', href: '#'},
                {text: 'Settings', href: '#'},
            )
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    
</style>