<template>
    <div class="public-info-wrapper">
        <h2 class="text-uppercase">account settings</h2>
        <p>Edit your Account information</p>
        <div class="row">
            <div class="col-12">
                <div>
                    <form action="" class="public-info-form">
                        <div class="input-group mb-3 email-field">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" placeholder="Email Address" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="password-fields-wrapper">
                            <p class="heading">Change password</p>
                            <div class="input-group mb-3 current-pass-field">
                                <input placeholder="Current Password" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="new-pass-fields">
                                <div class="input-group mb-3 new-pass-field">
                                    <input placeholder="New Password" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="input-group mb-3 confirm-pass-field">
                                    <input placeholder="Confirm Password" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                        </div>
                        <button type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                
            }
        },

        mounted() {
           
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .public-info-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .public-info-wrapper p { font-weight: 300; font-family: "Segoe UI"; }
    .public-info-wrapper h2 {  display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; margin: 0px; }
    .public-info-wrapper .public-info-form .password-fields-wrapper .heading { font-weight: bold; }
    .public-info-wrapper .public-info-form .input-group { box-shadow: -1px 0px 60px -13px #727272; }
    .public-info-wrapper .public-info-form .input-group .input-group-text { background-color: #fff; border-right: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .public-info-wrapper .public-info-form .input-group.email-field, .public-info-wrapper .public-info-form .input-group.new-pass-field, .public-info-wrapper .public-info-form .input-group.current-pass-field { width: 50%; padding-right: 7.5px; }
    .public-info-wrapper .public-info-form .new-pass-fields { display: flex; }
    .public-info-wrapper .public-info-form .input-group.confirm-pass-field { width: 50%; padding-left: 7.5px; }
    .public-info-wrapper .public-info-form .input-group.email-field .form-control { border-left: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px;}
    .public-info-wrapper .public-info-form .input-group .form-control { border-top-right-radius: 7px; border-bottom-right-radius: 7px;}
    .public-info-wrapper .public-info-form .input-group .form-control:focus { box-shadow: unset; }
    .public-info-wrapper form button[type='submit'] { float: right; background-color: #ffc845; padding: 8px 25px; border-radius: 5px; font-family: "Oswald"; color: #272727; }
    @media (max-width:575px) {
        .public-info-wrapper .public-info-form .input-group.email-field, .public-info-wrapper .public-info-form .input-group.new-pass-field, .public-info-wrapper .public-info-form .input-group.current-pass-field { width: 100%; padding-right: 0; }
        .public-info-wrapper .public-info-form .new-pass-fields { flex-direction: column; }
        .public-info-wrapper .public-info-form .input-group.confirm-pass-field { width: 100%; padding-left: 0; }
    }
</style>