<template>
    <div class="cms-application-tab">
        <div>
            <div v-if="loading" class="loading">
                Loading... 
            </div>
            <ul class="nav nav-tabs nav-justified" id="new-app-tab-filter" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#new-app" role="tab" aria-controls="all" aria-selected="true">New: {{ newApplications.length }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#denied-app" role="tab" aria-controls="search" aria-selected="false">denied</a>
                </li>
            </ul>
            <div class="tab-content" id="ApplicationsTabContent">
                <div class="tab-pane fade show active" id="new-app" role="tabpanel" aria-labelledby="new-app-content">
                    <div class="block" v-for="(application, index) in newApps" :key="index" @click="openApplication">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>{{ newApplications[index].userName }}</h5>
                            <p>{{ newApplications[index].dateApplied }}</p>
                        </div>
                        <div class="convo-status">
                            <p class="status">{{ newApplications[index].status }}</p>
                        </div>
                    </div>
                    <div class="more-less d-flex justify-content-between text-center">
                        <a href="#" @click.stop.prevent="applicationsPerPage = applicationsPerPage >= newApplications.length ? applicationsPerPage : applicationsPerPage + 3" :disabled="applicationsPerPage >= newApplications.length"><i class="fas fa-plus"></i> More</a>
                        <a href="#" @click.stop.prevent="applicationsPerPage = applicationsPerPage > 3 ? applicationsPerPage - 3 : applicationsPerPage" :disabled="applicationsPerPage < 4"><i class="fas fa-minus"></i> Less</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="denied-app" role="tabpanel" aria-labelledby="denied-app-content">
                    <div class="block" v-for="(application, index) in deniedApps" :key="index" @click="openApplication">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>{{ deniedApplications[index].userName }}</h5>
                            <p>{{ deniedApplications[index].dateApplied }}</p>
                        </div>
                        <div class="convo-status">
                            <p class="status">{{ deniedApplications[index].status }}</p>
                        </div>
                    </div>
                    <div class="more-less d-flex justify-content-between text-center">
                        <a href="#" @click.stop.prevent="deniedPerPage = deniedPerPage >= deniedApplications.length ? deniedPerPage : deniedPerPage + 3" :disabled="deniedPerPage >= deniedApplications.length"><i class="fas fa-plus"></i> More</a>
                        <a href="#" @click.stop.prevent="deniedPerPage = deniedPerPage > 3 ? deniedPerPage - 3 : deniedPerPage" :disabled="deniedPerPage < 4"><i class="fas fa-minus"></i> Less</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                newApplications: null,
                deniedApplications: null,
                newApplicationsvisibleItems: null,
                newApplicationstotalItemsToShow: 0,
                deniedApplicationsvisibleItems: null,
                deniedApplicationstotalItemsToShow: 0,
                magazineDataSample: {
                    newApplications: [
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'John',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Smith',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Jane',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'Joe',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Jon',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Peter',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'John',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Smith',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Jane',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                    ],
                    deniedApplications: [
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'John',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Smith',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Jane',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'Joe',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Jon',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Peter',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'John',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Smith',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Jane',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                    ],
                },
                applicationsPerPage: 3,
                deniedPerPage: 3,
            }
        },

        created() {
            
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        computed: {
            newApps() {
                let newApps = [];
                for ( let i = 0; i < this.applicationsPerPage; i++) {
                    newApps.push(this.newApplicationsvisibleItems.slice(0, 2))
                }
                return newApps;
            },
            deniedApps() {
                let deniedApps = [];
                for ( let i = 0; i < this.deniedPerPage; i++) {
                    deniedApps.push(this.deniedApplicationsvisibleItems.slice(0, 2))
                }
                return deniedApps;
            }
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.newApplications = magazineData.newApplications;		// set local array to supplied objects related array		
				this.deniedApplications = magazineData.deniedApplications;		// set local array to supplied objects related array			
				this.newApplicationstotalItemsToShow = (this.newApplications.length > 25) ? 25 : this.newApplications.length;  // set the total items to a set value or if lower, show the total items count				
				this.newApplicationsvisibleItems = this.newApplications.slice(0, this.newApplicationstotalItemsToShow);  //copy objects to array used in control
				this.deniedApplicationstotalItemsToShow = (this.deniedApplications.length > 25) ? 25 : this.deniedApplications.length;  // set the total items to a set value or if lower, show the total items count				
				this.deniedApplicationsvisibleItems = this.deniedApplications.slice(0, this.deniedApplicationstotalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog

            },
            openApplication() {
                this.$router.push('/cms/application/');
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
    .cms-application-tab .nav-tabs .nav-link { border:0px; background-color: #ccc; border-radius: unset; color: #272727; font-family: "Oswald"; font-size: 13px; text-transform: uppercase; padding: 5px; }
    .cms-application-tab .nav-tabs .nav-item .nav-link.active { background-color: #ffc845 !important; }
    .cms-application-tab .nav-tabs .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .cms-application-tab .nav-tabs .nav-item:last-child .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    #ApplicationsTabContent { margin-top: 15px; }
    #ApplicationsTabContent .block { cursor: pointer; margin: 20px 0px; display: flex; align-items: center; justify-content: space-between; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    #ApplicationsTabContent .block .convo-thumb { width: 50px; height: 50px; }
    #ApplicationsTabContent .block .convo-thumb img { width: 100%; display: block; height: auto; border-radius: 50%; }
    #ApplicationsTabContent .block .convo-headings { margin-left: -110px; }
    #ApplicationsTabContent .block .convo-headings p { margin: 0px; font-size: 14px; }
    #ApplicationsTabContent .block .convo-status { text-align: center; }
    #ApplicationsTabContent .block .convo-status i { color: #727272; }
    #ApplicationsTabContent .block .convo-status p { margin: 0px; font-size: 12px; }
    #ApplicationsTabContent .more-less a { background-color: #ffc845; width: calc(50% - 7.5px); color: #272727; border-radius: 5px; padding: 8px; }
    
</style>