<template>
    <div style="width:100%">
        <router-view :key="$route.fullPath"></router-view>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               
            }
        },

        created() {
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
   
</style>