<template>
    <!-- Deny Response Modal -->
    <div class="modal fade" id="deny-response-modal" tabindex="-1" role="dialog" aria-labelledby="deny-response-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div v-if="loading" class="loading">
                                    Loading... 
                                </div>
                                <div class="modal-heading">
                                    <h2 class="text-uppercase">Deny Auto Responses</h2>
                                </div>
                                <div class="items">
                                    <div class="item">
                                        <h5 class="text-uppercase">Create new</h5>
                                        <a href="#" class="btn-create"><i class="fas fa-plus"></i> create</a>
                                    </div>
                                    <div class="item">
                                        <div>
                                            <h6>Profile Picture is not SFW</h6>
                                            <p>First 6 words of response</p>
                                        </div>
                                        <div>
                                            <a data-dismiss="modal" data-toggle="modal" href="#response-details-modal" class="btn-view">view</a>
                                            <a href="#" class="btn-send">send</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div>
                                            <h6>Falsified Records</h6>
                                            <p>First 6 words of response</p>
                                        </div>
                                        <div>
                                            <a data-dismiss="modal" data-toggle="modal" href="#response-details-modal" class="btn-view">view</a>
                                            <a href="#" class="btn-send">send</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div>
                                            <h6>Image is not clear</h6>
                                            <p>First 6 words of response</p>
                                        </div>
                                        <div>
                                            <a data-dismiss="modal" data-toggle="modal" href="#response-details-modal" class="btn-view">view</a>
                                            <a href="#" class="btn-send">send</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div>
                                            <h6>You must be 18 and above</h6>
                                            <p>First 6 words of response</p>
                                        </div>
                                        <div>
                                            <a data-dismiss="modal" data-toggle="modal" href="#response-details-modal" class="btn-view">view</a>
                                            <a href="#" class="btn-send">send</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div>
                                            <h6>ID Does Not Match</h6>
                                            <p>First 6 words of response</p>
                                        </div>
                                        <div>
                                            <a data-dismiss="modal" data-toggle="modal" href="#response-details-modal" class="btn-view">view</a>
                                            <a href="#" class="btn-send">send</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                usersList: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    usersList: [
                        {
                            userFname: 'John',
                            userPhotoUrl: 'images/1.jpg',
                            userLastMessage: 'April 12, 2020',
                            userPurchasePrice: '$4.00',
                            isAdded: false
                        },
                        {
                            userFname: 'Jane',
                            userPhotoUrl: 'images/1.jpg',
                            userLastMessage: 'April 20, 2020',
                            userPurchasePrice: '$9.00',
                            isAdded: false
                        }
                    ]
                },
                nameKeyword: '',
                searchedUser: [],
            }
        },

        created() {
            
        },

        mounted() {
            // this.searchedUser = this.usersList;
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.usersList = magazineData.usersList;		// 	// set local array to supplied objects related array			
				this.totalItemsToShow = (this.usersList.length > 25) ? 25 : this.usersList.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.usersList.slice(0, this.totalItemsToShow);  
				this.searchedUser = this.visibleItems;		// 	// set local array to supplied objects related array			
                this.loading = false; // loading data finished, stop showing loading dialog

            },
            addUser(index) {
                if(this.usersList[index].isAdded) {
                    this.usersList[index].isAdded = false;
                } else {
                    this.usersList[index].isAdded = true;
                }
            },
            searchUser(){
                let result = this.usersList
                if (!this.nameKeyword)
                    return this.searchedUser = result;
                
                const nameKeyword = this.nameKeyword.toLowerCase()

                const filter = this.usersList.filter(c => c.userFname.toLowerCase().indexOf(nameKeyword) > -1);
                this.searchedUser = filter;
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
    #deny-response-modal .modal-heading h2 { border-bottom: 3px solid #ffc845; padding-bottom: 3px; display: inline-block; }
    #deny-response-modal .items .item {
        display: flex;
        align-items: center;
        background-color: #fff;
        box-shadow: 3px 3px 6px #ccc;
        margin: 10px 0px;
        border-radius: 7px;
        padding: 15px;
        float: left;
        justify-content: space-between;
        height: 65px;
        font-family: "Oswald";
    }
    #deny-response-modal .items .item:nth-child(odd) {
        width: calc(50% - 10px);
        margin-right: 10px;
    }
    #deny-response-modal .items .item:nth-child(even) {
        width: calc(50% - 10px);
        margin-left: 10px;
    }
    #deny-response-modal .items .item p { font-family: "Segoe UI"; font-weight: 300; }
    #deny-response-modal .items .item p, #deny-response-modal .items .item h6, #deny-response-modal .items .item h5 { margin: 0px; }
    #deny-response-modal .items .item .btn-create {
        background-color: #CCCCCC;
        color: #272727;
        padding: 4px 30px;
        border-radius: 5px;
        font-weight: bold;
    }
    #deny-response-modal .items .item .btn-view {
        text-transform: uppercase;
        background-color: #CCCCCC;
        color: #272727;
        padding: 4px 18px;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 8px;
    }
    #deny-response-modal .items .item .btn-send {
        background-color: #ffc845;
        color: #272727;
        padding: 4px 18px;
        border-radius: 5px;
        font-weight: bold;
        text-transform: capitalize;
    }
</style>