<template>
    <div>
        <div class="cms-editors-choice d-flex justify-content-center">
            <div class="content-wrapper">
                <div class="name-wrapper">
                    <h2 class="text-uppercase">Editors choice</h2>
                    <div>
                        <ul class="nav nav-tabs" id="editors-choice-switch" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-uppercase" data-toggle="tab" href="#current-view" role="tab" aria-controls="current-view" aria-selected="true">Current View</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" data-toggle="tab" href="#scheduled-view" role="tab" aria-controls="scheduled-view" aria-selected="false">Scheduled View</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="editors-choice-content">
                            <div class="tab-pane fade show active" id="current-view" role="tabpanel" aria-labelledby="current-view-tab">
                                <div v-if="loading" class="loading">
                                    Loading... 
                                </div>
                                <div class="carousel-wrapper" v-if="choices">
                                    <div class="carousel-content">
                                        <div class="owl-carousel owl-theme editors-choice-carousel">
                                            <article class="item" v-for="(post, index) in visibleItems" :key="index">
                                                <div class="post-thumb img-responsive">
                                                    <img :src="post.modelImageUrl" alt="Photo of Bella Fox">
                                                    <div class="btn-remove-wrapper">
                                                        <a href="#">Remove</a>
                                                    </div>
                                                </div>
                                                <div class="item-content">
                                                    <div class="post-content">
                                                        <p class="post-title">{{ post.modelName }}</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="fields-wrapper">
                                        <div class="upperfields">
                                            <div class="left">
                                                <div class="form-group">
                                                    <label>Article Title</label>
                                                    <input type="text" class="form-control" aria-describedby="Article Title" placeholder="text here">
                                                </div>
                                                <div class="form-group">
                                                    <label>Publish Date</label>
                                                    <input type="text" class="form-control date" aria-describedby="Publish Date" placeholder="date">
                                                </div>
                                                <div class="form-group">
                                                    <label>Member 1</label>
                                                    <input type="text" class="form-control" aria-describedby="Member 1" placeholder="link here">
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="form-group">
                                                    <label>Article Text</label>
                                                    <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="text here"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lowerfields">
                                            <div class="form-group">
                                                <label>Member 2</label>
                                                <input type="text" class="form-control" aria-describedby="Member 2" placeholder="link here">
                                            </div>
                                            <div class="form-group">
                                                <label>Member 3</label>
                                                <input type="text" class="form-control" aria-describedby="Member 3" placeholder="link here">
                                            </div>
                                            <div class="form-group">
                                                <label>Member 4</label>
                                                <input type="text" class="form-control" aria-describedby="Member 4" placeholder="link here">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="scheduled-view" role="tabpanel" aria-labelledby="scheduled-view-tab">
                                <div v-if="loading" class="loading">
                                    Loading... 
                                </div>
                                <div class="carousel-wrapper" v-if="choices">
                                    <div class="carousel-content">
                                        <div class="owl-carousel owl-theme editors-choice-carousel">
                                            <article class="item" v-for="(post, index) in visibleItems" :key="index">
                                                <div class="post-thumb img-responsive">
                                                    <img :src="post.modelImageUrl" alt="Photo of Bella Fox">
                                                    <div class="btn-remove-wrapper">
                                                        <a href="#">Remove</a>
                                                    </div>
                                                </div>
                                                <div class="item-content">
                                                    <div class="post-content">
                                                        <p class="post-title">{{ post.modelName }}</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <div class="fields-wrapper">
                                        <div class="upperfields">
                                            <div class="left">
                                                <div class="form-group">
                                                    <label>Article Title</label>
                                                    <input type="text" class="form-control" aria-describedby="Article Title" placeholder="text here">
                                                </div>
                                                <div class="form-group">
                                                    <label>Publish Date</label>
                                                    <input type="text" class="form-control" aria-describedby="Publish Date" placeholder="date">
                                                </div>
                                                <div class="form-group">
                                                    <label>Member 1</label>
                                                    <input type="text" class="form-control" aria-describedby="Member 1" placeholder="link here">
                                                </div>
                                            </div>
                                            <div class="right">
                                                <div class="form-group">
                                                    <label>Article Text</label>
                                                    <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="text here"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lowerfields">
                                            <div class="form-group">
                                                <label>Member 2</label>
                                                <input type="text" class="form-control" aria-describedby="Member 2" placeholder="link here">
                                            </div>
                                            <div class="form-group">
                                                <label>Member 3</label>
                                                <input type="text" class="form-control" aria-describedby="Member 3" placeholder="link here">
                                            </div>
                                            <div class="form-group">
                                                <label>Member 4</label>
                                                <input type="text" class="form-control" aria-describedby="Member 4" placeholder="link here">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <cmsqueuedlist></cmsqueuedlist>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                choices: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    choices: [
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/13.jpg'
                        },
                    ]
                },
            }
        },

        created() {
            
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.choices = magazineData.choices;		// 	// set local array to supplied objects related array			
				this.totalItemsToShow = (this.choices.length > 25) ? 25 : this.choices.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.choices.slice(0, this.totalItemsToShow);  	
                this.loading = false; // loading data finished, stop showing loading dialog
                
                $("input.date").datepicker();
                setTimeout(() => {
                    $(".editors-choice-carousel").owlCarousel({
                        nav:true,
                        loop: true,
                        dots:false,
                        margin:10,
                        navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            992:{
                                items:3
                            },
                            1000:{
                                items:4
                            }
                        }
                    });
                }, 1000);
            },
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
    .cms-editors-choice .content-wrapper { width: 90%; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; padding: 15px; border-radius: 7px; margin: 15px; }
    .cms-editors-choice .content-wrapper .profile-photo { height: 150px; width: 25%; background-size: cover; background-position: center center; border-radius: 10px; float: left; margin-right: 17px; }
    .cms-editors-choice .content-wrapper .name-wrapper h2 { border-bottom: 3px solid #ffc845; display: inline-block; padding-bottom: 3px; }
    .cms-editors-choice .content-wrapper #editors-choice-switch { margin-top: 10px; border-bottom: unset; }
    .cms-editors-choice .content-wrapper #editors-choice-switch .nav-item .nav-link { padding: 1px 30px; background-color: #ccc !important; border: unset; color: #272727 !important; font-family: "Oswald"; font-size: 18px; border-radius: 0px; }
    .cms-editors-choice .content-wrapper #editors-choice-switch .nav-item .nav-link.active { background-color: #ffc845 !important; }
    .cms-editors-choice .content-wrapper #editors-choice-switch .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .cms-editors-choice .content-wrapper #editors-choice-switch .nav-item:nth-child(2) .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    .cms-editors-choice .content-wrapper #editors-choice-switch #editors-choice-content { margin-top: 25px; }
    .cms-editors-choice .content-wrapper #editors-choice-content .carousel-wrapper { padding: 10px; box-shadow: 0px 3px 12px 4px #ccc; margin: 20px 0px; border-radius: 7px; }
    .cms-editors-choice .content-wrapper #editors-choice-content .carousel-wrapper .carousel-content { width: 85%; margin: 30px auto 0px; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper { margin: 10px; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper .form-control { box-shadow: 0px 3px 12px 4px #ccc; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper .upperfields { display: flex; flex-wrap: wrap; flex-direction: row; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper .form-group label { font-weight: 300; font-family: "Segoe UI"; font-size: 16px; margin-bottom: 0px; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper .upperfields .left { display: flex; flex-wrap: wrap; width: 45%; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper .upperfields .left .form-group:not(:last-child) { width: calc(50% - 10px); margin-right: 10px; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper .upperfields .left .form-group:last-child { width: 75%; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper .upperfields .right { width: 55%; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper .upperfields .right .form-group textarea { width: 100%; }
    .cms-editors-choice .content-wrapper #editors-choice-content .fields-wrapper .lowerfields { display: flex; justify-content: space-between; }
</style>