<template>
    <div>
        <div class="queued-list-wrapper freshly-posted d-flex justify-content-center">
            <div class="content-wrapper">
                <div class="name-wrapper">
                    <h2 class="text-uppercase">freshly Posted</h2>
                    <div>
                        <ul class="nav nav-tabs" id="editors-choice-switch" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-uppercase" data-toggle="tab" href="#current-view" role="tab" aria-controls="current-view" aria-selected="true">Current View</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" data-toggle="tab" href="#scheduled-view" role="tab" aria-controls="scheduled-view" aria-selected="false">Scheduled View</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="editors-choice-content">
                            <div class="tab-pane fade show active" id="current-view" role="tabpanel" aria-labelledby="queued-list-tab">
                                <div v-if="loading" class="loading">
                                    Loading... 
                                </div>
                                <div class="carousel-wrapper" v-if="lists">
                                    <div class="carousel-content">
                                        <div class="current-view-list-carousel">
                                            <article class="slide-item" v-for="(post, index) in visibleItems" :key="index">
                                                <div class="post-thumb img-responsive">
                                                    <img :src="post.modelImageUrl" alt="Photo of Bella Fox">
                                                    <div class="btn-remove-wrapper">
                                                        <a href="#">Remove</a>
                                                    </div>
                                                </div>
                                                <div class="item-content">
                                                    <div class="post-content">
                                                        <p class="post-title">{{ post.modelName }}</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="scheduled-view" role="tabpanel" aria-labelledby="search-artists-tab">
                                <div v-if="loading" class="loading">
                                    Loading... 
                                </div>
                                <div class="carousel-wrapper" v-if="lists">
                                    <div class="carousel-content">
                                        <div class="scheduled-view-list-carousel">
                                            <article class="slide-item" v-for="(post, index) in visibleItems" :key="index">
                                                <div class="post-thumb img-responsive">
                                                    <img :src="post.modelImageUrl" alt="Photo of Bella Fox">
                                                    <div class="btn-remove-wrapper">
                                                        <a href="#">Remove</a>
                                                    </div>
                                                </div>
                                                <div class="item-content">
                                                    <div class="post-content">
                                                        <p class="post-title">{{ post.modelName }}</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="fields-wrapper">
                                    <div class="form-group">
                                        <label>Published Date</label>
                                        <input type="text" class="form-control date" aria-describedby="Published Date" placeholder="date here">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <cmsqueuedlist></cmsqueuedlist>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                lists: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    lists: [
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelImageUrl: 'http://localhost/modelpostmagazine/images/1.jpg'
                        },
                    ]
                },
            }
        },

        created() {
            
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.lists = magazineData.lists;		// 	// set local array to supplied objects related array			
				this.totalItemsToShow = (this.lists.length > 25) ? 25 : this.lists.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.lists.slice(0, this.totalItemsToShow);  	
                this.loading = false; // loading data finished, stop showing loading dialog
                
                $("input.date").datepicker();
                setTimeout(() => {
                    $('.current-view-list-carousel').slick({
                        rows: 3,
                        infinite: true,
                        speed: 300,
                        slidesToShow: 4,
                        slidesToScroll: 2,
                        nextArrow: '<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><i class="fas fa-angle-right"></i></button>',
                        prevArrow: '<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><i class="fas fa-angle-left"></i></button>',
                    });
                    $('.scheduled-view-list-carousel').slick({
                        rows: 3,
                        infinite: true,
                        speed: 300,
                        slidesToShow: 4,
                        slidesToScroll: 2,
                        nextArrow: '<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><i class="fas fa-angle-right"></i></button>',
                        prevArrow: '<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><i class="fas fa-angle-left"></i></button>',
                    });
                }, 1000);
            },
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
    .queued-list-wrapper .content-wrapper { width: 90%; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; padding: 15px; border-radius: 7px; margin: 15px; }
    .queued-list-wrapper .content-wrapper .profile-photo { height: 150px; width: 25%; background-size: cover; background-position: center center; border-radius: 10px; float: left; margin-right: 17px; }
    .queued-list-wrapper .content-wrapper .name-wrapper h2 { border-bottom: 3px solid #ffc845; display: inline-block; padding-bottom: 3px; }
    .queued-list-wrapper .content-wrapper #editors-choice-switch { margin-top: 10px; border-bottom: unset; }
    .queued-list-wrapper .content-wrapper #editors-choice-switch .nav-item .nav-link { padding: 1px 30px; background-color: #ccc !important; border: unset; color: #272727 !important; font-family: "Oswald"; font-size: 18px; border-radius: 0px; }
    .queued-list-wrapper .content-wrapper #editors-choice-switch .nav-item .nav-link.active { background-color: #ffc845 !important; }
    .queued-list-wrapper .content-wrapper #editors-choice-switch .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .queued-list-wrapper .content-wrapper #editors-choice-switch .nav-item:nth-child(2) .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    .queued-list-wrapper .content-wrapper #editors-choice-switch #editors-choice-content { margin-top: 25px; }
    .queued-list-wrapper .content-wrapper #editors-choice-content .carousel-wrapper { padding: 10px; box-shadow: 0px 3px 12px 4px #ccc; margin: 20px 0px; border-radius: 7px; }
    .queued-list-wrapper .content-wrapper #editors-choice-content .carousel-wrapper .carousel-content { width: 85%; margin: 30px auto 0px; }
    .queued-list-wrapper .content-wrapper #editors-choice-content .fields-wrapper { margin-top: 30px; display: flex; justify-content: center; }
    .queued-list-wrapper .content-wrapper #editors-choice-content .fields-wrapper .form-control { box-shadow: 0px 3px 12px 4px #ccc; }
    .queued-list-wrapper .content-wrapper #editors-choice-content .fields-wrapper .form-group label { font-weight: 300; font-family: "Segoe UI"; font-size: 16px; margin-bottom: 0px; }
</style>