<template>
    <div>
       <cmsmembersmonth v-if="sectionID == 1"></cmsmembersmonth>
       <cmsfreshpost v-if="sectionID == 2"></cmsfreshpost>
       <cmseditorschoice v-if="sectionID == 3"></cmseditorschoice>
       <cmsmonthlyfeature v-if="sectionID == 11"></cmsmonthlyfeature>
    </div>
</template>

<script>
    import store from '../store/store';
    export default {
        
        data: () => {
            return {
               sectionID: null,
            }
        },

        created() {
            this.sectionID = this.$route.params.id;
        },

        computed: {
            // getResponseData: function() {
			// 	console.log(store.getters.getResponseData);
			// 	// return this.responseData(store.getters.getResponseData);
			// },
        },

        mounted() {
            console.log("fdgdfg", this.sectionID)
        },

        methods: {
            
        }
    }
</script>
<style scoped>
   
</style>