<template>
    <!-- Response Details Modal -->
    <div class="modal fade" id="response-details-modal" tabindex="-1" role="dialog" aria-labelledby="response-details-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="modal-heading">
                                    <h2 class="text-uppercase">Auto Response details</h2>
                                </div>
                                <form action="" method="post">
                                    <div class="input-group mb-3">
                                        <div class="search-user-wrapper">
                                            <input type="text" placeholder="Profile Picture is not SFW" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="search-user-wrapper">
                                            <textarea name="" id="" cols="30" rows="10" placeholder="This section will display the auto response message. The user should be able to edit this text here and save it"></textarea>
                                        </div>
                                    </div>
                                    <div class="btns-wrapper">
                                        <a href="#" class="btn-delete">Delete</a>
                                        <a href="#" class="btn-cancel" data-dismiss="modal">Cancel</a>
                                        <a href="#" class="btn-save">Save</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                
            }
        },

        created() {
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    #response-details-modal .modal-heading h2 { border-bottom: 3px solid #ffc845; padding-bottom: 3px; display: inline-block; }
    #response-details-modal form { margin-top: 15px; }
    #response-details-modal form .input-group  div { width: 100%; }
    #response-details-modal form .input-group  div input { box-shadow: 0px 3px 12px 4px #ccc; }
    #response-details-modal form .input-group  textarea {
        padding: 6px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 100%;
        box-shadow: 0px 3px 12px 4px #ccc;
    }
    #response-details-modal form .btns-wrapper {
        display: flex;
        justify-content: space-between;
    }
    #response-details-modal form .btns-wrapper .btn-delete {
        background-color: #F97676;
        color: #272727;
        padding: 12px 15px;
        border-radius: 5px;
        font-family: "Oswald";
        font-size: 18px;
    }
    #response-details-modal form .btns-wrapper .btn-cancel {
        background-color: #cccccc;
        color: #272727;
        padding: 12px 40px;
        border-radius: 5px;
        font-family: "Oswald";
        font-size: 18px;
        margin-right: -50px;
    }
    #response-details-modal form .btns-wrapper .btn-save {
        background-color: #ffc845;
        color: #272727;
        padding: 12px 65px;
        border-radius: 5px;
        font-family: "Oswald";
        font-size: 18px;
    }
</style>