<template>
    <div class="cms-application-tab">
        <div>
            <ul class="nav nav-tabs nav-justified" id="reported-app-tab-filter" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#reported-app" role="tab" aria-controls="all" aria-selected="true">Reported</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#member-edited-app" role="tab" aria-controls="search" aria-selected="false">member edited</a>
                </li>
            </ul>
            <div class="tab-content" id="ApplicationsTabContent">
                <div class="tab-pane fade show active" id="reported-app" role="tabpanel" aria-labelledby="reported-app-content">
                    <div v-if="loading" class="loading">
                        Loading... 
                    </div>
                    <div class="block" v-for="(report, index) in comReported" :key="index" @click="openReported">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>{{ reported[index].userName }}</h5>
                            <p>{{ reported[index].dateApplied }}</p>
                        </div>
                        <div class="convo-status">
                            <p class="status">{{ reported[index].status }}</p>
                        </div>
                    </div>
                    <div class="more-less d-flex justify-content-between text-center">
                        <a href="#" @click.stop.prevent="reportedPerPage = reportedPerPage >= reported.length ? reportedPerPage : reportedPerPage + 3" :disabled="reportedPerPage >= reported.length"><i class="fas fa-plus"></i> More</a>
                        <a href="#" @click.stop.prevent="reportedPerPage = reportedPerPage > 3 ? reportedPerPage - 3 : reportedPerPage" :disabled="reportedPerPage < 4"><i class="fas fa-minus"></i> Less</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="member-edited-app" role="tabpanel" aria-labelledby="member-edited-app-content">
                    <div v-if="loading" class="loading">
                        Loading... 
                    </div>
                    <div class="block" v-for="(memberEdit, index) in comMemberEdited" :key="index" @click="openReported">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>{{ memberEdited[index].userName }}</h5>
                            <p>{{ memberEdited[index].dateApplied }}</p>
                        </div>
                        <div class="convo-status">
                            <p class="status">{{ memberEdited[index].status }}</p>
                        </div>
                    </div>
                    <div class="more-less d-flex justify-content-between text-center">
                        <a href="#" @click.stop.prevent="memberEditedPerPage = memberEditedPerPage >= memberEdited.length ? memberEditedPerPage : memberEditedPerPage + 3" :disabled="memberEditedPerPage >= memberEdited.length"><i class="fas fa-plus"></i> More</a>
                        <a href="#" @click.stop.prevent="memberEditedPerPage = memberEditedPerPage > 3 ? memberEditedPerPage - 3 : memberEditedPerPage" :disabled="memberEditedPerPage < 4"><i class="fas fa-minus"></i> Less</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                reported: null,
                memberEdited: null,
                reportedvisibleItems: null,
                reportedtotalItemsToShow: 0,
                memberEditedvisibleItems: null,
                memberEditedtotalItemsToShow: 0,
                magazineDataSample: {
                    reported: [
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'John',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Smith',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Jane',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'Joe',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Jon',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Peter',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'John',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Smith',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Jane',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                    ],
                    memberEdited: [
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'John',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Smith',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Jane',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'Joe',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Jon',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Peter',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                        {
                            userImageUrl: 'images/1.jpg',
                            userName: 'John',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/3.png',
                            userName: 'Smith',
                            dateApplied: 'June 20, 2020',
                            status: 'Pending'
                        },
                        {
                            userImageUrl: 'images/4.jpg',
                            userName: 'Jane',
                            dateApplied: 'June 20, 2020',
                            status: 'Viewed'
                        },
                    ],
                },
               reportedPerPage: 3,
               memberEditedPerPage: 3,
            }
        },

        created() {
            
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        computed: {
            comReported() {
                let newApps = [];
                for ( let i = 0; i < this.reportedPerPage; i++) {
                    newApps.push(this.reportedvisibleItems.slice(0, 2))
                }
                return newApps;
            },
            comMemberEdited() {
                let deniedApps = [];
                for ( let i = 0; i < this.memberEditedPerPage; i++) {
                    deniedApps.push(this.memberEditedvisibleItems.slice(0, 2))
                }
                return deniedApps;
            }
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.reported = magazineData.reported;		// set local array to supplied objects related array		
				this.memberEdited = magazineData.memberEdited;		// set local array to supplied objects related array			
				this.reportedtotalItemsToShow = (this.reported.length > 25) ? 25 : this.reported.length;  // set the total items to a set value or if lower, show the total items count				
				this.reportedvisibleItems = this.reported.slice(0, this.reportedtotalItemsToShow);  //copy objects to array used in control
				this.memberEditedtotalItemsToShow = (this.memberEdited.length > 25) ? 25 : this.memberEdited.length;  // set the total items to a set value or if lower, show the total items count				
				this.memberEditedvisibleItems = this.memberEdited.slice(0, this.memberEditedtotalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog

            },
            openReported() {
                this.$router.push('/cms/reported/');
            }
        }
    }
</script>
<style scoped>
    .cms-application-tab .nav-tabs .nav-link { border:0px; background-color: #ccc; border-radius: unset; color: #272727; font-family: "Oswald"; font-size: 13px; text-transform: uppercase; padding: 5px; }
    .cms-application-tab .nav-tabs .nav-item .nav-link.active { background-color: #F97676 !important; }
    .cms-application-tab .nav-tabs .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .cms-application-tab .nav-tabs .nav-item:last-child .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    #ApplicationsTabContent { margin-top: 15px; }
    #ApplicationsTabContent .block { cursor: pointer; margin: 20px 0px; display: flex; align-items: center; justify-content: space-between; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    #ApplicationsTabContent .block .convo-thumb { width: 50px; height: 50px; }
    #ApplicationsTabContent .block .convo-thumb img { width: 100%; display: block; height: auto; border-radius: 50%; }
    #ApplicationsTabContent .block .convo-headings { margin-left: -110px; }
    #ApplicationsTabContent .block .convo-headings p { margin: 0px; font-size: 14px; }
    #ApplicationsTabContent .block .convo-status { text-align: center; }
    #ApplicationsTabContent .block .convo-status i { color: #727272; }
    #ApplicationsTabContent .block .convo-status p { margin: 0px; font-size: 12px; }
    #ApplicationsTabContent .more-less a { background-color: #ffc845; width: calc(50% - 7.5px); color: #272727; border-radius: 5px; padding: 8px; }
    
</style>