<template>
    <div class="single-app d-flex justify-content-center">
        <div class="content-wrapper">
            <div class="profile-photo" style="background-image: url(http://localhost/modelpostmagazine/images/13.jpg);"></div>
            <div class="name-wrapper">
                <h2>Jessica Parker</h2>
                <div class="btns-wrapper">
                    <button type="submit" class="btn btn-primary btn-approve">Approve</button>
                    <button type="button" class="btn btn-primary btn-deny" data-toggle="modal" data-target="#deny-response-modal">Deny</button>
                </div>
            </div>
            <form>
                <div class="input-wrapper">
                    <div class="form-group">
                        <label>Report #</label>
                        <input type="number" class="form-control" aria-describedby="Report #" placeholder="#">
                    </div>
                    <div class="form-group">
                        <label>Reported by</label>
                        <input type="text" class="form-control" aria-describedby="Reported by" placeholder="Reported by">
                    </div>
                    <div class="form-group">
                        <label>Date & Time</label>
                        <input type="text" class="form-control date-time" aria-describedby="Date & Time" placeholder="Date & Time">
                    </div>
                    <div class="form-group">
                        <label>Reported Message</label>
                        <textarea name="" id="" cols="30" rows="5" placeholder="text here"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Last Reported</label>
                        <input type="text" class="form-control last-reported" aria-describedby="Last Reported" placeholder="Last Reported">
                    </div>
                </div>
                <div class="notes-wrapper">
                    <div class="block">
                        <div class="heading">
                            <h5>Add Note</h5>
                            <a href="#" class="text-uppercase">create</a>
                        </div>
                    </div>
                    <div v-if="loading" class="loading">
                        Loading... 
                    </div>
                    <div class="block" v-for="(note, index) in comNotes" :key="index" :id="index">
                        <div class="heading">
                            <h5>#{{ notes[index].number }} | {{ notes[index].date }}</h5>
                            <a href="#" class="toggle-show" @click.stop.prevent="toggleNote(index)">view</a>
                            <a href="#" class="toggle-hide" @click.stop.prevent="toggleNote(index)">close</a>
                        </div>
                        <div class="content">
                            <p>{{ notes[index].content }}</p>
                        </div>
                    </div>
                    <div class="more-less">
                        <a href="#" @click.stop.prevent="notesPerPage = notesPerPage >= notes.length ? notesPerPage : notesPerPage + 3" :disabled="notesPerPage >= notes.length"><i class="fas fa-plus"></i> More</a>
                        <a href="#" @click.stop.prevent="notesPerPage = notesPerPage > 3 ? notesPerPage - 3 : notesPerPage" :disabled="notesPerPage < 4"><i class="fas fa-minus"></i> Less</a>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
            <div class="files-wrapper">
                <div class="item">
                    <div class="image" style="background-image: url(http://localhost/modelpostmagazine/images/3.png);"></div>
                    <div class="status">
                        <h6>Reported</h6>
                    </div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(http://localhost/modelpostmagazine/images/1.jpg);"></div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(http://localhost/modelpostmagazine/images/1.jpg);"></div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(http://localhost/modelpostmagazine/images/1.jpg);"></div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(http://localhost/modelpostmagazine/images/1.jpg);"></div>
                </div>
                <div class="item">
                    <div class="image" style="background-image: url(http://localhost/modelpostmagazine/images/1.jpg);"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                notes: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    notes: [
                        {
                            number: '1',
                            date: '31/01/2020',
                            content: 'This will display notes that a CMS user may add regarding this reported violation',
                            
                        },
                        {
                            number: '2',
                            date: '31/01/2020',
                            content: 'This will display notes that a CMS user may add regarding this reported violation',
                            
                        },
                        {
                            number: '3',
                            date: '31/01/2020',
                            content: 'This will display notes that a CMS user may add regarding this reported violation',
                            
                        },
                        {
                            number: '4',
                            date: '31/01/2020',
                            content: 'This will display notes that a CMS user may add regarding this reported violation',
                            
                        },
                        {
                            number: '5',
                            date: '31/01/2020',
                            content: 'This will display notes that a CMS user may add regarding this reported violation',
                            
                        },
                        {
                            number: '6',
                            date: '31/01/2020',
                            content: 'This will display notes that a CMS user may add regarding this reported violation',
                            
                        },
                    ],
                },
                notesPerPage: 3,
            }
        },

        created() {
            
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);

            $( ".last-reported" ).datepicker();
            $( ".date-time" ).datetimepicker();
            this.initNote();
        },

        computed: {
            comNotes() {
                let notesArr = [];
                for ( let i = 0; i < this.notesPerPage; i++) {
                    notesArr.push(this.visibleItems.slice(0, 2))
                }
                return notesArr;
            }
        },

        methods: {
             LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.notes = magazineData.notes;		// 	// set local array to supplied objects related array			
				this.totalItemsToShow = (this.notes.length > 25) ? 25 : this.notes.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.notes.slice(0, this.totalItemsToShow);  	
                this.loading = false; // loading data finished, stop showing loading dialog
               
            },
            initNote() {
                if ($(".single-app .content-wrapper form .notes-wrapper .block").hasClass("show-content")) {
                    $(".single-app .content-wrapper form .notes-wrapper .block .toggle-show").hide();
                    $(".single-app .content-wrapper form .notes-wrapper .block .toggle-hide").show();
                    $(".single-app .content-wrapper form .notes-wrapper .block").removeClass('show-content');
                    $(".single-app .content-wrapper form .notes-wrapper .block").addClass('hide-content');
                    $(".single-app .content-wrapper form .notes-wrapper .block .content").slideToggle();
                } else {
                    $(".single-app .content-wrapper form .notes-wrapper .block .toggle-hide").hide();
                    $(".single-app .content-wrapper form .notes-wrapper .block .toggle-show").show();
                    $(".single-app .content-wrapper form .notes-wrapper .block").removeClass('hide-content');
                    $(".single-app .content-wrapper form .notes-wrapper .block").addClass('show-content');
                    $(".single-app .content-wrapper form .notes-wrapper .block .content").slideToggle();
                }
            },
            toggleNote(index) {
                if ($(".single-app .content-wrapper form .notes-wrapper .block#"+index).hasClass("show-content")) {
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index+" .toggle-show").hide();
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index+" .toggle-hide").show();
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index).removeClass('show-content');
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index).addClass('hide-content');
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index+" .content").slideToggle();
                } else {
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index+" .toggle-hide").hide();
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index+" .toggle-show").show();
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index).removeClass('hide-content');
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index).addClass('show-content');
                    $(".single-app .content-wrapper form .notes-wrapper .block#"+index+" .content").slideToggle();
                }
            }
        }
    }
</script>
<style scoped>
    .single-app .content-wrapper {
       width: 90%;
        background-color: #fff;
        box-shadow: 0px 3px 12px 4px #ccc;
        padding: 15px;
        border-radius: 7px;
        margin: 15px;
    }
    .single-app .content-wrapper .profile-photo {
        height: 150px;
        width: 25%;
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
        float: left;
        margin-right: 17px;
    }
    .single-app .content-wrapper .name-wrapper h2 {
        border-bottom: 3px solid #ffc845;
        display: inline-block;
        padding-bottom: 3px;
    }
    .single-app .content-wrapper form {
        margin-top: 8px;
        width: 100%;
        position: relative;
    }
    .single-app .content-wrapper form input, .single-app .content-wrapper form textarea {
        box-shadow: 0px 3px 12px 4px #ccc;
        border-radius: 7px;
    }
    .single-app .content-wrapper form .input-wrapper { width: 62%; }
    .single-app .content-wrapper form .form-group { display: inline-block; }
    .single-app .content-wrapper form .form-group textarea { width: 100%; }
    .single-app .content-wrapper form .form-group:nth-child(1) {
        width: 15%;
        margin-right: 15px;
    }
    .single-app .content-wrapper form .form-group:nth-child(2){
        width: calc(43% - 30px);
    }
    .single-app .content-wrapper form .form-group:nth-child(3), .single-app .content-wrapper form .form-group:nth-child(5){
        width: 41%;
        margin-right: 15px;
        float: left;
    }
    .single-app .content-wrapper form .form-group:nth-child(4){
        width: calc(59% - 15px);
        float: right;
    }
    .single-app .content-wrapper form .notes-wrapper {
        width: calc(38% - 15px);
        position: relative;
        right: 0;
        top: 0;
        margin-left: 15px;
        float: right;
        margin-top: -306px;
    }
    .single-app .content-wrapper form .notes-wrapper .block {
        box-shadow: 0px 3px 12px 4px #ccc;
        padding: 12px;
        border-radius: 7px;
        margin: 12px 0px;
    }
    .single-app .content-wrapper form .notes-wrapper .block .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .single-app .content-wrapper form .notes-wrapper .block .heading h5 {
        margin: 0px;
    }
    .single-app .content-wrapper form .notes-wrapper .block .heading a {
        color: #272727;
        background-color: #ffc845;
        font-family: "Oswald";
        padding: 0px 25px;
        border-radius: 7px;
    }
    .single-app .content-wrapper form .notes-wrapper .block .content {
        margin: 10px 0px;
    }
    .single-app .content-wrapper form .notes-wrapper .block .content p {
        font-weight: 300;
        font-size: 16px;
        margin: 0px;
    }
    .single-app .content-wrapper form .notes-wrapper .block .toggle-show { display: none; }
    .single-app .content-wrapper form .notes-wrapper .more-less {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .single-app .content-wrapper form .notes-wrapper .more-less a {
        background-color: #ffc845;
        color: #272727;
        padding: 6px 15px;
        border-radius: 5px;
    }
    .single-app .content-wrapper form .notes-wrapper .more-less a:first-child { margin-right: 7.5px; }
    .single-app .content-wrapper form .notes-wrapper .more-less a:last-child { margin-left: 7.5px; }
    .single-app .content-wrapper .btns-wrapper {
        display: flex;
    }
    .single-app .content-wrapper .files-wrapper {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .single-app .content-wrapper .files-wrapper .item { position: relative; width: calc(33.3% - 10px); margin: 5px; }
    .single-app .content-wrapper .files-wrapper .item .image {
        width: 100%;
        height: 170px;
        border-radius: 7px;
        background-size: cover;
    }
    .single-app .content-wrapper .files-wrapper .item .status {
        position: absolute;
        bottom: 12px;
    }
    .single-app .content-wrapper .files-wrapper .item .status h6 {
        background-color: #F97676;
        display: inline-block;
        padding: 5px 80px 5px 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .single-app .content-wrapper .btns-wrapper .btn-deny {
        background-color: #F97676;
        color: #fff;
        border-color: #F97676;
        width: 110px;
        padding: 1px;
        font-family: "Oswald";
        border-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .single-app .content-wrapper .btns-wrapper .btn-approve {
        background-color: #ffc845;
        color: #272727;
        border-color: #ffc845;
        width: 110px;
        padding: 1px;
        font-family: "Oswald";
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
</style>