<template>
    <div class="single-user d-flex justify-content-center">
        <div class="content-wrapper">
            <div class="name-wrapper">
                <h2 class="text-uppercase">User Name</h2>
            </div>
            <div>
                <form action="">
                    <div class="inner-wrapper">
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" aria-describedby="User Name" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <label>User Email</label>
                            <input type="email" class="form-control" aria-describedby="User Email" placeholder="User Email">
                        </div>
                        <div class="form-group">
                            <label>User Level</label>
                            <select name="" id="" class="form-control">
                                <option value="admin-user">Admin User</option>
                                <option value="super-user">Super User</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Remove User</label>
                            <select name="" id="" class="form-control">
                                <option value="no">No - Keep User</option>
                                <option value="yes">Yes - Remove User</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Applications Processed</label>
                            <input type="number" class="form-control" aria-describedby="Applications Processed" placeholder="#">
                        </div>
                        <div class="form-group">
                            <label>Reports Processed</label>
                            <input type="number" class="form-control" aria-describedby="Reports Processed" placeholder="#">
                        </div>
                    </div>
                    <div class="btns-wrapper">
                        <a href="#">save changes</a>
                        <a href="#">reset password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               
            }
        },

        created() {
            
        },

        mounted() {
            //userID
            var userID = this.$route.params.id;
        },

        computed: {
            
        },

        methods: {
            
        },
    }
</script>
<style scoped>
    .single-user .content-wrapper {
       width: 90%;
        background-color: #fff;
        box-shadow: 0px 3px 12px 4px #ccc;
        padding: 15px;
        border-radius: 7px;
        margin: 15px;
    }
    .single-user .content-wrapper .profile-photo {
        height: 150px;
        width: 25%;
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
        float: left;
        margin-right: 17px;
    }
    .single-user .content-wrapper .name-wrapper h2 {
        border-bottom: 3px solid #ffc845;
        display: inline-block;
        padding-bottom: 3px;
    }
    .single-user .content-wrapper .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .single-user .content-wrapper .inner-wrapper .form-group {
        width: calc(25% - 10px);
        margin: 1rem 5px;
    }
    .single-user .content-wrapper .inner-wrapper .form-group .form-control {
        box-shadow: 0px 3px 12px 4px #ccc;
        border-radius: 7px;
    }
    .single-user .content-wrapper .btns-wrapper {
        text-align: center;
        margin: 40px 0px 20px;
    }
    .single-user .content-wrapper .btns-wrapper a {
        background-color: #ffc845;
        color: #272727;
        font-family: "Oswald";
        padding: 2px 40px;
        border-radius: 5px;
        margin: 0px 10px;
        font-size: 23px;
    }
</style>