<template>
    <div class="single-app d-flex justify-content-center">
        <div class="content-wrapper">
            <div class="profile-photo" style="background-image: url(http://localhost/modelpostmagazine/images/13.jpg);"></div>
            <div class="name-wrapper">
                <h2>Jessica Parker</h2>
            </div>
            <form>
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" aria-describedby="Country" placeholder="Country">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" aria-describedby="City" placeholder="City">
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <input type="text" class="form-control" aria-describedby="Type" placeholder="Type">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" aria-describedby="Address" placeholder="Address">
                </div>
                <div class="form-group">
                    <label>Postal/Zip Code</label>
                    <input type="text" class="form-control" aria-describedby="Postal/Zip Code" placeholder="Postal/Zip Code">
                </div>
                <div class="form-group">
                    <label>Expiry Date</label>
                    <input type="text" class="form-control expiry-date" aria-describedby="Expiry Date" placeholder="Expiry Date">
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <input type="text" class="form-control birth-date" aria-describedby="Date of Birth" placeholder="Date of Birth">
                </div>
                <div class="form-group">
                    <label>Referrer</label>
                    <input type="text" class="form-control" aria-describedby="Referrer" placeholder="Referrer">
                </div>
                <div class="id-wrapper">
                    <div class="item">
                        <img src="http://localhost/modelpostmagazine/images/3.png" alt="">
                        <h5>ID Only</h5>
                    </div>
                    <div class="item">
                        <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                        <h5>Holding ID</h5>
                    </div>
                </div>
                <div class="btns-wrapper">
                    <button type="button" class="btn btn-primary btn-deny" data-toggle="modal" data-target="#deny-response-modal">Deny</button>
                    <button type="submit" class="btn btn-primary btn-approve">Approve</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               
            }
        },

        created() {
            
        },

        mounted() {
            $( ".birth-date" ).datepicker();
            $( ".expiry-date" ).datepicker();
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .single-app .content-wrapper {
       width: 80%;
        background-color: #fff;
        box-shadow: 0px 3px 12px 4px #ccc;
        padding: 15px;
        border-radius: 7px;
        margin: 15px;
    }
    .single-app .content-wrapper .profile-photo {
        height: 150px;
        width: 30%;
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
        float: left;
        margin-right: 17px;
    }
    .single-app .content-wrapper .name-wrapper h2 {
        border-bottom: 3px solid #ffc845;
        display: inline-block;
        padding-bottom: 3px;
    }
    .single-app .content-wrapper form {
        margin-top: 33px;
    }
    .single-app .content-wrapper form .form-group { display: inline-block; }
    .single-app .content-wrapper form .form-group:nth-child(1), .single-app .content-wrapper form .form-group:nth-child(4), .single-app .content-wrapper form .form-group:nth-child(7) {
        margin-right: 13px;
        width: calc(35% - 30px);
    }
    .single-app .content-wrapper form .form-group:nth-child(2), .single-app .content-wrapper form .form-group:nth-child(5), .single-app .content-wrapper form .form-group:nth-child(8) {
        width: 34%;
    }
    .single-app .content-wrapper form .form-group:nth-child(3), .single-app .content-wrapper form .form-group:nth-child(6) {
        width: 30%;
        margin-right: 14px;
    }
    .single-app .content-wrapper .id-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }
    .single-app .content-wrapper .id-wrapper .item:first-child {
        width: calc(50% - 7.5px);
        margin-right: 7.5px;
    }
    .single-app .content-wrapper .id-wrapper .item:last-child {
        width: calc(50% - 7.5px);
        margin-left: 7.5px;
    }
    .single-app .content-wrapper .id-wrapper .item img {
        border-radius: 7px;
        display: block;
        width: 100%;
        height: auto;
    }
    .single-app .content-wrapper .id-wrapper .item h5 {
        margin-top: 8px;
    }
    .single-app .content-wrapper .btns-wrapper {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    .single-app .content-wrapper .btns-wrapper .btn-deny {
        background-color: #F97676;
        color: #fff;
        border-color: #F97676;
        padding: 6px 45px;
        font-family: "Oswald";
        margin-right: 7.5px;
    }
    .single-app .content-wrapper .btns-wrapper .btn-approve {
        background-color: #ffc845;
        color: #272727;
        border-color: #ffc845;
        padding: 6px 45px;
        font-family: "Oswald";
        margin-left: 7.5px;
    }
</style>