<template>
   <div class="commentsection">
       <div class="header">
           <h4><i class="fas fa-comments"></i> COMMENTS</h4>
            <div class="socials">
                <a href="#"><i class="fab fa-twitter"></i> Tweet</a>
                <a href="#"><i class="fab fa-facebook-f"></i> Share</a>
            </div>
            <div class="comment-area-wrapper">
                <div class="comment-area">
                    <div class="profile">
                        <i class="fas fa-user"></i>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Leave a Comment..."></textarea>
                </div>
                <div class="btn-submit-wrapper">
                    <a href="#">Submit</a>
                </div>
            </div>
       </div>
       <div class="body">
            <div v-if="loading" class="loading">
                Loading... 
            </div> 
           <div class="items" v-for="(comment, index) in visibleItems" :key="index">
               <div class="prof">
                    <i class="fas fa-user"></i>
                </div>
                <div class="content-wrapper">
                    <div class="heading">
                        <h4 class="name">{{ comment.name }}</h4>
                        <p class="date">{{ comment.date }}</p>
                    </div>
                    <div class="content">
                        <p>{{ comment.comment }}</p>
                    </div>
                    <div class="actions">
                        <a href="#"><i class="fas fa-flag"></i></a>
                        <a href="#"><i class="fas fa-thumbs-up"></i> {{ comment.likes }}</a>
                    </div>
                </div>
           </div>
           <div class="btn-more-comments-wrapper">
               <a href="#"  @click.stop.prevent="add">Show More <i class="fas fa-angle-down"></i></a>
           </div>
       </div>
   </div>
</template>

<script>
    export default {

        data: () => {
            return {
                loading: false,
                comments: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    comments: [
                        {
                            name: 'John Smith',
                            date: 'March 10, 2020',
                            comment: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                            likes: 0,
                        },
                        {
                            name: 'John Smith',
                            date: 'March 10, 2020',
                            comment: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                            likes: 0,
                        },
                        {
                            name: 'John Smith',
                            date: 'March 10, 2020',
                            comment: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                            likes: 0,
                        },
                        {
                            name: 'John Smith',
                            date: 'March 10, 2020',
                            comment: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                            likes: 0,
                        },
                    ]
                },
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.comments = magazineData.comments;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.comments.length > 25) ? 25 : this.comments.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.comments.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog
            },
            add() {
                this.visibleItems.push(
                    {
                        name: 'John Smith',
                        date: 'March 10, 2020',
                        comment: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                        likes: 0,
                    },
                    {
                        name: 'John Smith',
                        date: 'March 10, 2020',
                        comment: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                        likes: 0,
                    },
                    {
                        name: 'John Smith',
                        date: 'March 10, 2020',
                        comment: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                        likes: 0,
                    },
                );
                $('html,body').animate({
                    scrollTop: $(".commentsection .body .btn-more-comments-wrapper").offset().top -100
                }, 1000);
            },
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
    .commentsection {
        margin: 50px 0px;
    }
    .commentsection .socials {
        margin: 20px 0px;
    }
    .commentsection .socials a:first-child {
        background-color: #1DA1F2;
        padding: 5px 50px;
        border-radius: 5px;
        margin-right: 15px;
        border: 1px solid #1DA1F2;
        color: #fff;
    }
    .commentsection .socials a:nth-child(2){
        background-color: #3B5998;
        padding: 5px 50px;
        border-radius: 5px;
        color: #fff;
        border: 1px solid #3B5998;
    }
    .commentsection .comment-area-wrapper {
        margin: 20px 0px;
    }
    .commentsection .comment-area-wrapper .comment-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .commentsection .comment-area-wrapper .comment-area .profile {
        background-color: #ccc;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        color: #fff;
    }
    .commentsection .comment-area-wrapper .comment-area textarea {
        margin: 0px 0px 0px 15px;
        width: 90.9%;
        border: 2px solid #ccc;
        border-radius: 10px;
        box-shadow: 0px 25px 25px #ccc;
    }
    .commentsection .comment-area-wrapper .btn-submit-wrapper {
        margin: 30px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    }
    .commentsection .comment-area-wrapper .btn-submit-wrapper a {
        background: #FFC845;
        padding: 9px 40px;
        color: #272727;
        border-radius: 5px;
        font-weight: bold;
    }
    .commentsection .body .items {
        position: relative;
        box-shadow: 0px 13px 30px #ccc;
        border-radius: 10px;
        padding: 10px;
        margin: 15px 0px;
    }
    .commentsection .body .items .prof {
        background-color: #ccc;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        color: #fff;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .commentsection .body .btn-more-comments-wrapper {
        width: 100%;
        display: block;
    }
    .commentsection .body .btn-more-comments-wrapper a {
        border-radius: 5px;
        filter: drop-shadow(0px 3px 6px rgba(0,0,0,0.16));
        background-color: #d6d6d6;
        line-height: 13px;
        color: #272727;
        font-weight: 300;
        font-family: "Segoe UI";
        width: 100%;
        display: block;
        text-align: center;
        padding: 15px;
    }
    .commentsection .body .items .content-wrapper {
        padding-left: 45px;
    }
    .commentsection .body .items .content-wrapper .heading {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .commentsection .body .items .content-wrapper .heading .name {
        margin-right: 30px;
        margin-bottom: 0;
    }
    .commentsection .body .items .content-wrapper .heading .date {
        margin-bottom: 0;
        color: #ccc;
    }
    .commentsection .body .items .content-wrapper .content {
        margin-top: 10px;
    }
    .commentsection .body .items .content-wrapper .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .commentsection .body .items .content-wrapper .actions a:first-child {
        color: #727272;
    }
    .commentsection .body .items .content-wrapper .actions a {
        color: #272727;
    }
</style>

