<template>
   <div class="comparison-chart">
        <h2 class="title">Comparison Chart</h2>
        <div class="promotions">
            <p class="description">Before you can see how your sales match up against the site's global average.This serves as a helpful tool where you can view each particular sales segment vs. the global average.</p>
            <canvas id="comparisonChart" width="300" height="300"></canvas>       
        </div>
    </div>
</template>

<script>
    export default {
        
        data: {
            
        },
        mounted: function () {
            setTimeout(() => {
                var canvas = document.getElementById("comparisonChart");
                var ctx = canvas.getContext('2d');

                var data = {
                labels: ["Referrals", "Subscriptions", "Posts", "Video Sales", "Image Sales", "Tips", "PPV"],
                datasets: [{
                    label: "You",
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "rgba(225,0,0,0.4)",
                    borderColor: "red", // The main line color
                    borderCapStyle: 'square',
                    borderDash: [], // try [5, 15] for instance
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "black",
                    pointBackgroundColor: "white",
                    pointBorderWidth: 1,
                    pointHoverRadius: 8,
                    pointHoverBackgroundColor: "yellow",
                    pointHoverBorderColor: "brown",
                    pointHoverBorderWidth: 2,
                    pointRadius: 4,
                    pointHitRadius: 10,
                    // notice the gap in the data and the spanGaps: true
                    data: [0, 500, 300, 400, 100, 200, 150],
                    spanGaps: true,
                    }, {
                    label: "Average",
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "rgba(167,105,0,0.4)",
                    borderColor: "rgb(167, 105, 0)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "white",
                    pointBackgroundColor: "black",
                    pointBorderWidth: 1,
                    pointHoverRadius: 8,
                    pointHoverBackgroundColor: "brown",
                    pointHoverBorderColor: "yellow",
                    pointHoverBorderWidth: 2,
                    pointRadius: 4,
                    pointHitRadius: 10,
                    // notice the gap in the data and the spanGaps: false
                    data: [0, 500, 100, 85, 100, 300, 100],
                    spanGaps: false,
                    }

                ]
                };

                // Notice the scaleLabel at the same level as Ticks
                var options = {
                responsive: true,
                scales: {
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    max: 600,
                                    stepSize: 100,
                                    suggestedMin: 0,
                                    suggestedMax: 600,
                                    callback: function(label, index, labels) {
                                        switch (label) {
                                        case 0:
                                            return '$0.00';
                                        case 100:
                                            return '$100.00';
                                        case 200:
                                            return '$200.00';
                                        case 300:
                                            return '$300.00';
                                        case 400:
                                            return '$400.00';
                                        case 500:
                                            return '$500.00';
                                        case 600:
                                            return '$600.00';
                                        }
                                    }
                                    },
                                scaleLabel: {
                                    display: true,
                                    fontSize: 20 
                                }
                            }]            
                        }  
                };

                // Chart declaration:
                var myBarChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
                });
            }, 1500);
        }
    }
</script>
<style scoped>
    .comparison-chart { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 40px; }
    .comparison-chart .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; }
    .comparison-chart .promotions .description { color: #272727; font-weight: 300; font-family: "Segoe UI"; margin-bottom: 15px }
    .comparison-chart .promotions .btn-wrapper { margin: 0 auto; text-align: center; }
    .comparison-chart .promotions .button { background-color: #FFC845; color: #272727; padding: 12px 28px; display: inline-block; border-radius: 5px; text-align: center; font-weight: bold; }
    @media only screen and (max-width: 1199px) {
        .comparison-chart .title { width: fit-content; margin: 12px 0px; }
    }
    @media only screen and (max-width: 767px) {
        .comparison-chart { margin: 40px 0px; }
        .comparison-chart .title { font-size: 34px !important; }
    }
</style>

