<template>
   <div class="multisection">
       <div class="contentimagevideo" v-if="displayType == 'ImageSet'">
            <div class="contentimagevideo-wrapper">
                <div class="section-banner">
                    <ul class="nav nav-tabs nav-justified" id="userTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-uppercase" data-toggle="tab" href="#th" role="tab" aria-controls="applications" aria-selected="true"><i class="fas fa-th"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" data-toggle="tab" href="#th-large" role="tab" aria-controls="reported" aria-selected="false"><i class="fas fa-th-large"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" data-toggle="tab" href="#th-list" role="tab" aria-controls="reported" aria-selected="false"><i class="fas fa-th-list"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="content-wrapper">
                    <div class="section-content show-content">
                        <div class="row-fluid">
                            <div class="tab-content" id="userTabContent">
                                <div v-if="imageSetLoading" class="loading">
                                    Loading... 
                                </div> 
                                <div class="tab-pane fade show active" id="th" role="tabpanel" aria-labelledby="applications-tab" v-if="imageSetItems">
                                    <div class="grid">
                                        <div class="block" v-for="(item, i) in imageSetItems" :key="i" :id="i">
                                            <a href="#">
                                                <div class="item-wrapper">
                                                    <img :src="item.img" alt="">
                                                    <div class="item-overlay" v-if="item.title"> 
                                                        <h5>{{ item.title }}</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="th-large" role="tabpanel" aria-labelledby="reported-tab" v-if="imageSetItems">
                                <div class="grid">
                                        <div class="block" v-for="(item, i) in imageSetItems" :key="i" :id="i">
                                            <a href="#">
                                                <div class="item-wrapper">
                                                    <img :src="item.img" alt="">
                                                    <div class="item-overlay" v-if="item.title"> 
                                                        <h5>{{ item.title }}</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="th-list" role="tabpanel" aria-labelledby="reported-tab">
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-collapse text-center">
                        <a href="#"><i class="fas fa-thumbs-up"></i></a>
                        <a href="#"><i class="fas fa-coins"></i></a>
                        <a href="#"><i class="fas fa-exclamation-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="more-less d-flex justify-content-center text-center">
                <a href="#"><i class="fas fa-image"></i> Purchase PPV</a>
                <a href="#"><i class="fas fa-images"></i> Purchase Set</a>
            </div>
        </div>
        <div class="contentDetailVideo" v-if="displayType == 'Video'">
            <div class="contentimagevideo-wrapper">
                <div class="section-banner">
                    <ul class="nav nav-tabs nav-justified" id="userTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-uppercase" data-toggle="tab" href="#th" role="tab" aria-controls="applications" aria-selected="true"><i class="fas fa-th"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" data-toggle="tab" href="#th-large" role="tab" aria-controls="reported" aria-selected="false"><i class="fas fa-th-large"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" data-toggle="tab" href="#th-list" role="tab" aria-controls="reported" aria-selected="false"><i class="fas fa-th-list"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="content-wrapper">
                    <div class="section-content show-content">
                        <div class="row-fluid">
                            <div class="tab-content" id="userTabContent">
                                <div v-if="videoItemLoading" class="loading">
                                    Loading... 
                                </div>
                                <div class="tab-pane fade show active" id="th" role="tabpanel" aria-labelledby="applications-tab" v-if="videoItems">
                                    <div class="grid">
                                        <div class="block" v-for="(item, i) in videoItems" :key="i" :id="i">
                                            <a href="#">
                                                <div class="item-wrapper">
                                                    <img :src="item.img" alt="">
                                                    <div class="item-overlay" v-if="item.title"> 
                                                        <h5>{{ item.title }}</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="th-large" role="tabpanel" aria-labelledby="reported-tab" v-if="videoItems">
                                <div class="grid">
                                        <div class="block" v-for="(item, i) in videoItems" :key="i" :id="i">
                                            <a href="#">
                                                <div class="item-wrapper">
                                                    <img :src="item.img" alt="">
                                                    <div class="item-overlay" v-if="item.title"> 
                                                        <h5>{{ item.title }}</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="th-list" role="tabpanel" aria-labelledby="reported-tab">
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-collapse text-center">
                        <a href="#"><i class="fas fa-thumbs-up"></i></a>
                        <a href="#"><i class="fas fa-coins"></i></a>
                        <a href="#"><i class="fas fa-exclamation-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="more-less d-flex justify-content-center text-center">
                <a href="#"><i class="fas fa-video"></i> Purchase Video</a>
            </div>
        </div>
        <div class="contentDetailPost" v-if="displayType == 'Post'">
            <div class="contentimagevideo-wrapper">
                <div class="section-banner">
                    <ul class="nav nav-tabs nav-justified" id="userTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-uppercase" data-toggle="tab" href="#th" role="tab" aria-controls="applications" aria-selected="true"><i class="fas fa-th"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" data-toggle="tab" href="#th-large" role="tab" aria-controls="reported" aria-selected="false"><i class="fas fa-th-large"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" data-toggle="tab" href="#th-list" role="tab" aria-controls="reported" aria-selected="false"><i class="fas fa-th-list"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="content-wrapper">
                    <div class="section-content show-content">
                        <div class="row-fluid">
                            <div class="tab-content" id="userTabContent">
                                <div v-if="postItemLoading" class="loading">
                                    Loading... 
                                </div>
                                <div class="tab-pane fade show active" id="th" role="tabpanel" aria-labelledby="applications-tab" v-if="postItems">
                                    <div class="grid">
                                        <div class="block" v-for="(item, i) in postItems" :key="i" :id="i">
                                            <a href="#">
                                                <div class="item-wrapper">
                                                    <img :src="item.img" alt="">
                                                    <div class="item-overlay" v-if="item.title"> 
                                                        <h5 v-if="item.status == 'lock'">{{ item.title }}</h5>
                                                        <h5 v-else style="color:#fff;"><i class="fas fa-lock" style="color:#FFC845;"></i> SUBSCRIBER ONLY</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="th-large" role="tabpanel" aria-labelledby="reported-tab" v-if="postItems">
                                <div class="grid">
                                        <div class="block" v-for="(item, i) in postItems" :key="i" :id="i">
                                            <a href="#">
                                                <div class="item-wrapper">
                                                    <img :src="item.img" alt="">
                                                    <div class="item-overlay" v-if="item.title"> 
                                                        <h5>{{ item.title }}</h5>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="th-list" role="tabpanel" aria-labelledby="reported-tab">
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-collapse text-center">
                        <a href="#"><i class="fas fa-thumbs-up"></i></a>
                        <a href="#"><i class="fas fa-coins"></i></a>
                        <a href="#"><i class="fas fa-exclamation-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="more-less d-flex justify-content-center text-center">
                <a href="#"><i class="fas fa-image"></i> Purchase PPV</a>
                <a href="#"><i class="fas fa-lock"></i> Subscribe</a>
            </div>
        </div>
        <div class="contentPurchasedVideo" v-if="displayType == 'PurchasedVideo'">
            <div class="contentimagevideo-wrapper">
                <div v-if="purchasedVideoLoading" class="loading">
                    Loading... 
                </div>
                <div class="content-wrapper" v-if="displayType == 'PurchasedVideo'">
                    <div class="section-content show-content">
                        <div class="row-fluid">
                            <div class="video-wrapper">
                                <img src="http://localhost/modelpostmagazine/images/banner-1.jpg" alt="">
                                <a href="#" class="btn-play"><i class="fas fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-collapse text-center">
                        <a href="#"><i class="fas fa-thumbs-up"></i></a>
                        <a href="#"><i class="fas fa-coins"></i></a>
                        <a href="#"><i class="fas fa-exclamation-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="more-less d-flex justify-content-center text-center">
                <a href="#"><i class="fas fa-video"></i> Purchase Video</a>
            </div>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                imageSetLoading: false,
                videoItemLoading: false,
                postItemLoading: false,
                purchasedVideoLoading: false,
                imageSetItems: [],
                videoItems: [],
                postItems: [],
                magazineDataSample: {
                    imageSetItems: [
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/1.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/3.png',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/4.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/5.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/6.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/2.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/5.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/6.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/2.jpg',
                            title: 'Shooting With Adriana Lima',
                        }
                    ],
                    videoItems: [
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/1.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/3.png',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/4.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/5.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/6.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/2.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/5.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/6.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/2.jpg',
                            title: 'Shooting With Adriana Lima',
                        }
                    ],
                    postItems: [
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                            status: 'lock'
                        },
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                            status: 'lock'
                        },
                        {
                            img: 'images/1.jpg',
                            title: 'Shooting With Adriana Lima',
                            status: 'lock'
                        },
                        {
                            img: 'images/3.png',
                            title: 'Shooting With Adriana Lima',
                            status: 'lock'
                        },
                        {
                            img: 'images/4.jpg',
                            title: 'Shooting With Adriana Lima',
                            status: 'lock'
                        },
                        {
                            img: 'images/5.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/6.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                            status: 'lock'
                        },
                        {
                            img: 'images/2.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/5.jpg',
                            title: 'Shooting With Adriana Lima',
                            status: 'lock'
                        },
                        {
                            img: 'images/6.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                            status: 'lock'
                        },
                        {
                            img: 'images/2.jpg',
                            title: 'Shooting With Adriana Lima',
                        }
                    ],
                },
                displayType: 'ImageSet',
                msnry: null,
                msnry2: null,
                msnry3: null,
            }
        },

        mounted() {
            let grid = document.querySelector('.contentimagevideo .contentimagevideo-wrapper .grid');
            this.msnry = new Masonry(grid, {
                itemSelector: '.block',
                columnWidth: '.block',
                // gutter: 25,
                percentPosition: true,
                transitionDuration: 0
            });

            let grid2 = document.querySelector('.contentDetailVideo .contentimagevideo-wrapper .grid');
            this.msnry2 = new Masonry(grid2, {
                itemSelector: '.block',
                columnWidth: '.block',
                // gutter: 25,
                percentPosition: true,
                transitionDuration: 0
            });

            let grid3 = document.querySelector('.contentDetailPost .contentimagevideo-wrapper .grid');
            this.msnry3 = new Masonry(grid3, {
                itemSelector: '.block',
                columnWidth: '.block',
                // gutter: 25,
                percentPosition: true,
                transitionDuration: 0
            });
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.imageSetLoading = true;
                this.imageSetItems = magazineData.imageSetItems;
                this.imageSetLoading = false;
				this.videoItemLoading = true;
                this.videoItems = magazineData.videoItems;
                this.videoItemLoading = false;
				this.postItemLoading = true;
                this.postItems = magazineData.postItems;
                this.postItemLoading = false;

                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                    this.msnry2.reloadItems();
                    this.msnry2.layout();
                    this.msnry3.reloadItems();
                    this.msnry3.layout();
                }, 1000);

            },
            imageProgress(instance, image ) {
                this.msnry.layout();
            },
            imageProgress2(instance, image ) {
                this.msnry2.layout();
            },
            imageProgress3(instance, image ) {
                this.msnry3.layout();
            },
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
    .contentimagevideo-wrapper .block { float: left; width: calc(33.33%); opacity: 1; }
    .contentimagevideo-wrapper .block img { width: 100%; height: auto; }
    .contentimagevideo-wrapper { box-shadow: 0px 25px 25px #707070; padding: 0px; border-radius: 10px; margin-bottom: 50px; }
    .contentimagevideo-wrapper .section-banner { display: flex; align-items: center; justify-content: center; margin-bottom: 0px; padding: 15px; }
    .contentimagevideo-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .contentimagevideo-wrapper .section-banner img { width: 15%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .contentimagevideo-wrapper .section-banner ul { border: none; }
    .contentimagevideo-wrapper .section-banner ul li { margin: 0px 15px; }
    .contentimagevideo-wrapper .section-banner ul li a.nav-link { color: #000000; border: none; background: none; }
    .contentimagevideo-wrapper .section-banner ul li a.nav-link.active { color: #FFC845; }
    .contentimagevideo-wrapper .content-wrapper .row { padding:0px 15px; }
    .contentimagevideo-wrapper .content-wrapper .col-4 div { display: flex; flex-direction: column; text-align: center; margin: 10px 0px; }
    .contentimagevideo-wrapper .content-wrapper .grid .block:nth-child(1) { box-shadow: 0px 1px 10px #000; }
    .contentimagevideo-wrapper .content-wrapper img { width: 100%; height: auto; }
    .contentimagevideo-wrapper .content-wrapper .item-wrapper { position: relative; }
    .contentimagevideo-wrapper .content-wrapper .item-wrapper .set-featured { position: absolute; top: 3px; right: 3px; font-size: 20px; z-index: 3; }
    .contentimagevideo-wrapper .content-wrapper .item-wrapper .set-featured i { color: #727272; }
    .contentimagevideo-wrapper .content-wrapper .item-wrapper .set-featured i::before { transform: scale(-1); }
    .contentimagevideo-wrapper .content-wrapper .block.featured .item-wrapper .set-featured i { color: #FFC845; }
    .contentimagevideo-wrapper .content-wrapper a:hover .item-overlay { opacity: 1; }
    .contentimagevideo-wrapper .content-wrapper .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .contentimagevideo-wrapper .content-wrapper .block:first-child .item-wrapper div { background: rgba(255,200,69,1); }
    .contentimagevideo-wrapper .content-wrapper .block:first-child .set-featured { display: none; }
    .contentimagevideo-wrapper .content-wrapper .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; }
    .contentimagevideo-wrapper .content-wrapper .item-wrapper div p { margin: 0px; color: #fff; }
    .more-less a { font-weight: bold; background: #FFC845; padding: 9px 66px; color: #272727; border-radius: 5px; margin: 0px 5px; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 30px; display: flex; justify-content: space-around; margin-top: 30px; border-top: 1px solid #ccc; padding: 10px; box-shadow: 0px -4px 20px #ccc; }
    .btn-collapse a { color: #272727; width: 30px; height: 30px; border-radius: 50px; border: 1px solid #272727; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
    .btn-collapse a:hover { background-color: #FFC845;}

    @media only screen and (max-width: 767px) {
        .contentimagevideo-wrapper { margin: 40px 0px; }
        .contentimagevideo-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .contentimagevideo-wrapper .section-banner img { display: none; }
        .contentimagevideo-wrapper .section-banner { margin-bottom: 30px; }
    }
    @media only screen and (max-width: 600px) {
        .contentimagevideo-wrapper .block { float: left; width: calc(50%); opacity: 1; }
        .more-less a { padding: 12px 0px; }
    }
    
    .contentPurchasedVideo .content-wrapper .video-wrapper { padding-top: 45px; position: relative; }
    .contentPurchasedVideo .content-wrapper .btn-collapse { margin-top: 0px; }
    .contentPurchasedVideo .content-wrapper .video-wrapper .btn-play {
        position: absolute;
        top: 50%;
        left: 47%;
        color: #fff;
        font-size: 40px;
    }
</style>

