<template>
    <!-- Messenger Create List Modal -->
    <div class="modal fade" id="create-list-modal" tabindex="-1" role="dialog" aria-labelledby="create-list-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="modal-heading">
                                    <p>Create New List</p>
                                </div>
                                <form>
                                    <div class="new-list-fields">
                                        <div class="input-group mb-3">
                                            <input type="text" placeholder="List Title" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                            <select class="custom-select" id="list-tags">
                                                <option selected>List Tags</option>
                                                <option value="1">Tag 1</option>
                                                <option value="2">Tag 2</option>
                                                <option value="3">Tag 3</option>
                                            </select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="search-user-wrapper">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input v-model="nameKeyword" type="text" placeholder="Search by Name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                            </div>
                                            <div class="btn-search-wrapper">
                                                <a href="#" @click.stop.prevent="searchUser">search</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="users-list">
                                        <p class="title">Add Users to List</p>
                                        <div>
                                            <div @click="addUser(index)" :class="[ 'block',  user.isAdded ? 'added' : '' ]" v-for="(user, index) in searchedUser" :key="index">
                                                <div class="photo-thumb">
                                                    <img :src="user.userPhotoUrl" alt="">
                                                </div>
                                                <div class="user-headings">
                                                    <h5 class="user-fname">{{ user.userFname }}</h5>
                                                    <p class="user-last-message">Last Message: <span>{{ user.userLastMessage }}</span></p>
                                                    <p class="user-purchase-price">Purchase Price: <span>{{ user.userPurchasePrice }}</span></p>
                                                </div>
                                                <div class="status-wrapper" v-if="user.isAdded">
                                                    <i class="fas fa-check-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-create">Create List</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                nameKeyword: '',
                searchedUser: [],
                usersList: [
                    {
                        userFname: 'John',
                        userPhotoUrl: 'images/1.jpg',
                        userLastMessage: 'April 12, 2020',
                        userPurchasePrice: '$4.00',
                        isAdded: false
                    },
                    {
                        userFname: 'Jane',
                        userPhotoUrl: 'images/1.jpg',
                        userLastMessage: 'April 20, 2020',
                        userPurchasePrice: '$9.00',
                        isAdded: false
                    }
                ]
            }
        },

        created() {
            
        },

        mounted() {
            this.searchedUser = this.usersList;
        },

        methods: {
            addUser(index) {
                if(this.usersList[index].isAdded) {
                    this.usersList[index].isAdded = false;
                } else {
                    this.usersList[index].isAdded = true;
                }
            },
            searchUser(){
                let result = this.usersList
                if (!this.nameKeyword)
                    return this.searchedUser = result;
                
                const nameKeyword = this.nameKeyword.toLowerCase()

                const filter = this.usersList.filter(c => c.userFname.toLowerCase().indexOf(nameKeyword) > -1);
                this.searchedUser = filter;
            }
        }
    }
</script>
<style scoped>
    /* create new list modal */
    #create-list-modal .modal-heading p { font-weight: 400; border-bottom: 1px solid #ffc845; padding-bottom: 5px; }
    #create-list-modal .new-list-fields { margin: 20px 0px 25px; }
    #create-list-modal .new-list-fields .input-group { display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; }
    #create-list-modal .new-list-fields .input-group input { box-shadow: 0px 3px 12px 4px #ccc; margin-right: 20px; border-radius: 7px; }
    #create-list-modal .new-list-fields .input-group select { box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; }
    #create-list-modal .new-list-fields .input-group .search-user-wrapper { width: 71%; display: flex; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; }
    #create-list-modal .new-list-fields .input-group .search-user-wrapper .input-group-text { background-color: #fff; border-radius: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    #create-list-modal .new-list-fields .input-group .search-user-wrapper input { margin-right: 0px; box-shadow: unset; border-left: 0px; border-radius: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    #create-list-modal .new-list-fields .input-group .btn-search-wrapper { margin-left: 20px; width: calc(29% - 20px); }
    #create-list-modal .new-list-fields .input-group .btn-search-wrapper a { background-color: #ffc845; color: #272727; padding: 8px 30px; border-radius: 5px; font-weight: 600; }
    #create-list-modal .users-list .title { font-weight: 600; }
    #create-list-modal .users-list .block { cursor: pointer; margin: 10px 0px; background-color: #E4E4E4; display: flex; flex-wrap: wrap; align-items: center; padding: 10px 15px; border-radius: 8px; }
    #create-list-modal .users-list .block.added { background-color: #727272; display: flex; flex-wrap: wrap; align-items: center; padding: 10px 15px; border-radius: 8px; }
    #create-list-modal .users-list .block .photo-thumb { width: 50px; height: 50px; }
    #create-list-modal .users-list .block .photo-thumb img { display: block; width: 100%; height: auto; border-radius: 50%; }
    #create-list-modal .users-list .block .user-headings { width: 70%; margin-left: 30px; }
    #create-list-modal .users-list .block.added .user-headings .user-fname, #create-list-modal .users-list .block.added .user-headings .user-last-message, #create-list-modal .users-list .block.added .user-headings .user-purchase-price { margin: 0; color: #fff; }
    #create-list-modal .users-list .block .user-headings .user-fname, #create-list-modal .users-list .block .user-headings .user-last-message, #create-list-modal .users-list .block .user-headings .user-purchase-price { margin: 0; color: #272727; }
    #create-list-modal .users-list .block .status-wrapper { width: calc(30% - 80px); text-align: right; }
    #create-list-modal .users-list .block .status-wrapper i { color: #ffc845; font-size: 22px; }
    #create-list-modal .btn-cancel { background-color: #ccc; color: #272727; border-color: #ccc; font-family: "Oswald"; padding: 8px 35px; }
    #create-list-modal .btn-create { background-color: #ffc845; color: #272727; border-color: #ffc845; font-family: "Oswald"; padding: 8px 35px; }
</style>