<template>
    <!-- Messenger Create Message Modal -->
    <div class="modal fade" id="create-message-modal" tabindex="-1" role="dialog" aria-labelledby="create-message-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="modal-heading">
                                    <h2 class="text-uppercase">New message</h2>
                                    <div class="description">
                                        <p>Users with a current platform subscription can view NSFW content</p>
                                        <p>Your personal subscribers can see your "Subscriber Only" level content</p>
                                        <p>And any content marked PPV or "Pay Per View" is only visible after your funds are secured</p>
                                    </div>
                                </div>
                                <form>
                                    <div class="new-message-fields">
                                        <div>
                                            <div class="left-fields-wrapper">
                                                <div class="input-group mb-3">
                                                    <input type="text" placeholder="Title" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <textarea name="message" id="message-field" cols="30" rows="5"></textarea>
                                                </div>
                                                <div class="scheduled-release-wrapper mb-1">
                                                    <p class="title">Scheduled Release</p>
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <div class="input-group mb-3 icon-right">
                                                    <input placeholder="Date" type="text" id="expiry-date" class="form-control date" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-calendar-alt"></i></span>
                                                    </div>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <input type="text" placeholder="Cost for PPV (if needed)" class="form-control cost-field" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                            </div>
                                            <div class="right-fields-wrapper">
                                                <div class="input-group mb-3">
                                                    <label for="ppv">PPV Content:</label>
                                                    <input type="file" id="ppv">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <label for="sub-content">Subscriber Only Content:</label>
                                                    <input type="file" id="sub-content">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <label for="sfw-content">SFW Content:</label>
                                                    <input type="file" id="sfw-content">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <label for="nsfw-content">NSFW Content:</label>
                                                    <input type="file" id="nsfw-content">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <input type="text" placeholder="* page link will display if applicable" class="form-control link-field" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-create">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                nameKeyword: '',
                searchedUser: [],
                usersList: [
                    {
                        userFname: 'John',
                        userPhotoUrl: 'images/1.jpg',
                        userLastMessage: 'April 12, 2020',
                        userPurchasePrice: '$4.00',
                        isAdded: false
                    },
                    {
                        userFname: 'Jane',
                        userPhotoUrl: 'images/1.jpg',
                        userLastMessage: 'April 20, 2020',
                        userPurchasePrice: '$9.00',
                        isAdded: false
                    }
                ]
            }
        },

        created() {
            
        },

        mounted() {
            this.searchedUser = this.usersList;
        },

        methods: {
            addUser(index) {
                if(this.usersList[index].isAdded) {
                    this.usersList[index].isAdded = false;
                } else {
                    this.usersList[index].isAdded = true;
                }
            },
            searchUser(){
                let result = this.usersList
                if (!this.nameKeyword)
                    return this.searchedUser = result;
                
                const nameKeyword = this.nameKeyword.toLowerCase()

                const filter = this.usersList.filter(c => c.userFname.toLowerCase().indexOf(nameKeyword) > -1);
                this.searchedUser = filter;
            }
        }
    }
</script>
<style scoped>
    /* create new list modal */
    #create-message-modal .modal-heading h2 { border-bottom: 3px solid #ffc845; padding-bottom: 3px; margin-bottom: 20px; display: inline-block; }
    #create-message-modal .modal-heading .description { font-weight: 300; font-size: 14px; }
    #create-message-modal .new-message-fields { margin: 40px 0px; }
    #create-message-modal label, #create-message-modal p { margin: 0px; font-family: "Segoe UI"; }
    #create-message-modal .new-message-fields input:not(.date):not([type='file']) { border-radius: 7px; }
    #create-message-modal .new-message-fields input:focus { box-shadow: unset; }
    #create-message-modal .new-message-fields textarea { border-radius: 7px; border: 1px solid #ced4da; }
    #create-message-modal .new-message-fields .cost-field, #create-message-modal .new-message-fields .link-field { font-size: 12px; }
    #create-message-modal .new-message-fields .left-fields-wrapper { width: calc(50% - 7.5px); float: left; margin-right: 7.5px; }
    #create-message-modal .new-message-fields .left-fields-wrapper .input-group.icon-right input { border-right: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    #create-message-modal .new-message-fields .left-fields-wrapper .input-group.icon-right .input-group-text { background-color: #fff; border-left: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    #create-message-modal .new-message-fields .right-fields-wrapper { width: calc(50% - 7.5px); float: left; margin-left: 7.5px; }
    #create-message-modal .new-message-fields .scheduled-release-wrapper { align-items: center; display: flex; justify-content: space-between; width: 100%; padding-right: 7.5px; }
    #create-message-modal .new-message-fields .scheduled-release-wrapper .title { margin: 0px; font-weight: bold; font-size: 14px; }
    #create-message-modal .modal-footer { justify-content: center; }
    #create-message-modal .btn-cancel { background-color: #ccc; color: #272727; border-color: #ccc; font-family: "Oswald"; padding: 8px 35px; }
    #create-message-modal .btn-create { background-color: #ffc845; color: #272727; border-color: #ffc845; font-family: "Oswald"; padding: 8px 35px; }
    
    .switch { position: relative; display: inline-block; width: 25px; height: 15px; margin: 0px; }
    .switch input { opacity: 0; width: 0; height: 0; }
    .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
    .slider:before { position: absolute; content: ""; height: 16px; width: 16px; left: 1px; bottom: 0px; background-color: #272727; -webkit-transition: .4s; transition: .4s; }
    input:checked + .slider { background-color: #FFC845; }
    input:focus + .slider { box-shadow: 0 0 1px #FFC845; }
    input:checked + .slider:before { -webkit-transform: translateX(8px); -ms-transform: translateX(8px); transform: translateX(8px); }
    .slider.round { border-radius: 34px; }
    .slider.round:before { border-radius: 50%; }
</style>