<template>
    <div class="fans-tab-wrapper">
        <div>
            <ul class="nav nav-tabs nav-justified" id="fans-tab-filter" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#all-fans" role="tab" aria-controls="all" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#search-fans" role="tab" aria-controls="search" aria-selected="false">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#list-fans" role="tab" aria-controls="list" aria-selected="false">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#sort-fans" role="tab" aria-controls="sort" aria-selected="false">Sort</a>
                </li>
            </ul>
            <div class="tab-content" id="fansTabContent">
                <div class="tab-pane fade show active" id="all-fans" role="tabpanel" aria-labelledby="all-fans-content">
                    <a href="#" @click="openChat(convo.conversation.sid)" v-for="(convo, index) in allConversations" :key="index">
                        <div class="block">
                            <div class="convo-thumb">
                                <img src="images/1.jpg" alt="">
                            </div>
                            <div class="convo-headings">
                                <h5>{{ convo.participants[0].identity }}</h5>
                                <p>Lorem Ipsum dolor</p>
                            </div>
                            <div class="convo-status">
                                <i class="fas fa-envelope-open"></i>
                                <p class="status">READ</p>
                                <p class="time">8:01 PM</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tab-pane fade" id="search-fans" role="tabpanel" aria-labelledby="search-fans-content">
                    <div class="search-bar-wrapper">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" placeholder="Followers and Subscribers" class="form-control name-field" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <a href="#" @click="openChat()">
                        <div class="block">
                            <div class="convo-thumb">
                                <img src="images/1.jpg" alt="">
                            </div>
                            <div class="convo-headings">
                                <h5>John</h5>
                                <p>Lorem Ipsum dolor</p>
                            </div>
                            <div class="convo-status">
                                <i class="fas fa-envelope-open"></i>
                                <p class="status">READ</p>
                                <p class="time">8:01 PM</p>
                            </div>
                        </div>
                    </a>
                     <div class="block">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>John</h5>
                            <p>Lorem Ipsum dolor</p>
                        </div>
                        <div class="convo-status">
                            <i class="fas fa-envelope-open"></i>
                            <p class="status">READ</p>
                            <p class="time">8:01 PM</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-fans" role="tabpanel" aria-labelledby="list-fans-content">
                    <div class="mailing-box">
                        <h2 class="text-uppercase">Mailing list</h2>
                        <p>Schedule and Send Mass messages to your followers and subscribers</p>
                    </div>
                    <div class="lists-wrapper">
                        <div class="create-list-wrapper">
                                <a href="#" data-toggle="modal" data-target="#create-list-modal"><i class="fas fa-plus"></i> Create New List</a>
                        </div>
                        <div class="block">
                            <div class="heading show-data">
                                <i class="fas fa-mail-bulk"></i>
                                <h4 class="text-uppercase" @click="openList">List title</h4>
                                <i class="fas fa-angle-up toogle-show" @click="toggleListBlock"></i>
                                <i class="fas fa-angle-down toogle-hide" @click="toggleListBlock"></i>
                            </div>
                            <div class="body">
                                <a href="#" data-toggle="modal" data-target="#create-message-modal">Create New Message</a>
                                <div class="item">
                                    <i class="fas fa-calendar-plus"></i>
                                    <div class="sub-item">
                                        <h5 class="text-uppercase">Group title (<span class="list-status">Scheduled</span>)</h5>
                                        <p>Message Title (scheduled)</p>
                                        <p>Date: May 12, 2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-members-wrapper">
                            <h2>list members</h2>
                            <div class="block">
                                <div class="convo-thumb">
                                    <img src="images/1.jpg" alt="">
                                </div>
                                <div class="convo-headings">
                                    <h5>John</h5>
                                    <p>Lorem Ipsum dolor</p>
                                </div>
                                <div class="convo-status">
                                    <i class="fas fa-envelope"></i>
                                    <p class="status">SENT</p>
                                    <p class="time">8:01 PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sort-fans" role="tabpanel" aria-labelledby="sort-fans-content">
                    <div class="sorting-box">
                        <div class="header">
                            <h2 class="text-uppercase">Sorting</h2>
                            <p>Below you can sort your messages by category</p>
                        </div>
                        <ul class="nav nav-tabs nav-justified" id="sorting-tab-filter" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#fans-unread-messages" role="tab" aria-controls="unread" aria-selected="true">UNREAD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#fans-sent-messages" role="tab" aria-controls="sent" aria-selected="false">Sent</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#fans-alpha-messages" role="tab" aria-controls="alpha" aria-selected="false">Alpha</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="tab-content" id="sort-fans-content">
                            <div class="tab-pane fade show active" id="fans-unread-messages" role="tabpanel" aria-labelledby="unread-messages-content">
                                <div class="block">
                                    <div class="convo-thumb">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="convo-headings">
                                        <h5>John</h5>
                                        <p>Lorem Ipsum dolor</p>
                                    </div>
                                    <div class="convo-status">
                                        <i class="fas fa-envelope-open"></i>
                                        <p class="status">READ</p>
                                        <p class="time">8:01 PM</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="fans-sent-messages" role="tabpanel" aria-labelledby="sent-messages-content">
                                <div class="block">
                                    <div class="convo-thumb">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="convo-headings">
                                        <h5>John</h5>
                                        <p>Lorem Ipsum dolor</p>
                                    </div>
                                    <div class="convo-status">
                                        <i class="fas fa-envelope-open"></i>
                                        <p class="status">READ</p>
                                        <p class="time">8:01 PM</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="fans-alpha-messages" role="tabpanel" aria-labelledby="alpha-messages-content">
                                <div class="block">
                                    <div class="convo-thumb">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="convo-headings">
                                        <h5>John</h5>
                                        <p>Lorem Ipsum dolor</p>
                                    </div>
                                    <div class="convo-status">
                                        <i class="fas fa-envelope-open"></i>
                                        <p class="status">READ</p>
                                        <p class="time">8:01 PM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    let conversationService = require('../services/conversation');

    export default {
        
        data: () => {
            return {
               allConversations: []
            }
        },

        created() {
            
        },

        mounted() {
            this.getConversations();
        },

        methods: {
            getConversations() {
                console.log("dfgdfgdfgf")
				axios.get('/modelpostmagazine/api/get-conversations')
                    .then(res => {
                        res.data.forEach(element => {
                            let convo = {
                                conversation: [],
                                participants: []
                            };
                            convo.conversation = element;
                            console.log(element)
                            axios.post('/modelpostmagazine/api/get-participants', {
                                cid: element.sid,
                            })
                            .then(function (response) {
                                convo.participants = response.data;
                                console.log(response.data)
                            })
                            .catch(function (error) {
                                console.log(error)
                            });
                            this.allConversations.push(convo);
                        });
                        console.log(this.allConversations)
                    }).catch(err => {
                    console.log(err)
                });
            },
            openList() {
                this.$router.push('/messenger-member/sample/list');
            },
            openChat(sid) {
                console.log(sid);
                this.$router.push('/messenger-member/' + sid + '/chat');
            },
            toggleListBlock() {
                if ($("#fansTabContent #list-fans .lists-wrapper .block .heading").hasClass("show-data")) {
                    $("#fansTabContent #list-fans .lists-wrapper .block .heading .toogle-show").hide();
                    $("#fansTabContent #list-fans .lists-wrapper .block .heading .toogle-hide").show();
                    $("#fansTabContent #list-fans .lists-wrapper .block .heading").removeClass('show-data');
                    $("#fansTabContent #list-fans .lists-wrapper .block .heading").addClass('hide-data');
                    $("#fansTabContent #list-fans .lists-wrapper .block .body").slideToggle();
                } else {
                    $("#fansTabContent #list-fans .lists-wrapper .block .heading .toogle-hide").hide();
                    $("#fansTabContent #list-fans .lists-wrapper .block .heading .toogle-show").show();
                    $("#fansTabContent #list-fans .lists-wrapper .block .heading").removeClass('hide-data');
                    $("#fansTabContent #list-fans .lists-wrapper .block .heading").addClass('show-data');
                    $("#fansTabContent #list-fans .lists-wrapper .block .body").slideToggle();
                }
            }
        }
    }
</script>
<style scoped>
    .fans-tab-wrapper .nav-tabs .nav-link { background-color: #ccc; border-radius: unset; color: #272727; font-family: "Oswald"; font-size: 13px; text-transform: uppercase; margin: 0px 1px; padding: 5px; }
    body.theme-dark .fans-tab-wrapper .nav-tabs .nav-link:not(.active) { background-color: #272727; color: #fff; }
    .fans-tab-wrapper .nav-tabs .nav-item .nav-link.active { background-color: #ffc845 !important; }
    .fans-tab-wrapper .nav-tabs .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .fans-tab-wrapper .nav-tabs .nav-item:last-child .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    #fansTabContent { margin-top: 15px; }
    body.theme-dark #fansTabContent .block { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #fansTabContent .block { margin: 20px 0px; display: flex; align-items: center; justify-content: space-between; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    #fansTabContent .block .convo-thumb { width: 50px; height: 50px; }
    #fansTabContent .block .convo-thumb img { width: 100%; display: block; height: auto; border-radius: 50%; }
    #fansTabContent .block .convo-headings { margin-left: -80px; }
    body.theme-dark #fansTabContent .block .convo-headings h5 { color: #fff; }
    #fansTabContent #list-fans .block .convo-headings { margin-left: -50px; }
    body.theme-dark #fansTabContent .block .convo-headings p { color: #ccc; }
    #fansTabContent .block .convo-headings p { margin: 0px; font-size: 14px; }
    #fansTabContent .block .convo-status { text-align: center; }
    #fansTabContent .block .convo-status i { color: #727272; }
    #fansTabContent .block .convo-status p { margin: 0px; font-size: 12px; }
    #fansTabContent #list-fans .lists-wrapper .block .heading .toogle-hide { display: none; }
    #fansTabContent .search-bar-wrapper .input-group .form-control { border-left: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px;}
    #fansTabContent .search-bar-wrapper .input-group .input-group-prepend .input-group-text { border-right: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; background-color: #fff; }
    #fansTabContent .search-bar-wrapper .input-group .form-control:focus { box-shadow: unset; }
    body.theme-dark #fansTabContent #list-fans .mailing-box { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #fansTabContent #list-fans .mailing-box { margin: 20px 0px; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    body.theme-dark #fansTabContent #list-fans .mailing-box h2 { color: #fff; }
    #fansTabContent #list-fans .mailing-box h2 { display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; }
    #fansTabContent #list-fans .mailing-box p { font-weight: 300; font-size: 14px; width: 60%; }
    #fansTabContent #list-fans .lists-wrapper .block h4 { cursor: pointer; }
    #fansTabContent #list-fans .lists-wrapper .create-list-wrapper { margin: 10px auto; text-align: center; }
    #fansTabContent #list-fans .lists-wrapper .create-list-wrapper a { background-color: #ffc845; color: #272727; padding: 8px 30px; border-radius: 5px; font-family: "Oswald"; font-size: 18px; display: block; text-align: center; }
    body.theme-dark #fansTabContent #list-fans .block { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #fansTabContent #list-fans .block { margin: 20px 0px; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; display: block; }
    #fansTabContent #list-fans .block .heading { display: flex; justify-content: space-between; align-items: center; }
    #fansTabContent #list-fans .block .heading i { color: #ffc845; font-size: 22px; }
    #fansTabContent #list-fans .block .heading i.toogle-show, #fansTabContent #list-fans .block .heading i.toogle-hide { cursor: pointer; }
    body.theme-dark #fansTabContent #list-fans .block .heading h4 { color: #fff; }
    #fansTabContent #list-fans .block .heading h4 { margin-left: -160px; }
    #fansTabContent #list-fans .block .body a { background-color: #ffc845; color: #272727; padding: 2px 30px; border-radius: 5px; font-family: "Oswald"; font-size: 18px; display: block; text-align: center; margin: 12px 0px; }
    body.theme-dark #fansTabContent #list-fans .block .body .item { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #fansTabContent #list-fans .block .body .item { display: flex; align-items: center; background-color: #F1F1F1; box-shadow: 0px 3px 12px 4px #ccc; padding: 15px; border-radius: 7px; margin: 10px 0px; }
    #fansTabContent #list-fans .block .body .item i { color: #727272; font-size: 22px; margin-right: 20px; }
    #fansTabContent #list-fans .block .body .item .sub-item { display: flex; flex-direction: column; }
    #fansTabContent #list-fans .block .body .item .sub-item h5, #fansTabContent #list-fans .block .body .item .sub-item p { margin: 0px; }
    body.theme-dark #fansTabContent #list-fans .list-members-wrapper { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #fansTabContent #list-fans .list-members-wrapper { background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    body.theme-dark #fansTabContent #list-fans .list-members-wrapper h2 { color: #fff; }
    #fansTabContent #list-fans .list-members-wrapper h2 { display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; text-transform: uppercase; }
    #fansTabContent #list-fans .list-members-wrapper .block { display: flex; }
    body.theme-dark #fansTabContent #sort-fans .sorting-box { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #fansTabContent #sort-fans .sorting-box { margin: 20px 0px; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; }
    #fansTabContent #sort-fans .sorting-box .header { padding: 15px; }
    body.theme-dark #fansTabContent #sort-fans .sorting-box .header h2 { color: #fff; }
    #fansTabContent #sort-fans .sorting-box .header h2 { border-bottom: 3px solid #ffc845; display: inline-block; padding-bottom: 3px; }
    #fansTabContent #sort-fans .sorting-box .header p { font-weight: 300; font-size: 14px; width: 60%; }
    #fansTabContent #sort-fans .sorting-box #sorting-tab-filter { font-weight: 300; font-size: 14px; }
    #fansTabContent #sort-fans .sorting-box #sorting-tab-filter .nav-item .nav-link { border-radius: 0px !important; margin: 0px 0px; padding: 8px; }
    #fansTabContent #sort-fans .sorting-box #sorting-tab-filter .nav-item:first-child .nav-link { border-bottom-left-radius: 7px !important;}
    #fansTabContent #sort-fans .sorting-box #sorting-tab-filter .nav-item:last-child .nav-link { border-bottom-right-radius: 7px !important;}
</style>