<template>
   <div class="favorite-artists-wrapper">
        <div class="section-banner">
            <h2 class="title text-uppercase">Favorite Artists</h2>
            <img src="images/placeholder-image.jpg" alt="Placeholder Image">
        </div>
        <div class="content-wrapper">
            <div class="section-content show-content">
                <div class="row-fluid">
                    <div class="search-members-wrapper d-flex">
                        <a href="#" class="btn-action my-2"><i class="fas fa-search"></i> Search New Members</a>
                        <div>
                            <form action="" class="d-flex justify-content-center flex-column">
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect01" v-model="sortMember">
                                        <option selected><i class="fas fa-sort"></i> Sort By</option>
                                        <option value="popularity">Popularity</option>
                                        <option value="recent-active">Recently Active</option>
                                        <option value="my-purchases">My Purchases</option> 
                                        <option value="genre">Genre</option> 
                                        <option value="age">Age</option> 
                                    </select>
                                </div>
                                 <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect01" v-if="sortMember == 'my-purchases' || sortMember == 'genre' || sortMember == 'age'">
                                        <option selected><i class="fas fa-sort"></i> Sort By</option>
                                        <option value="recent-purchase" v-if="sortMember == 'my-purchases'">Recent Purchases</option>
                                        <option value="most-purchases" v-if="sortMember == 'my-purchases'">Most Purchases</option>
                                        <option value="lifestyle" v-if="sortMember == 'genre'">Lifestyle</option> 
                                        <option value="art-nude" v-if="sortMember == 'genre'">Art Nude</option> 
                                        <option value="fashion" v-if="sortMember == 'genre'">Fashion</option> 
                                        <option value="swimwear" v-if="sortMember == 'genre'">Swimwear</option> 
                                        <option value="lingerie" v-if="sortMember == 'genre'">Lingerie</option> 
                                        <option value="erotica" v-if="sortMember == 'genre'">Erotica</option> 
                                        <option value="18-22" v-if="sortMember == 'age'">18-22</option> 
                                        <option value="23-27" v-if="sortMember == 'age'">23-27</option> 
                                        <option value="28-32" v-if="sortMember == 'age'">28-32</option> 
                                        <option value="33-37" v-if="sortMember == 'age'">33-37</option> 
                                        <option value="38-42" v-if="sortMember == 'age'">38-42</option> 
                                        <option value="43-older" v-if="sortMember == 'age'">43 and older</option> 
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="grid" v-images-loaded:on.progress="imageProgress">
                        <div class="block" v-for="(item, i) in items" :key="i" :id="i">
                            <a href="#">
                                <div class="item-wrapper">
                                    <img :src="item.img" alt="">
                                    <a href="#" class="set-featured" @click.stop.prevent="setBookmarked(i)"><i class="icon-subscriber-bookmark-icon"></i></a>
                                    <div class="item-overlay" v-if="item.title"> 
                                        <h3>{{ item.title }}</h3>
                                        <p>{{ item.position }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="more-less d-flex justify-content-between text-center">
                    <a href="#" @click.stop.prevent="add"><i class="fas fa-plus"></i> More</a>
                    <a href="#" @click.stop.prevent="remove"><i class="fas fa-minus"></i> Less</a>
                </div>
            </div>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse">Collapse <i class="fas fa-angle-up"></i></a>
            </div>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                items: [
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                ],
                msnry: null,
                sortMember: "Sort By",
            }
        },

        mounted() {
            let grid = document.querySelector('.favorite-artists-wrapper .grid');
            this.msnry = new Masonry(grid, {
                itemSelector: '.block',
                columnWidth: '.block',
                gutter: 25,
                percentPosition: true,
                transitionDuration: 0
            });
            
        },

        methods: {
            imageProgress(instance, image ) {
                this.msnry.layout();
            },
            add() {
                this.items.push(
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                    {
                        img: 'images/favorite.jpg',
                        title: 'John Smith',
                        position: 'Professtional Title'
                    },
                );
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                    $('html,body').animate({
                        scrollTop: $(".favorite-artists-wrapper .content-wrapper .more-less").offset().top -400
                    }, 1000);
                });
            },
            remove() {
                if(this.items.length > 0) {
                    $('html,body').animate({
                        scrollTop: $(".favorite-artists-wrapper .content-wrapper .more-less").offset().top -700
                    }, 1000);
                    setTimeout(() => {
                        this.items.splice(-6,6);
                    }, 900);
                }
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                }, 1000);
            },
            setBookmarked(index) {
                if($(".favorite-artists-wrapper .grid #"+index+".block").hasClass('featured')) {
                    $(".favorite-artists-wrapper .grid #"+index+".block").removeClass("featured");
                } else {
                    $(".favorite-artists-wrapper .grid #"+index+".block").addClass("featured");
                }
            },
            collapse() {
                if($(".favorite-artists-wrapper .section-content").hasClass("hide-content")) {
                    $(".favorite-artists-wrapper .content-wrapper .btn-collapse a").html("Collapse <i class='fas fa-angle-up'></i>");
                    $(".favorite-artists-wrapper .section-content").removeClass('hide-content')
                    $(".favorite-artists-wrapper .section-content").addClass('show-content')
                    $(".favorite-artists-wrapper .section-content").slideToggle();
                } else {
                    $(".favorite-artists-wrapper .content-wrapper .btn-collapse a").html("Expand <i class='fas fa-angle-down'></i>");
                    $(".favorite-artists-wrapper .section-content").removeClass('show-content')
                    $(".favorite-artists-wrapper .section-content").addClass('hide-content')
                    $(".favorite-artists-wrapper .section-content").addClass('active')
                        $('html,body').animate({
                            scrollTop: $(".favorite-artists-wrapper .section-content.active").offset().top - 250
                        }, 1500);
                    $(".favorite-artists-wrapper .section-content").slideToggle();
                    $(".favorite-artists-wrapper .section-content").removeClass('active')
                }
            }
        }
    }
</script>
<style scoped>
    .favorite-artists-wrapper .block { float: left; margin-bottom: 25px; width: calc(33.33% - 17px); opacity: 1; }
    .favorite-artists-wrapper .block img { width: 100%; height: auto; }
    .favorite-artists-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .favorite-artists-wrapper .section-banner { display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px; }
    .favorite-artists-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .favorite-artists-wrapper .section-banner img { width: 15%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .favorite-artists-wrapper .content-wrapper .row { padding:0px 15px; }
    .favorite-artists-wrapper .content-wrapper .search-members-wrapper { flex-direction: column; }
    .favorite-artists-wrapper .content-wrapper .search-members-wrapper a { text-align: center; background: #FFC845; padding: 9px 66px; color: #272727; border-radius: 5px; }
    .favorite-artists-wrapper .content-wrapper .col-4 div { display: flex; flex-direction: column; text-align: center; margin: 10px 0px; }
    /* .favorite-artists-wrapper .content-wrapper .grid .block:nth-child(1) { box-shadow: 0px 1px 10px #000; } */
    .favorite-artists-wrapper .content-wrapper img { width: 100%; height: auto; }
    .favorite-artists-wrapper .content-wrapper .item-wrapper { position: relative; }
    .favorite-artists-wrapper .content-wrapper .item-wrapper .set-featured { position: absolute; top: 3px; right: 3px; font-size: 20px; z-index: 3; }
    .favorite-artists-wrapper .content-wrapper .item-wrapper .set-featured i { color: #727272; }
    .favorite-artists-wrapper .content-wrapper .block.featured .item-wrapper .set-featured i { color: #FFC845; }
    .favorite-artists-wrapper .content-wrapper .block .item-wrapper .set-featured i::before { transform: scale(-1); }
    .favorite-artists-wrapper .content-wrapper a:hover .item-overlay { opacity: 1; }
    .favorite-artists-wrapper .content-wrapper .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; flex-direction: column; }
    .favorite-artists-wrapper .content-wrapper .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; }
    .favorite-artists-wrapper .content-wrapper .item-wrapper div p { margin: 0px; color: #fff; }
    .more-less a { background: #FFC845; padding: 9px 66px; color: #272727; border-radius: 5px; width: 48%; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a { color: #727272; }

    @media only screen and (max-width: 767px) {
        .favorite-artists-wrapper { margin: 40px 0px; }
        .favorite-artists-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .favorite-artists-wrapper .section-banner img { display: none; }
        .favorite-artists-wrapper .section-banner { margin-bottom: 30px; }
    }
    @media only screen and (max-width: 600px) {
        .favorite-artists-wrapper .block { float: left; margin-bottom: 25px; width: calc(50% - 17px); opacity: 1; }
        .more-less a { padding: 12px 0px; }
    }
    
</style>

