<template>
   <div class="featured-posts">
        <div class="section-banner">
            <h2 class="title text-uppercase">Featured</h2>
            <img src="images/placeholder-image.jpg" alt="Placeholder Image">
        </div>
        <div class="tabs">
            <a href="#" class="text-uppercase" data-target="featured" @click.stop.prevent="showPosts">Featured posts</a>
            <a href="#" class="text-uppercase" data-target="sets" @click.stop.prevent="showPosts">Sets</a>
            <a href="#" class="text-uppercase" data-target="video" @click.stop.prevent="showPosts">Video</a>
        </div>
        <div class="content-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="posts-wrapper" v-if="isFeatured">
                            <div class="item d-flex align-items-center mb-3" v-for="(featuredpost, index) in featuredposts" :key="index">
                                <img :src="featuredpost.img" alt="Image">
                                <div class="details">
                                    <h5>{{ featuredpost.title }}</h5>
                                    <p class="post-date mb-0"><i class="fas fa-calendar-alt"></i> <span>{{ featuredpost.date }}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="posts-wrapper" v-if="isSets">
                            <div class="item d-flex align-items-center mb-3" v-for="(set, index) in sets" :key="index">
                                <img :src="set.img" alt="Image">
                                <div class="details">
                                    <h5>{{ set.title }}</h5>
                                    <p class="post-date mb-0"><i class="fas fa-calendar-alt"></i> <span>{{ set.date }}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="posts-wrapper" v-if="isVideos">
                            <div class="item d-flex align-items-center mb-3" v-for="(video, index) in videos" :key="index">
                                <img :src="video.img" alt="Image">
                                <div class="details">
                                    <h5>{{ video.title }}</h5>
                                    <p class="post-date mb-0"><i class="fas fa-calendar-alt"></i> <span>{{ video.date }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data () {
            return {
                isFeatured: true,
                isVideos: false,
                isSets: false,
                featuredposts: [
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum Dolor Sit',
                        date: 'Feb 20, 2020'
                    },
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum Dolor Sit',
                        date: 'Feb 20, 2020'
                    },
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum Dolor Sit',
                        date: 'Feb 20, 2020'
                    },
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum Dolor Sit',
                        date: 'Feb 20, 2020'
                    },
                ],
                sets: [
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum Dolor',
                        date: 'Feb 20, 2020'
                    },
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum Dolor',
                        date: 'Feb 20, 2020'
                    },
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum Dolor',
                        date: 'Feb 20, 2020'
                    },
                ],
                videos: [
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum',
                        date: 'Feb 20, 2020'
                    },
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum',
                        date: 'Feb 20, 2020'
                    },
                    {
                        img: 'images/placeholder-image.jpg',
                        title: 'Lorem Ipsum',
                        date: 'Feb 20, 2020'
                    },
                ],
            }
        },
        mounted: function () {
             
        },
        methods: {
            showPosts: function(event) {
                var target = event.currentTarget.getAttribute('data-target');
                if(target == "featured") {
                    this.isSets = false;
                    this.isVideos = false;
                    this.isFeatured = true;
                } else if (target == "sets") {
                    this.isFeatured = false;
                    this.isVideos = false;
                    this.isSets = true;
                } else {
                    this.isFeatured = false;
                    this.isSets = false;
                    this.isVideos = true;
                }
            }
        }
    }
</script>
<style scoped>
    .featured-posts { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .featured-posts .section-banner { display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px; }
    .featured-posts .section-banner .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; }
    .featured-posts .section-banner img { width: 30%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .featured-posts .tabs { display: flex; justify-content: space-between; margin-bottom: 10px; }
    .featured-posts .tabs a { color: #272727; font-size: 16px; font-family: "Oswald"; }
    .featured-posts .tabs a:hover { color: #FFC845; }
    .featured-posts .content-wrapper img { width: 30%; }
    .featured-posts .content-wrapper .details { width: 70%; margin-left: 10px; }
    .featured-posts .content-wrapper .post-date { color: #727272; }
    
    @media only screen and (max-width: 1199px) {
        .featured-posts { position: relative; }
        .featured-posts .section-banner img { width: 15%; position: absolute; right: 0px; border-top-right-radius: 10px; top: 0; }
        .featured-posts .section-banner { margin-bottom: 70px; }
        .featured-posts .tabs { justify-content: space-around; }
        .featured-posts .content-wrapper .posts-wrapper { display: flex; flex-wrap: wrap; flex-direction: row; }
        .featured-posts .content-wrapper .posts-wrapper .item { width: 50%; }
        .featured-posts .section-banner .title { font-size: 40px; }
    }
    @media only screen and (max-width: 767px) {
        .featured-posts .title { font-size: 34px !important; margin: 12px 0px; }
        .featured-posts .section-banner img { display: none; }
        .featured-posts .section-banner { margin-bottom: 15px; }
    }
    @media only screen and (max-width: 600px) {
        .featured-posts .content-wrapper .posts-wrapper .item { width: 100%; }
    }
</style>

