<template>
   <div class="following-wrapper">
       <!-- Messenger Create List Modal -->
        <div class="modal fade" id="find-members-modal" tabindex="-1" role="dialog" aria-labelledby="find-members-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="modal-heading">
                                        <h5>Find New Members</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form>
                                        <div class="new-list-fields">
                                            <div class="input-group mb-3">
                                                <div class="search-user-wrapper">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                    </div>
                                                    <input v-model="nameKeyword" type="text" placeholder="Search Members" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                                <select class="custom-select" id="list-tags">
                                                    <option selected>Filter By</option>
                                                    <option value="1">Tag 1</option>
                                                    <option value="2">Tag 2</option>
                                                    <option value="3">Tag 3</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="users-list search-results">
                                            <p class="title">Search Results</p>
                                            <div class="modal-grid">
                                                <div class="modal-block">
                                                    <div class="">
                                                        <div class="">
                                                            <div class="inner-upper-content">
                                                                <div class="left-content">
                                                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="" style="width:60px;border-radius:50%;">
                                                                    <div class="icon-wrapper">
                                                                        <i class="fas fa-check-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="middle-content">
                                                                    <h4>Member Name</h4>
                                                                    <p>Professional Title</p>
                                                                    <p>Active: 1 day ago</p>
                                                                </div>
                                                                <div class="right-content">
                                                                    <h6><a href="#" class="btn-follow">Follow</a></h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-content">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-block">
                                                    <div class="">
                                                        <div class="">
                                                            <div class="inner-upper-content">
                                                                <div class="left-content">
                                                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="" style="width:60px;border-radius:50%;">
                                                                    <div class="icon-wrapper">
                                                                        <i class="fas fa-check-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="middle-content">
                                                                    <h4>Member Name</h4>
                                                                    <p>Professional Title</p>
                                                                    <p>Active: 1 day ago</p>
                                                                </div>
                                                                <div class="right-content">
                                                                    <h6><a href="#" class="btn-follow">Follow</a></h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-content">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="users-list recommended">
                                            <p class="title"><i class="fas fa-star"></i> RECOMMENDED FOR YOU</p>
                                            <div class="modal-grid">
                                                <div class="modal-block">
                                                    <div class="">
                                                        <div class="">
                                                            <div class="inner-upper-content">
                                                                <div class="left-content">
                                                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="" style="width:60px;border-radius:50%;">
                                                                    <div class="icon-wrapper">
                                                                        <i class="fas fa-check-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="middle-content">
                                                                    <h4>Member Name</h4>
                                                                    <p>Professional Title</p>
                                                                    <p>Active: 1 day ago</p>
                                                                </div>
                                                                <div class="right-content">
                                                                    <h6><a href="#" class="btn-follow">Follow</a></h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-content">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-block">
                                                    <div class="">
                                                        <div class="">
                                                            <div class="inner-upper-content">
                                                                <div class="left-content">
                                                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="" style="width:60px;border-radius:50%;">
                                                                    <div class="icon-wrapper">
                                                                        <i class="fas fa-check-circle"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="middle-content">
                                                                    <h4>Member Name</h4>
                                                                    <p>Professional Title</p>
                                                                    <p>Active: 1 day ago</p>
                                                                </div>
                                                                <div class="right-content">
                                                                    <h6><a href="#" class="btn-follow">Follow</a></h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item-content">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-banner">
            <h2 class="title">Following</h2>
        </div>
        <div v-if="loading" class="loading">
            Loading... 
        </div>
        <div class="content-wrapper"  v-if="items">
            <div class="section-content show-content">
                <div class="row-fluid">
                    <div class="box-wrapper">
                        <div class="right-content-wrapper">
                            <div class="search-box">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                                    </div>
                                    <input type="text" placeholder="Search Members" class="form-control name-field" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="btn-wrapper">
                                <a href="#" data-toggle="modal" data-target="#find-members-modal"><i class="fas fa-user-plus"></i> Find New Members</a>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="block" v-for="(item, i) in items" :key="i" :id="i">
                            <div class="">
                                <div class="">
                                    <div class="inner-upper-content">
                                        <div class="left-content">
                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="" style="width:60px;border-radius:50%;">
                                            <div class="icon-wrapper">
                                                <i class="fas fa-check-circle"></i>
                                            </div>
                                        </div>
                                        <div class="middle-content">
                                            <h4>Member Name</h4>
                                            <p>Professional Title</p>
                                            <p>Active: 1 day ago</p>
                                        </div>
                                        <div class="right-content">
                                            <h6><a href="#" class="btn-follow">Follow</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-less d-flex text-center">
                    <a href="#" @click.stop.prevent="add"><i class="fas fa-plus"></i> More</a>
                    <a href="#" @click.stop.prevent="remove"><i class="fas fa-minus"></i> Less</a>
                </div>
            </div>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse"><i class="fas fa-angle-up"></i></a>
            </div>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                loading: false,
                totalItemsToShow: 0,
                magazineDataSample: {
                    items: [
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/1.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/3.png',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/4.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/5.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/6.jpg',
                            title: 'Shooting With Adriana Lima',
                        }
                    ],
                },
                items: [],
                msnry: null,
            }
        },

        mounted() {
            let grid = document.querySelector('.following-wrapper .grid');
            this.msnry = new Masonry(grid, {
                itemSelector: '.block',
                columnWidth: '.block',
                gutter: 25,
                percentPosition: true,
                transitionDuration: 0
            });
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.items = magazineData.items;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.items.length > 25) ? 25 : this.items.length;  // set the total items to a set value or if lower, show the total items count				
				this.items = this.items.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                }, 1000);
            },
            imageProgress(instance, image ) {
                this.msnry.layout();
            },
            add() {
                this.items.push(
                    {
                        img: 'images/11.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/9.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/11.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/9.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                );
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                    $('html,body').animate({
                        scrollTop: $(".following-wrapper .content-wrapper .more-less").offset().top -400
                    }, 1000);
                });
            },
            remove() {
                if(this.items.length > 1) {
                    $('html,body').animate({
                        scrollTop: $(".following-wrapper .content-wrapper .more-less").offset().top -700
                    }, 1000);
                    setTimeout(() => {
                        this.items.splice(-6,6);
                    }, 900);
                }
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                }, 1000);
            },
            setFeatured(index) {
                if($(".following-wrapper .grid #"+index+".block").hasClass('featured')) {
                    $(".following-wrapper .grid #"+index+".block").removeClass("featured");
                } else {
                    $(".following-wrapper .grid #"+index+".block").addClass("featured");
                }
            },
            collapse() {
                if($(".following-wrapper .section-content").hasClass("hide-content")) {
                    $(".following-wrapper .content-wrapper .btn-collapse a").html("<i class='fas fa-angle-up'></i>");
                    $(".following-wrapper .section-content").removeClass('hide-content')
                    $(".following-wrapper .section-content").addClass('show-content')
                    $(".following-wrapper .section-content").slideToggle();
                } else {
                    $(".following-wrapper .content-wrapper .btn-collapse a").html("<i class='fas fa-angle-down'></i>");
                    $(".following-wrapper .section-content").removeClass('show-content')
                    $(".following-wrapper .section-content").addClass('hide-content')
                    $(".following-wrapper .section-content").addClass('active')
                        $('html,body').animate({
                            scrollTop: $(".following-wrapper .section-content.active").offset().top - 250
                        }, 1500);
                    $(".following-wrapper .section-content").slideToggle();
                    $(".following-wrapper .section-content").removeClass('active')
                }
            }
        }
    }
</script>
<style scoped>
/* create new list modal */
    #find-members-modal .modal-heading h5 { display: inline-block; border-bottom: 2px solid #ffc845; }
    #find-members-modal .modal-heading button {
        color: #ef8080;
        font-size: 30px;
        position: absolute;
        top: -20px;
        right: 0;
    }
    #find-members-modal .new-list-fields { margin: 20px 0px 25px; }
    #find-members-modal .new-list-fields .input-group { display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; }
    #find-members-modal .new-list-fields .input-group input { box-shadow: 0px 3px 12px 4px #ccc; margin-right: 20px; border-radius: 7px; }
    #find-members-modal .new-list-fields .input-group select {
        box-shadow: 0px 3px 12px 4px #ccc;
        border-radius: 7px;
        width: calc(50% - 7.5px);
        margin-left: 7.5px;
    }
    #find-members-modal .new-list-fields .input-group .search-user-wrapper {
        width: calc(50% - 7.5px);
        display: flex;
        margin-right: 7.5px;
        box-shadow: 0px 3px 12px 4px #ccc;
        border-radius: 7px;
    }
    #find-members-modal .new-list-fields .input-group .search-user-wrapper .input-group-text { background-color: #fff; border-radius: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    #find-members-modal .new-list-fields .input-group .search-user-wrapper input { margin-right: 0px; box-shadow: unset; border-left: 0px; border-radius: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    #find-members-modal .new-list-fields .input-group .btn-search-wrapper { margin-left: 20px; width: calc(29% - 20px); }
    #find-members-modal .new-list-fields .input-group .btn-search-wrapper a { background-color: #ffc845; color: #272727; padding: 8px 30px; border-radius: 5px; font-weight: 600; }
    #find-members-modal .users-list .title { font-weight: 600; }
    #find-members-modal .users-list .block { cursor: pointer; margin: 10px 0px; background-color: #E4E4E4; display: flex; flex-wrap: wrap; align-items: center; padding: 10px 15px; border-radius: 8px; }
    #find-members-modal .users-list .block.added { background-color: #727272; display: flex; flex-wrap: wrap; align-items: center; padding: 10px 15px; border-radius: 8px; }
    #find-members-modal .users-list .block .photo-thumb { width: 50px; height: 50px; }
    #find-members-modal .users-list .block .photo-thumb img { display: block; width: 100%; height: auto; border-radius: 50%; }
    #find-members-modal .users-list .block .user-headings { width: 70%; margin-left: 30px; }
    #find-members-modal .users-list .block.added .user-headings .user-fname, #find-members-modal .users-list .block.added .user-headings .user-last-message, #find-members-modal .users-list .block.added .user-headings .user-purchase-price { margin: 0; color: #fff; }
    #find-members-modal .users-list .block .user-headings .user-fname, #find-members-modal .users-list .block .user-headings .user-last-message, #find-members-modal .users-list .block .user-headings .user-purchase-price { margin: 0; color: #272727; }
    #find-members-modal .users-list .block .status-wrapper { width: calc(30% - 80px); text-align: right; }
    #find-members-modal .users-list .block .status-wrapper i { color: #ffc845; font-size: 22px; }
    #find-members-modal .btn-cancel { background-color: #ccc; color: #272727; border-color: #ccc; font-family: "Oswald"; padding: 8px 35px; }
    #find-members-modal .btn-create { background-color: #ffc845; color: #272727; border-color: #ffc845; font-family: "Oswald"; padding: 8px 35px; }
    #find-members-modal .modal-grid { display: flex; flex-wrap: wrap; align-items: center; } 
    #find-members-modal .modal-block:nth-child(odd) { margin-right: 7.5px; }
    #find-members-modal .modal-block:nth-child(even) { margin-left: 7.5px; }
    #find-members-modal .modal-block { margin-bottom: 25px; width: calc(50% - 7.5px); opacity: 1; padding: 12px;     box-shadow: 0px 1px 10px #ccc; border-radius: 10px; }   
    #find-members-modal .modal-block .inner-upper-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }  
    #find-members-modal .modal-block .inner-upper-content .left-content {
        position: relative;
    }
    #find-members-modal .modal-block .inner-upper-content .left-content img {
        width: 60px;
        border-radius: 50%;
    }
    #find-members-modal .modal-block .inner-upper-content .left-content .icon-wrapper {
        background-color: #ffff;
        position: absolute;
        top: -2px;
        right: -3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #find-members-modal .modal-block .inner-upper-content .left-content .icon-wrapper i {
        color: #FFC845;
    }
    #find-members-modal .modal-block .inner-upper-content .middle-content { margin-left: -50px; }
    #find-members-modal .modal-block .inner-upper-content .middle-content h4, #find-members-modal .modal-block .inner-upper-content .middle-content p {
        margin: 0;
    }
    #find-members-modal .modal-block .inner-upper-content .right-content .btn-follow {
        background: #FFC845;
        padding: 6px 12px;
        color: #272727;
        border-radius: 5px;
    }
    #find-members-modal .modal-block .item-content {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
    #find-members-modal .modal-block .item-content img {
        width: calc(33.33% - 4px);
    }
    #find-members-modal .modal-block .item-content img:nth-child(2) {
        margin: 0px 2px;
    }
    #find-members-modal .recommended .title i {
        color: #ffc845;
    }


    .following-wrapper .box-wrapper {
        margin-bottom: 15px;
    }
    .following-wrapper .box-wrapper .right-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }
    .following-wrapper .box-wrapper .right-content-wrapper .btn-wrapper a {
        background: #FFC845;
        padding: 9px 25px;
        color: #272727;
        border-radius: 5px;
        margin-left: 15px;
    }
    .following-wrapper .box-wrapper .inner-wrapper {
        box-shadow: 0px 10px 14px #ccc;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .following-wrapper .box-wrapper .inner-wrapper .left-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .following-wrapper .box-wrapper .inner-wrapper .left-content a {
         background: #FFC845;
        padding: 6px 12px;
        color: #272727;
        border-radius: 5px;
        margin-right: 10px;
    }
    .following-wrapper .box-wrapper .inner-wrapper .left-content .ref-link {
        margin: 0px;
        padding: 3px 8px;
        border: 1px solid #ccc;
    }
    .following-wrapper .box-wrapper .right-content-wrapper {
        margin-bottom: 20px;
    }
    .following-wrapper .box-wrapper .right-content-wrapper .input-group {
        box-shadow: 0px 10px 14px #ccc;
        border-radius: 10px;
    }
    .following-wrapper .box-wrapper .right-content-wrapper .input-group .input-group-prepend .input-group-text {
        background-color: #fff;
    }
    .following-wrapper .block { float: left; margin-bottom: 25px; width: calc(33.33% - 17px); opacity: 1; padding: 12px; }
    .following-wrapper .block img { width: 100%; height: auto; }
    .following-wrapper .block .item-content {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
    .following-wrapper .block .item-content img {
        width: calc(33.33% - 4px);
    }
    .following-wrapper .block .item-content img:nth-child(2) {
         margin: 0px 2px;
    }
    .following-wrapper .block .inner-upper-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .following-wrapper .block .inner-upper-content .left-content {
        position: relative;
    }
    .following-wrapper .block .inner-upper-content .left-content .icon-wrapper {
        background-color: #ffff;
        position: absolute;
        top: -2px;
        right: -3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .following-wrapper .block .inner-upper-content .left-content .icon-wrapper i {
        color: #FFC845;
    }
    .following-wrapper .block .inner-upper-content .middle-content h4, .following-wrapper .block .inner-upper-content .middle-content p{
        margin: 0;
    }
    .following-wrapper .block .inner-upper-content .right-content .btn-follow {
        background: #FFC845;
        padding: 6px;
        color: #272727;
        border-radius: 5px;
    }
    .following-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .following-wrapper .section-banner { display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; }
    .following-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; font-weight: normal; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .following-wrapper .section-banner .upper-right-header { text-align: center; }
    .following-wrapper .section-banner .upper-right-header p:nth-child(1) {
        display: inline-block;
        border-bottom: 3px solid #ffc845;
        margin: 0px;
        width: 100%;
    }
    .following-wrapper .content-wrapper .row { padding:0px 15px; }
    .following-wrapper .content-wrapper .col-4 div { display: flex; flex-direction: column; text-align: center; margin: 10px 0px; }
    .following-wrapper .content-wrapper .grid .block { box-shadow: 0px 1px 10px #ccc; border-radius: 10px; }
    .following-wrapper .content-wrapper img { width: 100%; height: auto; }
    .following-wrapper .content-wrapper .item-wrapper { position: relative; }
    .following-wrapper .content-wrapper .item-wrapper .set-featured { position: absolute; top: 3px; right: 3px; font-size: 20px; z-index: 3; }
    .following-wrapper .content-wrapper .item-wrapper .set-featured i { color: #727272; }
    .following-wrapper .content-wrapper .item-wrapper .set-featured i::before { transform: scale(-1); }
    .following-wrapper .content-wrapper .block.featured .item-wrapper .set-featured i { color: #FFC845; }
    .following-wrapper .content-wrapper a:hover .item-overlay { opacity: 1; }
    .following-wrapper .content-wrapper .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .following-wrapper .content-wrapper .block:first-child .item-wrapper div { background: rgba(255,200,69,1); }
    .following-wrapper .content-wrapper .block:first-child .set-featured { display: none; }
    .following-wrapper .content-wrapper .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; }
    .following-wrapper .content-wrapper .item-wrapper div p { margin: 0px; color: #fff; }
    .more-less {
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .more-less a {
            background: #FFC845;
    padding: 9px 66px;
    color: #272727;
    border-radius: 5px;
    }
    .more-less a:nth-child(2) { margin-left: 10px; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a {
        background-color: #727272;
        color: #fff;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-collapse a i{
        font-size: 20px;
    }

    @media only screen and (max-width: 1300px) {
        .following-wrapper .block { width: calc(50% - 15px); }
    }
     @media only screen and (max-width: 850px) {
        .following-wrapper .box-wrapper .inner-wrapper { width: 100%; }
        .following-wrapper .box-wrapper .right-content-wrapper { width: 100%; }
    }
    @media only screen and (max-width: 600px) {
        .following-wrapper .box-wrapper .inner-wrapper .left-content {
           align-items: flex-start;
            flex-direction: column;
       }
       .following-wrapper .box-wrapper .inner-wrapper .left-content .ref-link { margin-top: 10px; }
       .more-less { justify-content: center; flex-direction: column; }
       .more-less a:nth-child(2) { margin: 10px 0px 0px 0px; }
    }
    @media only screen and (max-width: 767px) {
        .following-wrapper { margin: 40px 0px; }
        .following-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .following-wrapper .section-banner img { display: none; }
        .following-wrapper .section-banner { margin-bottom: 30px; }
        .following-wrapper .block { width: 100%; }
        .following-wrapper .box-wrapper .right-content-wrapper {
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
        }
        .following-wrapper .box-wrapper .right-content-wrapper .search-box {
            width: 100%;
        }
        .following-wrapper .box-wrapper .right-content-wrapper .btn-wrapper {
            margin: 25px 0px 15px;
        }
        .following-wrapper .box-wrapper .right-content-wrapper .btn-wrapper a {
            margin-left: 0px;
        }
    }
    @media only screen and (max-width: 420px) {
        .following-wrapper .block .inner-upper-content { justify-content: unset; }
        .following-wrapper .block .inner-upper-content .left-content { margin-right: 12px; }
        .following-wrapper .block .inner-upper-content .right-content {
            display: block;
            width: 100%;
            margin-top: 20px;
        }
    }
    
</style>

