<template>
    <div class="social-menu">
        <p class="text-muted text-uppercase">Social Links</p>
        <ul>
            <li><a :href="socialLinks.fb"><i class="fab fa-facebook-f"></i></a></li>
            <li><a :href="socialLinks.instagram"><i class="fab fa-instagram"></i></a></li>
            <li><a :href="socialLinks.twitter"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['socialLinks'],
        data: () => {
            return {
                menuTitle: 'Social Links',
            }
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    
</style>