<template>
   <div class="honorable-mentions-section">
        <div class="header">
            <header class="widget-header">
                <h3 class="widget-title text-uppercase">Honorable Mentions</h3>
            </header>
        </div>
        <div v-if="loading" class="loading">
            Loading... 
        </div>  
        <div v-if="honorables">
            <div class="owl-carousel owl-theme" id="honorable-mentions-carousel">
                <div class="item" v-for="(honorable, index) in visibleItems" :key="index">
                    <div class="post-thumb">
                        <a :href="honorable.link" target="_blank" class="img-responsive"><img :src="honorable.img" alt="picture of Taryn Maria"></a>
                        <div class="kopa-metadata">
                            <div class="kopa-name">{{ honorable.name }}</div>
                            <div class="kopa-date"><i class="fas fa-calendar-alt"></i> {{ honorable.date }}</div>
                        </div>
                    </div>
                    <div class="item-content clearfix">
                        <div class="post-content">
                            <h4 class="post-title"><a href="#">{{ honorable.desc }}</a></h4>
                            <div>
                                <span class="kopa-rate">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </div>
                        </div>
                        <!-- post content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                honorables: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    honorables: [
                        {
                            img: 'images/placeholder.jpg',
                            name: 'Bella Fox',
                            link: '#',
                            date: 'January 1, 2014',
                            desc: 'Lorem Ipsum Dolor Sit Amet'
                        },
                        {
                            img: 'images/placeholder.jpg',
                            name: 'Bella Fox',
                            link: '#',
                            date: 'January 1, 2014',
                            desc: 'Lorem Ipsum Dolor Sit Amet'
                        },
                        {
                            img: 'images/placeholder.jpg',
                            name: 'Bella Fox',
                            link: '#',
                            date: 'January 1, 2014',
                            desc: 'Lorem Ipsum Dolor Sit Amet'
                        },
                        {
                            img: 'images/placeholder.jpg',
                            name: 'Bella Fox',
                            link: '#',
                            date: 'January 1, 2014',
                            desc: 'Lorem Ipsum Dolor Sit Amet'
                        },
                    ],
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.honorables = magazineData.honorables;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.honorables.length > 25) ? 25 : this.honorables.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.honorables.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog

                setTimeout(() => {
                    $("#honorable-mentions-carousel").owlCarousel({
                        nav:true,
                        loop: true,
                        margin:20,
                        dots:false,
                        navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            1000:{
                                items:3,
                            }
                        }
                    });
                }, 1000);
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>