<template>
   <div class="images-sets-wrapper">
        <div class="section-banner">
            <h2 class="title text-uppercase">Image Sets</h2>
            <img src="images/placeholder-image.jpg" alt="Placeholder Image">
        </div>
        <div class="content-wrapper">
            <div class="section-content show-content">
                <div class="row-fluid">
                    <div class="grid" v-images-loaded:on.progress="imageProgress">
                        <div class="block" v-for="(item, i) in items" :key="i" :id="i">
                            <a href="#">
                                <div class="item-wrapper">
                                    <img :src="item.img" alt="">
                                    <a href="#" class="set-featured" @click.stop.prevent="setFeatured(i)"><i class="icon-members-feature-icon"></i></a>
                                    <div class="item-overlay" v-if="item.title"> 
                                        <h5>{{ item.title }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="more-less d-flex justify-content-between text-center">
                    <a href="#" @click.stop.prevent="add"><i class="fas fa-plus"></i> More</a>
                    <a href="#" @click.stop.prevent="remove"><i class="fas fa-minus"></i> Less</a>
                </div>
            </div>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse">Collapse <i class="fas fa-angle-up"></i></a>
            </div>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                items: [
                    {
                        img: 'images/create-new.png',
                        title: 'create new image set',
                    },
                    {
                        img: 'images/7.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/1.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/3.png',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/4.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/6.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/7.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/2.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/6.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/7.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/2.jpg',
                        title: 'Shooting With Adriana Lima',
                    }
                ],
                msnry: null,
            }
        },

        mounted() {
            let grid = document.querySelector('.images-sets-wrapper .grid');
            this.msnry = new Masonry(grid, {
                itemSelector: '.block',
                columnWidth: '.block',
                gutter: 25,
                percentPosition: true,
                transitionDuration: 0
            });
            
        },

        methods: {
            imageProgress(instance, image ) {
                this.msnry.layout();
            },
            add() {
                this.items.push(
                    {
                        img: 'images/11.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/9.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/11.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/9.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                );
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                    $('html,body').animate({
                        scrollTop: $(".images-sets-wrapper .content-wrapper .more-less").offset().top -400
                    }, 1000);
                });
            },
            remove() {
                if(this.items.length > 1) {
                    $('html,body').animate({
                        scrollTop: $(".images-sets-wrapper .content-wrapper .more-less").offset().top -700
                    }, 1000);
                    setTimeout(() => {
                        this.items.splice(-6,6);
                    }, 900);
                }
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                }, 1000);
            },
            setFeatured(index) {
                if($(".images-sets-wrapper .grid #"+index+".block").hasClass('featured')) {
                    $(".images-sets-wrapper .grid #"+index+".block").removeClass("featured");
                } else {
                    $(".images-sets-wrapper .grid #"+index+".block").addClass("featured");
                }
            },
            collapse() {
                if($(".images-sets-wrapper .section-content").hasClass("hide-content")) {
                    $(".images-sets-wrapper .content-wrapper .btn-collapse a").html("Collapse <i class='fas fa-angle-up'></i>");
                    $(".images-sets-wrapper .section-content").removeClass('hide-content')
                    $(".images-sets-wrapper .section-content").addClass('show-content')
                    $(".images-sets-wrapper .section-content").slideToggle();
                } else {
                    $(".images-sets-wrapper .content-wrapper .btn-collapse a").html("Expand <i class='fas fa-angle-down'></i>");
                    $(".images-sets-wrapper .section-content").removeClass('show-content')
                    $(".images-sets-wrapper .section-content").addClass('hide-content')
                    $(".images-sets-wrapper .section-content").addClass('active')
                        $('html,body').animate({
                            scrollTop: $(".images-sets-wrapper .section-content.active").offset().top - 250
                        }, 1500);
                    $(".images-sets-wrapper .section-content").slideToggle();
                    $(".images-sets-wrapper .section-content").removeClass('active')
                }
            }
        }
    }
</script>
<style scoped>
    .images-sets-wrapper .block { float: left; margin-bottom: 25px; width: calc(33.33% - 17px); opacity: 1; }
    .images-sets-wrapper .block img { width: 100%; height: auto; }

    .images-sets-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .images-sets-wrapper .section-banner { display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px; }
    .images-sets-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .images-sets-wrapper .section-banner img { width: 15%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .images-sets-wrapper .content-wrapper .row { padding:0px 15px; }
    .images-sets-wrapper .content-wrapper .col-4 div { display: flex; flex-direction: column; text-align: center; margin: 10px 0px; }
    .images-sets-wrapper .content-wrapper .grid .block:nth-child(1) { box-shadow: 0px 1px 10px #000; }
    .images-sets-wrapper .content-wrapper img { width: 100%; height: auto; }
    .images-sets-wrapper .content-wrapper .item-wrapper { position: relative; }
    .images-sets-wrapper .content-wrapper .item-wrapper .set-featured { position: absolute; top: 3px; right: 3px; font-size: 20px; z-index: 3; }
    .images-sets-wrapper .content-wrapper .item-wrapper .set-featured i { color: #727272; }
    .images-sets-wrapper .content-wrapper .item-wrapper .set-featured i::before { transform: scale(-1); }
    .images-sets-wrapper .content-wrapper .block.featured .item-wrapper .set-featured i { color: #FFC845; }
    .images-sets-wrapper .content-wrapper a:hover .item-overlay { opacity: 1; }
    .images-sets-wrapper .content-wrapper .block:first-child .item-wrapper div { background: rgba(255,200,69,1); }
    .images-sets-wrapper .content-wrapper .block:first-child .set-featured { display: none; }
    .images-sets-wrapper .content-wrapper .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .images-sets-wrapper .content-wrapper .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; }
    .images-sets-wrapper .content-wrapper .item-wrapper div p { margin: 0px; color: #fff; }
    .more-less a { background: #FFC845; padding: 9px 66px; color: #272727; border-radius: 5px; width: 48%; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a { color: #727272; }

    @media only screen and (max-width: 767px) {
        .images-sets-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .images-sets-wrapper .section-banner img { display: none; }
        .images-sets-wrapper .section-banner { margin-bottom: 30px; }
    }

    @media only screen and (max-width: 600px) {
        .images-sets-wrapper .block { float: left; margin-bottom: 25px; width: calc(50% - 17px); opacity: 1; }
        .more-less a { padding: 12px 0px; }
    }
</style>