<template>
   <div class="information-wrapper">
        <h5 class="text-uppercase">Information & Privacy</h5>
        <p>Information entered in both your Private Banking and Private Card sections are encrypted and only used by us to process your payments. Information in your Public section will appear on public pages, while information in your Casting Calls section can only be viewed by Varified Members for Casting Calls.</p>
        <div class="d-flex align-items-center justify-content-end">
            <a href="#" class="btn-dismiss">Dismiss</a>
            <a href="#" class="btn-membership-guide">Membership Guidelines</a>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                
            }
        },

        mounted() {
           
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .information-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .information-wrapper p { font-weight: 300; font-size: 16px; }
    .information-wrapper .btn-dismiss { background-color: #CCCCCC; padding: 8px 25px; border-radius: 5px; font-family: "Oswald"; color: #272727; margin-right: 15px; }
    .information-wrapper .btn-dismiss:hover, .information-wrapper .btn-membership-guide:hover { color: #fff; }
    .information-wrapper .btn-membership-guide { background-color: #ffc845; padding: 8px 25px; border-radius: 5px; font-family: "Oswald"; color: #272727; }
</style>