<template>
   <section id="home-popular-posts">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget-area-18">
                        <div class="widget kopa-thumb-first-big-widget">
                            <header class="widget-header" v-if="posts">
                                <h3 class="widget-title">Popular Posts</h3>
                            </header>
                            <div v-if="loading" class="loading">
                                Loading... 
                            </div>
                            <div class="widget-content" v-if="posts">
                                <ul class="list-unstyled clearfix">
                                    <li>
                                        <div class="item clearfix">
                                            <div class="post-thumb">
                                                <a :href="visibleItems[0].link" class="img-responsive">
                                                    <img :src="visibleItems[0].img" alt="">
                                                </a>
                                            </div>
                                            <!-- post thumb -->
                                            <div class="item-content">
                                                <header>
                                                    <h4 class="post-title"><a :href="visibleItems[0].link">{{ visibleItems[0].title }}</a> </h4>
                                                </header>
                                                <div class="post-content">
                                                    <div class="kopa-metadata-border">
                                                        <span class="kopa-rate">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </span>
                                                    </div>
                                                    <!-- metadata -->
                                                    <p>{{ visibleItems[0].desc }}</p>
                                                    <a :href="visibleItems[0].link" class="kopa-readmore">Read more</a>
                                                </div>
                                            </div>
                                            <!-- item content -->
                                            <div class="kopa-date-box">
                                                <i class="fas fa-pencil-alt"></i>
                                                <span class="kopa-mon">{{ visibleItems[0].month }}</span>
                                                <span class="kopa-day">{{ visibleItems[0].day }}</span>
                                                <span class="kopa-yea">{{ visibleItems[0].year }}</span>
                                            </div>
                                        </div>
                                        <!-- item -->
                                    </li>
                                    <li v-for="(post, index) in visibleItems.slice(1)" :key="index">
                                        <div class="item clearfix">
                                            <a :href="post.link" class="post-thumb pull-left">
                                                <img :src="post.img" alt="">
                                            </a>
                                            <div class="item-right">
                                                <div class="kopa-metadata">
                                                    <span class="kopa-date"> {{ post.month }} {{ post.day }}, {{ post.year }}</span>
                                                </div>
                                                <!-- metadata -->
                                                <h4 class="post-title">
                                                    <a :href="post.link">{{ post.title }}</a>
                                                </h4>
                                            </div>
                                        </div>
                                        <!-- item -->
                                    </li>
                                    <li>
                                        <div class="item clearfix mx-auto text-center">
                                            <a href="#" class="kopa-readmore">View More</a>
                                        </div>
                                        <!-- item -->
                                    </li>
                                </ul>
                            </div>
                            <!-- widget-content -->
                        </div>
                        <!-- thumb big carousel widget -->
                    </div>
                    <!-- widget area 18 -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget-area-19">
                        <div class="widget kopa-list-posts-thumb-big-small-2-widget">
                            <header class="widget-header overlay-wrapper">
                                <a href=""><h3 class="widget-title overlay">Top Pick</h3></a>
                                <i class="fa fa-plus-square-o"></i>
                            </header>
                            <div class="widget-content">
                                <div id="foodMainPost">                                       
                                    <div class="item item-latest clearfix">
                                        <div class="post-thumb">
                                            <a href="www.youtube.com" class="img-responsive"><img src="images/foodlrg.jpg" alt="Model Post Magazine food and Booze blog img"></a>
                                        </div><!-- thumb -->
                                    </div>
                                    <div class="kopa-date-box">
                                        <i class="fa fa-chevron-down"></i>
                                        <span class="kopa-mon">July</span>
                                        <span class="kopa-day">10</span>
                                        <span class="kopa-yea">2016</span>
                                    </div>
                                </div>   
                            </div>
                            <div id="foodLoop">                                       
                                <div class="item clearfix">
                                    <div class="post-thumb">
                                        <a href="https://www.facebook.com/" class="img-responsive"><img src="images/foodsml2.jpg" alt=""></a>
                                    </div>
                                    <!-- thumb -->
                                    <div class="item-content item-right">
                                        <header>
                                            <h4 class="post-title"><a href="img/placeholders/post/foodsml2.jpg">12 Summer Hacks</a></h4>
                                        </header>
                                        <div class="post-content">
                                            <div class="kopa-metadata">
                                                <span class="kopa-rate">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </div><!-- metadata -->
                                        </div>
                                    </div>
                                </div>
                                <div class="item clearfix">
                                    <div class="post-thumb">
                                        <a href="www.youtube.com" class="img-responsive"><img src="images/foodsml1.jpg" alt=""></a>
                                    </div>
                                    <!-- thumb -->
                                    <div class="item-content item-right">
                                        <header>
                                            <h4 class="post-title"><a href="img/placeholders/post/foodsml1.jpg">Everything is better with Gin</a></h4>
                                        </header>
                                        <div class="post-content">
                                            <div class="kopa-metadata">
                                                <span class="kopa-rate">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </div><!-- metadata -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- kopa-list-posts-thumb-big-small-2-widget -->
                    </div><!-- widget area 19 -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="kopa-ads-widget">
                        <div class="widget-content">
                            <a href="#" target="_blank"><img src="images/Ad.jpg" alt="Model Post Magazine Patreon link 2"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                posts: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    posts: [
                        {
                            img: 'images/placeholder2.jpg',
                            link: '#',
                            month: 'July',
                            day: '14',
                            year: '2014',
                            title: 'British Government: Flood Crisis Consistent With Global Warming',
                            desc: 'Behind the couch chew foot so hunt anything that moves flop over hunt anything that moves intently stare at the same spot or cat at the same spot or cat snacks.',

                        },
                        {
                            img: 'images/placeholder4.jpg',
                            link: '#',
                            month: 'July',
                            day: '14',
                            year: '2014',
                            title: 'British Government: Flood Crisis Consistent With Global Warming',
                            desc: 'Behind the couch chew foot so hunt anything that moves flop over hunt anything that moves intently stare at the same spot or cat at the same spot or cat snacks.',

                        },
                        {
                            img: 'images/placeholder4.jpg',
                            link: '#',
                            month: 'July',
                            day: '14',
                            year: '2014',
                            title: 'British Government: Flood Crisis Consistent With Global Warming',
                            desc: 'Behind the couch chew foot so hunt anything that moves flop over hunt anything that moves intently stare at the same spot or cat at the same spot or cat snacks.',

                        },
                        {
                            img: 'images/placeholder4.jpg',
                            link: '#',
                            month: 'July',
                            day: '14',
                            year: '2014',
                            title: 'British Government: Flood Crisis Consistent With Global Warming',
                            desc: 'Behind the couch chew foot so hunt anything that moves flop over hunt anything that moves intently stare at the same spot or cat at the same spot or cat snacks.',

                        },
                        {
                            img: 'images/placeholder4.jpg',
                            link: '#',
                            month: 'July',
                            day: '14',
                            year: '2014',
                            title: 'British Government: Flood Crisis Consistent With Global Warming',
                            desc: 'Behind the couch chew foot so hunt anything that moves flop over hunt anything that moves intently stare at the same spot or cat at the same spot or cat snacks.',

                        },
                        {
                            img: 'images/placeholder4.jpg',
                            link: '#',
                            month: 'July',
                            day: '14',
                            year: '2014',
                            title: 'British Government: Flood Crisis Consistent With Global Warming',
                            desc: 'Behind the couch chew foot so hunt anything that moves flop over hunt anything that moves intently stare at the same spot or cat at the same spot or cat snacks.',

                        },
                    ]
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            // this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.posts = magazineData.posts;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.posts.length > 25) ? 25 : this.posts.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.posts.slice(0, this.totalItemsToShow);  //copy objects to array used in control
				this.loading = false; // loading data finished, stop showing loading dialog
			}
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>