<template>
    <section id="fresh-posts">
        <div class="container-fluid px-0">
            <div class="row">
                <div class="title-wrapper col-xl-2 col-lg-3 col-md-6 col-sm-1 col-1 offset-lg-2 py-0 d-flex align-items-center">
                    <h3>{{ freshTweets.title }}</h3>
                    <div class="mobile-twitter">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
                <div class="carousel-wrapper col-xl-8 col-lg-7 col-md-6 col-sm-11 col-11 py-0 d-flex align-items-center">
                    <div class="carousel-tweets">
                        <a :href="tweet.href" v-for="(tweet, index) in freshTweets.tweets" :key="index">{{ tweet.title }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="posts-carousel-wrapper">
            <div class="widget-header">
                <h3 class="widget-title">Freshly Posted</h3>
            </div>
            <div v-if="loading" class="loading">
                Loading... 
            </div>
            <div class="carousel-content" v-if="freshPosts">
                <div class="owl-carousel owl-theme freshpost-carousel">
                    <article class="item" v-for="(post, index) in visibleItems" :key="index">
                        <div class="post-thumb img-responsive">
                            <img :src="post.modelImageUrl" alt="Photo of Bella Fox">
                        </div>
                        <div class="item-content">
                            <header>
                                <h4 class="post-cat"><a href="#" target="_blank"><span class="prefix">MODEL</span> | {{ post.modelCategory }}</a></h4>
                                <span class="kopa-rate">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </header>
                            <div class="post-content">
                                <h4 class="post-title"><a href="#" target="_blank">{{ post.modelName }}</a></h4>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                freshPosts: null,
                visibleItems: null,
                totalItemsToShow: 0,
                freshTweets: {
                    title: 'Fresh Tweets',
                    tweets: [
                        { title: 'Lorem Ipsum dolor sit amet', href: '#' },
                        { title: 'Lorem Ipsum dolor sit amet', href: '#' },
                        { title: 'Lorem Ipsum dolor sit amet', href: '#' },
                    ]
                },
                magazineDataSample: {
                    freshPosts: [
                        {
                            modelName: 'Bella fox',
                            modelCategory: 'Art',
                            modelImageUrl: 'images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelCategory: 'Art',
                            modelImageUrl: 'images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelCategory: 'Art',
                            modelImageUrl: 'images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelCategory: 'Art',
                            modelImageUrl: 'images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelCategory: 'Art',
                            modelImageUrl: 'images/13.jpg'
                        },
                        {
                            modelName: 'Bella fox',
                            modelCategory: 'Art',
                            modelImageUrl: 'images/13.jpg'
                        },
                    ]   
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            // this.LoadData(this.magazineDataSample);
            setTimeout(() => {
                //magazine home page marqueue
                $('.carousel-tweets').marquee().mouseover(function (e) {
                    if ($(e.target).is('a')) {
                        $(this).trigger('stop');    
                    }
                }).mouseout(function () {
                    $(this).trigger('start');
                });
            }, 1000);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.freshPosts = magazineData.freshPosts;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.freshPosts.length > 25) ? 25 : this.freshPosts.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.freshPosts.slice(0, this.totalItemsToShow);  //copy objects to array used in control
				this.loading = false; // loading data finished, stop showing loading dialog
				setTimeout(() => {
                    //magazine home page fresh post carousel
                    $(".freshpost-carousel").owlCarousel({
                        nav:true,
                        loop: true,
                        stagePadding: 50,
                        dots:false,
                        navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            992:{
                                items:3
                            },
                            1000:{
                                items:4,
                                stagePadding: 0
                            }
                        }
                    });
                }, 1000);
				
			}
        }
    }
</script>
<style scoped>
    .loading {
        color: #fff;
        text-align: center;
    }
</style>