<template>
   <section id="monthly-features">
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">    
                    <div class="widget-area-11">
                        <div class="widget kopa-list-posts-thumb-big-small-widget">
                            <header class="widget-header">
                                <h3 class="widget-title">Monthy Feature</h3>
                                <!--<i class="fa fa-plus-square-o"></i>-->
                            </header>                           
                            
                            <div class="widget-content"></div>
                            <div id="weekly">                                       
                                <div class="item item-latest clearfix">
                                    <div class="post-thumb">
                                        <a :href="monthlyFeatureItems.link" class="img-responsive"><img :src="monthlyFeatureItems.img" alt="Model Post Magazine model "></a>
                                    </div>
                                    <!-- thumb -->
                                    <div class="item-content">
                                        <header>
                                            <h4 class="post-title">
                                                <a :href="monthlyFeatureItems.link">{{ monthlyFeatureItems.title }}</a>
                                            </h4>
                                            <div class="kopa-rate-wrapper">
                                                <span class="kopa-rate">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </div>
                                        </header>
                                        <div class="post-content">
                                        
                                            <!-- metadata -->
                                            <p>{{ monthlyFeatureItems.description }}</p>
                                        </div>
                                    </div>
                                    <!-- item content -->
                                    <div class="kopa-date-box">
                                        <i class="fa fa-chevron-down"></i>
                                        <span class="kopa-mon">{{monthlyFeatureItems.month}}</span>
                                        <span class="kopa-day">{{monthlyFeatureItems.day}}</span>
                                        <span class="kopa-yea">{{monthlyFeatureItems.year}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget-area-12">
                        <div class="widget kopa-vertical-carousel-widget">
                            <header class="widget-header">
                                <h3 class="widget-title">Video &amp; Film</h3>
                            </header>
                            <div class="widget-content music-carousel-wrapper">
                                <div id="music-carousel">
                                    <div class="item" v-for="(videofilm, index) in videofilmsItems" :key="index">
                                        <div class="post-thumb">
                                            <a :href="videofilm.link" target="_blank" class="img-responsive"><img :src="videofilm.img" alt="A picture of "></a>
                                            <div class="post-mask"></div>
                                        </div>
                                        <div class="post-content">
                                            <h4 class="post-title"><a href="#">{{ videofilm.title }}</a></h4>
                                            <div class="kopa-metadata clearfix">
                                                <span class="kopa-date">{{ videofilm.date }}</span><br>
                                                <span class="kopa-rate">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </div>
                                        </div><!-- post-content -->
                                    </div><!-- item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 socials-widget">
                    <div class="widget-area-13">
                        <div class="widget kopa-list-posts-thumb-big-small-widget">
                            <header class="widget-header">
                                <h3 class="widget-title">Our Socials</h3>
                                <!--<i class="fa fa-plus-square-o"></i>-->
                            </header>
                        </div>
                    </div>
                    <div class="widget-area-19">
                        <div class="widget kopa-list-posts-thumb-big-small-2-widget">
                            <header class="widget-header overlay-wrapper">
                                <a href=""><h3 class="widget-title overlay">Top Pick</h3></a>
                                <i class="fa fa-plus-square-o"></i>
                            </header>
                            <div class="widget-content">
                                <div id="foodMainPost">                                       
                                    <div class="item item-latest clearfix">
                                        <div class="post-thumb">
                                            <a :href="ourSocialsItems[0].link" class="img-responsive"><img :src="ourSocialsItems[0].img" alt="Model Post Magazine food and Booze blog img"></a>
                                        </div><!-- thumb -->
                                    <div class="kopa-date-box">
                                        <i class="fa fa-chevron-down"></i>
                                        <span class="kopa-mon">{{ ourSocialsItems[0].month }}</span>
                                        <span class="kopa-day">{{ ourSocialsItems[0].day }}</span>
                                        <span class="kopa-yea">{{ ourSocialsItems[0].year }}</span>
                                    </div>
                                </div>   
                            </div>
                            <div id="foodLoop">                                       
                                <div class="item clearfix" v-for="(ourSocial, index) in ourSocialsItems.slice(1)" :key="index">
                                    <div class="post-thumb">
                                        <a :href="ourSocial.link" class="img-responsive"><img :src="ourSocial.img" alt=""></a>
                                    </div>
                                    <!-- thumb -->
                                    <div class="item-content item-right">
                                        <header>
                                            <h4 class="post-title"><a :href="ourSocial.link">{{ ourSocial.title }}</a></h4>
                                        </header>
                                        <div class="post-content">
                                            <div class="kopa-metadata">
                                                <span class="kopa-rate">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                            </div><!-- metadata -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div><!-- kopa-list-posts-thumb-big-small-2-widget -->
                    </div><!-- widget area 19 -->
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                monthlyFeature: null,
                monthlyFeatureItems: null,
                monthlyFeatureTotalItemsToShow: 0,
                videofilms: null,
                videofilmsItems: null,
                videofilmsTotalItemsToShow: 0,
                ourSocials: null,
                ourSocialsItems: null,
                ourSocialsTotalItemsToShow: 0,
                magazineDataSample: {
                    monthlyFeature: {
                        img: 'images/blog.jpg',
                        title: 'The Launch of Model Post Magazine',
                        link: '#',
                        month: 'July',
                        day: '20',
                        year: '2016',
                        description: 'Based on a one-act play by British writer Heathcote Williams, the 56-minute film was shot during the 1980s, completed in 1990, and then never publicly shown, with the exception of some private screenings for acting and film classes. Pacino finally agreed to include “The Local Stigmatic” in a DVD package of other films he has produced independently, including “Chinese Coffee” and “Looking for Richard.” I’ve always been fascinated...'
                    },
                    videofilms: [
                        {
                            img: 'images/music_blog_1.jpg',
                            link: '#',
                            title: 'Gwen Stephany rocks out',
                            date: 'July 12 2016'
                        },
                        {
                            img: 'images/music_blog_2.jpg',
                            link: '#',
                            title: 'Gwen Stephany rocks out',
                            date: 'July 12 2016'
                        },
                        {
                            img: 'images/music_blog_3.jpg',
                            link: '#',
                            title: 'Gwen Stephany rocks out',
                            date: 'July 12 2016'
                        },
                        {
                            img: 'images/music_blog_1.jpg',
                            link: '#',
                            title: 'Gwen Stephany rocks out',
                            date: 'July 12 2016'
                        },
                        {
                            img: 'images/music_blog_2.jpg',
                            link: '#',
                            title: 'Gwen Stephany rocks out',
                            date: 'July 12 2016'
                        },
                        {
                            img: 'images/music_blog_3.jpg',
                            link: '#',
                            title: 'Gwen Stephany rocks out',
                            date: 'July 12 2016'
                        },
                    ],
                    ourSocials: [
                        {
                            img: 'images/foodlrg.jpg',
                            month: 'July',
                            day: '10',
                            year: '2016',
                            title: '',
                            link: '#'
                        },
                        {
                            img: 'images/foodsml2.jpg',
                            month: 'July',
                            day: '10',
                            year: '2016',
                            title: '12 Summer Hacks',
                            link: '#'
                        },
                        {
                            img: 'images/foodsml1.jpg',
                            month: 'July',
                            day: '10',
                            year: '2016',
                            title: 'Everything is better with Gin',
                            link: '#'
                        }
                    ]
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.monthlyFeatureItems = magazineData.monthlyFeature;		// set local array to supplied objects related array		
				this.videofilms = magazineData.videofilms;		// set local array to supplied objects related array		
				this.videofilmsTotalItemsToShow = (this.videofilms.length > 25) ? 25 : this.videofilms.length;  // set the total items to a set value or if lower, show the total items count				
				this.videofilmsItems = this.videofilms.slice(0, this.videofilmsTotalItemsToShow);  //copy objects to array used in control
				this.ourSocials = magazineData.ourSocials;		// set local array to supplied objects related array		
				this.ourSocialsTotalItemsToShow = (this.ourSocials.length > 25) ? 25 : this.ourSocials.length;  // set the total items to a set value or if lower, show the total items count				
				this.ourSocialsItems = this.ourSocials.slice(0, this.ourSocialsTotalItemsToShow);  //copy objects to array used in control
				this.loading = false; // loading data finished, stop showing loading dialog
				setTimeout(() => {
                    $("#music-carousel").bxSlider({
                        mode: 'vertical',
                        minSlides: 3,
                        slideMargin: 0,
                        auto:false,
                        moveSlides:1,
                        controls:false,
                        pager:false,
                        controls:true,
                    });
                }, 1000);
			}
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>