<template>
    <div class="kopa-header-top">
        <div class="container-lg">
            <div class="menu-second pull-left">
                
            </div>
            <div class="kopa-social pull-right">
                <a :href="topHeaderLinks.profileLink" class="header-icon header-icon-4" title="profile"><i class="fas fa-user"></i></a>
                <a :href="topHeaderLinks.addContentLink" class="header-icon header-icon-4" title="add content"><i class="fas fa-plus-circle"></i></a>
                <a :href="topHeaderLinks.messengerLink" class="header-icon header-icon-4" title="messenger"><i class="fab fa-facebook-messenger"></i></a>
                <a :href="topHeaderLinks.streamLink" class="header-icon header-icon-4" title="stream live"><i class="fas fa-stream"></i></a>
                <a :href="topHeaderLinks.settingsLink" class="header-icon header-icon-4" title="settings"><i class="fas fa-cog"></i></a>
                <a href="#" class="header-icon header-icon-4 mode" title="day/night mode" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fas fa-moon"></i></a>
                <a :href="topHeaderLinks.notificationsLink" class="header-icon header-icon-3 bell" title="notifications"><i class="fa fa-bell fa color-red2-dark"></i></a>
            </div>
            <!-- social -->
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                topHeaderLinks: {},
            }
        },

        mounted() {
            this.topHeaderLinks = {
                profileLink: '#',
                addContentLink: '#',
                messengerLink: '#',
                streamLink: '#',
                settingsLink: '#',
                notificationsLink: '#',
            }
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    
</style>