<template>
    <section id="home-banner">
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-12 py-0">
                    <div v-if="loading" class="loading">
                        Loading... 
                    </div>                                    
                    <div id="banner" v-if="visibleItems">   
                        <div class="item" v-for="(bannerItem, index) in visibleItems" :key="index">
                            <div class="post-thumb img-responsive">
                                <img :src="bannerItem.imageUrl" alt="Photo of Adriana Lima">
                            </div>
                            <div class="item-content">
                                <h4 class="post-cat"><a href="#" target="_blank">{{ bannerItem.modelName }}</a></h4>
                                <span class="kopa-rate">
                                    <!--for loop-->
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <!--end for lop-->
                                </span>
                                <h4 class="post-title"><a href="#" target="_blank">MEMBER OF THE MONTH</a></h4>
                                <a href="#" class="kopa-readmore">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                bannerItems: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    bannerItems: [
                        {
                            modelName: 'Adriana Lima',
                            imageUrl: 'images/banner-1.jpg',
                        },
                        {
                            modelName: 'Chase Morgan',
                            imageUrl: 'images/banner-2.jpg',
                        },
                        {
                            modelName: 'Betty Page',
                            imageUrl: 'images/banner-3.jpg',
                        }
                    ]
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.bannerItems = magazineData.bannerItems;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.bannerItems.length > 25) ? 25 : this.bannerItems.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.bannerItems.slice(0, this.totalItemsToShow);  //copy objects to array used in control
				this.loading = false; // loading data finished, stop showing loading dialog
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>