<template>
   <section id="top-members">
        <div class="container-fluid top-members-wrapper">
            <div class="row">
                <div class="col-12 px-0">
                    <div class="top-members-carousel-wrapper">
                        <header class="widget-header">
                            <h3 class="widget-title">Monthly | Top 10 members</h3>
                        </header>
                        <div v-if="loading" class="loading">
                            Loading... 
                        </div>
                        <div class="widget-content" v-if="topMembers">
                            <div class="owl-carousel owl-theme" id="top-members-carousel">
                                <div class="item" v-for="(topMember, index) in visibleItems" :key="index">
                                    <div class="post-thumb">
                                        <a :href="topMember.link" target="_blank" class="img-responsive"><img :src="topMember.img" alt="picture of Taryn Maria"></a>
                                        <div class="kopa-metadata">
                                            <span class="kopa-date"> {{ topMember.date }}</span>
                                            <span class="kopa-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="item-content clearfix">
                                        <span class="kopa-num pull-left">{{ topMember.number }}</span>
                                        <div class="post-content item-right">
                                            <h4 class="post-title"><a href="#">{{ topMember.title }}</a></h4>
                                            <p>{{ topMember.desc }}</p>
                                        </div>
                                        <!-- post content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="widget kopa-ads-widget">
                        <div class="widget-content">
                            <a href="#" target="_blank"><img src="images/Ad.jpg" alt="Model Post Magazine Patreon link 2"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                topMembers: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    topMembers: [
                        {
                            img: 'images/placeholder.jpg',
                            link: '#',
                            date: 'Feb 20, 2014',
                            title: 'Tips To Play Angry Birds Effectively',
                            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lorem iaculis, condimentum orci eget, scelerisque',
                            number: '01'
                        },
                        {
                            img: 'images/placeholder.jpg',
                            link: '#',
                            date: 'Feb 20, 2014',
                            title: 'Tips To Play Angry Birds Effectively',
                            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lorem iaculis, condimentum orci eget, scelerisque',
                            number: '02'
                        },
                        {
                            img: 'images/placeholder.jpg',
                            link: '#',
                            date: 'Feb 20, 2014',
                            title: 'Tips To Play Angry Birds Effectively',
                            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lorem iaculis, condimentum orci eget, scelerisque',
                            number: '03'
                        },
                        {
                            img: 'images/placeholder.jpg',
                            link: '#',
                            date: 'Feb 20, 2014',
                            title: 'Tips To Play Angry Birds Effectively',
                            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lorem iaculis, condimentum orci eget, scelerisque',
                            number: '04'
                        },
                        {
                            img: 'images/placeholder.jpg',
                            link: '#',
                            date: 'Feb 20, 2014',
                            title: 'Tips To Play Angry Birds Effectively',
                            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget lorem iaculis, condimentum orci eget, scelerisque',
                            number: '05'
                        },
                    ]
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            // this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.topMembers = magazineData.topMembers;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.topMembers.length > 25) ? 25 : this.topMembers.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.topMembers.slice(0, this.totalItemsToShow);  //copy objects to array used in control
				this.loading = false; // loading data finished, stop showing loading dialog
				setTimeout(() => {
                    $("#top-members-carousel").owlCarousel({
                        nav:true,
                        loop: true,
                        margin:20,
                        stagePadding: 50,
                        dots:false,
                        navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            1000:{
                                items:3,
                                stagePadding: 0
                            }
                        }
                    });
                }, 1000);
			}
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>