<template>
    <section id="trending">
        <div class="container-fluid trending-wrapper">
            <div class="row">
                <div class="col-12 px-0">
                    <div class="trending-carousel-wrapper">
                        <header class="widget-header">
                            <h3 class="widget-title">Trending Now</h3>
                        </header>
                        <div v-if="loading" class="loading">
                            Loading... 
                        </div>
                        <div class="widget-content" v-if="trendingPosts">
                            <div class="owl-carousel owl-theme" id="trending-carousel">
                                <div class="item" v-for="(trendingPost, index) in visibleItems" :key="index">
                                    <div class="post-thumb">
                                        <a :href="trendingPost.link" target="_blank" class="img-responsive"><img :src="trendingPost.img" alt="picture of Taryn Maria"></a>
                                    </div>
                                    <div class="item-content clearfix ">
                                        <div class="kopa-date-box">
                                            <i class="fa fa-chevron-down"></i>
                                            <span class="kopa-mon">{{ trendingPost.month }}</span>
                                            <span class="kopa-day">{{ trendingPost.day }}</span>
                                            <span class="kopa-yea">{{ trendingPost.year }}</span>
                                        </div>
                                        <div class="post-content item-right">
                                            <h4 class="post-title"><a :href="trendingPost.link" target="_blank"><span class="prefix">Model Post Model</span> | {{ trendingPost.name }}</a></h4>
                                            <span class="kopa-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                            <p>{{ trendingPost.desc }}</p> 
                                        </div>
                                        <!-- post content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="widget kopa-ads-widget">
                        <div class="widget-content">
                            <a href="#" target="_blank"><img src="images/Ad.jpg" alt="Model Post Magazine Patreon link 2"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                trendingPosts: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    trendingPosts: [
                        {
                            img: 'images/trending.jpg',
                            name: 'Taryn Maria',
                            month: 'July',
                            day: '21',
                            year: '2016',
                            desc: 'International Model & Social Media Personality  Sed eget lorem iaculis, condimentum orci',
                            link: '#'
                        },
                        {
                            img: 'images/trending.jpg',
                            name: 'Taryn Maria',
                            month: 'July',
                            day: '21',
                            year: '2016',
                            desc: 'International Model & Social Media Personality  Sed eget lorem iaculis, condimentum orci',
                            link: '#'
                        },
                        {
                            img: 'images/trending.jpg',
                            name: 'Taryn Maria',
                            month: 'July',
                            day: '21',
                            year: '2016',
                            desc: 'International Model & Social Media Personality  Sed eget lorem iaculis, condimentum orci',
                            link: '#'
                        },
                        {
                            img: 'images/trending.jpg',
                            name: 'Taryn Maria',
                            month: 'July',
                            day: '21',
                            year: '2016',
                            desc: 'International Model & Social Media Personality  Sed eget lorem iaculis, condimentum orci',
                            link: '#'
                        },
                        {
                            img: 'images/trending.jpg',
                            name: 'Taryn Maria',
                            month: 'July',
                            day: '21',
                            year: '2016',
                            desc: 'International Model & Social Media Personality  Sed eget lorem iaculis, condimentum orci',
                            link: '#'
                        },
                    ]
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            // this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.trendingPosts = magazineData.trendingPosts;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.trendingPosts.length > 25) ? 25 : this.trendingPosts.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.trendingPosts.slice(0, this.totalItemsToShow);  //copy objects to array used in control
				this.loading = false; // loading data finished, stop showing loading dialog
				setTimeout(() => {
                    $("#trending-carousel").owlCarousel({
                        nav:true,
                        loop: true,
                        margin:20,
                        dots:false,
                        navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        responsive:{
                            0:{
                                items:1
                            },
                            600:{
                                items:2
                            },
                            1000:{
                                items:4
                            }
                        }
                    });
                }, 1000);
				
			}
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>