<template>
    <section id="home-featured">
        <div class="container-lg">
            <div class="row">
                <div v-if="loading" class="loading">
                    Loading... 
                </div>
                <div class="col-lg-7 col-md-12 offset-lg-5 widget-header-wrapper" v-if="visibleItems">
                    <header class="widget-header">
                        <a href="#" target="_blank"><h3 class="widget-title">Editor's Choice </h3></a>
                    </header>
                </div>
                <div class="col-lg-5 col-md-12" v-if="visibleItems">    
                    <div class="row left-posts-wrapper">
                        <div class="col-12 px-0 py-0">
                            <div class="block" v-for="(featuredModel, index) in visibleItems.slice(1)" :key="index">
                                <div class="item-content">
                                    <span class="kopa-date"><i class="fas fa-calendar-alt"></i> {{featuredModel.month + ' ' + featuredModel.day + ', ' + featuredModel.year}}</span>
                                    <h4 class="post-prefix text-uppercase">Featured Model</h4>
                                    <h3 class="post-title"><a href="#" target="_blank">{{featuredModel.name}}</a></h3>
                                </div>
                                <div class="post-thumb">
                                    <a :href="featuredModel.link" target="_blank" class="img-responsive">
                                        <img :src="featuredModel.img" alt="" style="width:100%;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-7 col-md-12 px-0">    
                    <div class="post-main">
                        <div class="post-thumb">
                            <a :href="visibleItems[0].link" target="_blank" class="img-responsive">
                                <img :src="visibleItems[0].img" alt="" style="width:100%; height: inherit;">
                            </a>
                        </div>
                        <div class="item-content">
                            <header>
                                <h4 class="post-title"><a :href="visibleItems[0].link" target="_blank"><span class="prefix">{{ visibleItems[0].title }}</span> <span class="separator">|</span> <span class="name">{{ visibleItems[0].name }}</span> </a> </h4>
                            </header>
                            <div class="post-content">
                                <div class="kopa-metadata-border">
                                    <span class="kopa-rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                            <!-- metadata -->
                            <p>{{ visibleItems[0].desc }}</p>
                            <a :href="visibleItems[0].link" target="_blank" class="kopa-readmore">Read More</a>
                            </div>
                        </div>
                        <div class="kopa-date-box">
                            <i class="fa fa-chevron-down"></i>
                            <span class="kopa-mon">{{ visibleItems[0].month }}</span>
                            <span class="kopa-day">{{ visibleItems[0].day }}</span>
                            <span class="kopa-yea">{{ visibleItems[0].year }}</span>
                        </div>
                    </div>
                </div>    
            </div>    
        </div>     
    </section>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                featuredModels: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    featuredModels: [
                        {
                            name: 'Kyle Johnson',
                            title:'Facebook Model of the Month',
                            desc: "This month Model Post caught up with Morgan as she was shooting in the beautiful city of Belize. Morgan exploded on the modeling scene four years ago after being discovered by designer Calvin Klein. Check out her shoot and hear her thoughts on what it's like to be an international model.",
                            img: 'images/feat-4.jpg',
                            link: "#",
                            month: 'JULY',
                            day: '2',
                            year: '2016'
                        },
                        {
                            name: 'Kyle Johnson',
                            title:'',
                            desc: "",
                            img: 'images/feat-1.jpg',
                            link: "#",
                            month: 'JULY',
                            day: '2',
                            year: '2016'
                        },
                        {
                            name: 'Kyle Johnson',
                            title:'',
                            desc: "",
                            img: 'images/feat-2.jpg',
                            link: "#",
                            month: 'JULY',
                            day: '2',
                            year: '2016'
                        },
                        {
                            name: 'Kyle Johnson',
                            title:'',
                            desc: "",
                            img: 'images/feat-3.jpg',
                            link: "#",
                            month: 'JULY',
                            day: '2',
                            year: '2016'
                        },
                    ]
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.featuredModels = magazineData.featuredModels;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.featuredModels.length > 25) ? 25 : this.featuredModels.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.featuredModels.slice(0, this.totalItemsToShow);  //copy objects to array used in control
				this.loading = false; // loading data finished, stop showing loading dialog
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>