<template>
    <div class="members-tab-wrapper">
        <div>
            <ul class="nav nav-tabs nav-justified" id="fans-tab-filter" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#all-members" role="tab" aria-controls="all" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#search-members" role="tab" aria-controls="search" aria-selected="false">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#list-members" role="tab" aria-controls="list" aria-selected="false">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#sort-members" role="tab" aria-controls="sort" aria-selected="false">Sort</a>
                </li>
            </ul>
            <div class="tab-content" id="membersTabContent">
                <div class="tab-pane fade show active" id="all-members" role="tabpanel" aria-labelledby="all-members-content">
                    <div class="block">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>John</h5>
                            <p>Lorem Ipsum dolor</p>
                        </div>
                        <div class="convo-status">
                            <i class="fas fa-envelope-open"></i>
                            <p class="status">READ</p>
                            <p class="time">8:01 PM</p>
                        </div>
                    </div>
                     <div class="block">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>John</h5>
                            <p>Lorem Ipsum dolor</p>
                        </div>
                        <div class="convo-status">
                            <i class="fas fa-envelope-open"></i>
                            <p class="status">READ</p>
                            <p class="time">8:01 PM</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="search-members" role="tabpanel" aria-labelledby="search-members-content">
                    <div class="search-bar-wrapper">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" placeholder="Followers and Subscribers" class="form-control name-field" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="block">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>John</h5>
                            <p>Lorem Ipsum dolor</p>
                        </div>
                        <div class="convo-status">
                            <i class="fas fa-envelope-open"></i>
                            <p class="status">READ</p>
                            <p class="time">8:01 PM</p>
                        </div>
                    </div>
                     <div class="block">
                        <div class="convo-thumb">
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="convo-headings">
                            <h5>John</h5>
                            <p>Lorem Ipsum dolor</p>
                        </div>
                        <div class="convo-status">
                            <i class="fas fa-envelope-open"></i>
                            <p class="status">READ</p>
                            <p class="time">8:01 PM</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-members" role="tabpanel" aria-labelledby="list-members-content">
                    <div class="mailing-box">
                        <h2 class="text-uppercase">Mailing list</h2>
                        <p>Schedule and Send Mass messages to your followers and subscribers</p>
                    </div>
                    <div class="lists-wrapper">
                        <div class="create-list-wrapper">
                                <a href="#"><i class="fas fa-plus"></i> Create New List</a>
                        </div>
                        <div class="block">
                            <div class="heading">
                                <i class="fas fa-mail-bulk"></i>
                                <h4 class="text-uppercase">List title</h4>
                                <i class="fas fa-angle-up"></i>
                            </div>
                            <div class="body">
                                <a href="#">Create New Message</a>
                                <div class="item">
                                    <i class="fas fa-calendar-plus"></i>
                                    <div class="sub-item">
                                        <h5 class="text-uppercase">Group title (<span class="list-status">Scheduled</span>)</h5>
                                        <p>Message Title (scheduled)</p>
                                        <p>Date: May 12, 2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-members-wrapper">
                            <h2>list members</h2>
                            <div class="block">
                                <div class="convo-thumb">
                                    <img src="images/1.jpg" alt="">
                                </div>
                                <div class="convo-headings">
                                    <h5>John</h5>
                                    <p>Lorem Ipsum dolor</p>
                                </div>
                                <div class="convo-status">
                                    <i class="fas fa-envelope"></i>
                                    <p class="status">SENT</p>
                                    <p class="time">8:01 PM</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="sort-members" role="tabpanel" aria-labelledby="sort-members-content">
                    <div class="sorting-box">
                        <div class="header">
                            <h2 class="text-uppercase">Sorting</h2>
                            <p>Below you can sort your messages by category</p>
                        </div>
                        <ul class="nav nav-tabs nav-justified" id="sorting-tab-filter" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#members-unread-messages" role="tab" aria-controls="unread" aria-selected="true">UNREAD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#members-sent-messages" role="tab" aria-controls="sent" aria-selected="false">Sent</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#members-alpha-messages" role="tab" aria-controls="alpha" aria-selected="false">Alpha</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div class="tab-content" id="sort-fans-content">
                            <div class="tab-pane fade show active" id="members-unread-messages" role="tabpanel" aria-labelledby="unread-messages-content">
                                <div class="block">
                                    <div class="convo-thumb">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="convo-headings">
                                        <h5>John</h5>
                                        <p>Lorem Ipsum dolor</p>
                                    </div>
                                    <div class="convo-status">
                                        <i class="fas fa-envelope-open"></i>
                                        <p class="status">READ</p>
                                        <p class="time">8:01 PM</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="members-sent-messages" role="tabpanel" aria-labelledby="sent-messages-content">
                                <div class="block">
                                    <div class="convo-thumb">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="convo-headings">
                                        <h5>John</h5>
                                        <p>Lorem Ipsum dolor</p>
                                    </div>
                                    <div class="convo-status">
                                        <i class="fas fa-envelope-open"></i>
                                        <p class="status">READ</p>
                                        <p class="time">8:01 PM</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="members-alpha-messages" role="tabpanel" aria-labelledby="alpha-messages-content">
                                <div class="block">
                                    <div class="convo-thumb">
                                        <img src="images/1.jpg" alt="">
                                    </div>
                                    <div class="convo-headings">
                                        <h5>John</h5>
                                        <p>Lorem Ipsum dolor</p>
                                    </div>
                                    <div class="convo-status">
                                        <i class="fas fa-envelope-open"></i>
                                        <p class="status">READ</p>
                                        <p class="time">8:01 PM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               
            }
        },

        created() {
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .members-tab-wrapper .nav-tabs .nav-link { background-color: #ccc; border-radius: unset; color: #272727; font-family: "Oswald"; font-size: 13px; text-transform: uppercase; margin: 0px 1px; padding: 5px; }
    .members-tab-wrapper .nav-tabs .nav-item .nav-link.active { background-color: #ffc845 !important; }
    body.theme-dark .members-tab-wrapper .nav-tabs .nav-link:not(.active) { background-color: #272727; color: #fff; }
    .members-tab-wrapper .nav-tabs .nav-item:first-child .nav-link { border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .members-tab-wrapper .nav-tabs .nav-item:last-child .nav-link { border-top-right-radius: 7px; border-bottom-right-radius: 7px; }

    #membersTabContent { margin-top: 15px; }
    body.theme-dark #membersTabContent .block { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #membersTabContent .block { margin: 20px 0px; display: flex; align-items: center; justify-content: space-between; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    #membersTabContent .block .convo-thumb { width: 50px; height: 50px; }
    #membersTabContent .block .convo-thumb img { width: 100%; display: block; height: auto; border-radius: 50%; }
    #membersTabContent .block .convo-headings { margin-left: -80px; }
    body.theme-dark #membersTabContent .block .convo-headings h5 { color: #fff; }
    #membersTabContent .block .convo-headings p { margin: 0px; font-size: 14px; }
    #membersTabContent .block .convo-status { text-align: center; }
    #membersTabContent .block .convo-status i { color: #727272; }
    #membersTabContent .block .convo-status p { margin: 0px; font-size: 12px; }
    #membersTabContent .block .convo-headings p { margin: 0px; font-size: 14px; }
    #membersTabContent .search-bar-wrapper .input-group .form-control { border-left: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px;}
    #membersTabContent .search-bar-wrapper .input-group .input-group-prepend .input-group-text { border-right: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; background-color: #fff; }
    #membersTabContent .search-bar-wrapper .input-group .form-control:focus { box-shadow: unset; }
    body.theme-dark #membersTabContent #list-members .mailing-box { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #membersTabContent #list-members .mailing-box { margin: 20px 0px; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    body.theme-dark #membersTabContent #list-members .mailing-box h2 { color: #fff; }
    #membersTabContent #list-members .mailing-box h2 { display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; }
    #membersTabContent #list-members .mailing-box p { font-weight: 300; font-size: 14px; width: 60%; }
    #membersTabContent #list-members .lists-wrapper .create-list-wrapper { margin: 10px auto; text-align: center; }
    #membersTabContent #list-members .lists-wrapper .create-list-wrapper a { background-color: #ffc845; color: #272727; padding: 8px 30px; border-radius: 5px; font-family: "Oswald"; font-size: 18px; display: block; text-align: center; }
    body.theme-dark #membersTabContent #list-members .block { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #membersTabContent #list-members .block { margin: 20px 0px; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; display: block; }
    #membersTabContent #list-members .block .heading { display: flex; justify-content: space-between; align-items: center; }
    #membersTabContent #list-members .block .heading i { color: #ffc845; font-size: 22px; }
    body.theme-dark #membersTabContent #list-members .block .heading h4 { color: #fff; }
    #membersTabContent #list-members .block .heading h4 { margin-left: -160px; }
    #membersTabContent #list-members .block .body a { background-color: #ffc845; color: #272727; padding: 2px 30px; border-radius: 5px; font-family: "Oswald"; font-size: 18px; display: block; text-align: center; margin: 12px 0px; }
    body.theme-dark #membersTabContent #list-members .block .body .item { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #membersTabContent #list-members .block .body .item { display: flex; align-items: center; background-color: #F1F1F1; box-shadow: 0px 3px 12px 4px #ccc; padding: 15px; border-radius: 7px; margin: 10px 0px; }
    #membersTabContent #list-members .block .body .item i { color: #727272; font-size: 22px; margin-right: 20px; }
    #membersTabContent #list-members .block .body .item .sub-item { display: flex; flex-direction: column; }
    #membersTabContent #list-members .block .body .item .sub-item h5, #membersTabContent #list-members .block .body .item .sub-item p { margin: 0px; }
    body.theme-dark #membersTabContent #list-members .list-members-wrapper { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #membersTabContent #list-members .list-members-wrapper { background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; padding: 12px; }
    #membersTabContent #list-members .list-members-wrapper h2 { display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; text-transform: uppercase; }
    body.theme-dark #membersTabContent #list-members .list-members-wrapper h2 { color: #fff; }
    #membersTabContent #list-members .list-members-wrapper .block { display: flex; }
    body.theme-dark #membersTabContent #sort-members .sorting-box { background-color: #272727; color: #fff; box-shadow: 0px 3px 12px 4px #272727; }
    #membersTabContent #sort-members .sorting-box { margin: 20px 0px; background-color: #fff; box-shadow: 0px 3px 12px 4px #ccc; border-radius: 7px; }
    #membersTabContent #sort-members .sorting-box .header { padding: 15px; }
    body.theme-dark #membersTabContent #sort-members .sorting-box .header h2 { color: #fff; }
    #membersTabContent #sort-members .sorting-box .header h2 { border-bottom: 3px solid #ffc845; display: inline-block; padding-bottom: 3px; }
    #membersTabContent #sort-members .sorting-box .header p { font-weight: 300; font-size: 14px; width: 60%; }
    #membersTabContent #sort-members .sorting-box #sorting-tab-filter { font-weight: 300; font-size: 14px; }
    #membersTabContent #sort-members .sorting-box #sorting-tab-filter .nav-item .nav-link { border-radius: 0px !important; margin: 0px 0px; padding: 8px; }
    #membersTabContent #sort-members .sorting-box #sorting-tab-filter .nav-item:first-child .nav-link { border-bottom-left-radius: 7px !important;}
    #membersTabContent #sort-members .sorting-box #sorting-tab-filter .nav-item:last-child .nav-link { border-bottom-right-radius: 7px !important;}
</style>