<template>
    <div class="public-info-wrapper">
        <h2 class="text-uppercase">Member Verification</h2>
        <div class="row">
            <div class="col-12">
                <p>To connect to your bank for payments, we are required by law to verify your identity.
                The first image "Just ID" needs to be a <span class="font-weight-bold">clear color photo of your ID</span>. The second image "Holding ID" must be a <span class="font-weight-bold">clear color photo of you holding that ID</span>.
                </p>
                <p>We understand this is confidetial information, and as such all information is encrypted within our servers for your safety.</p>
            </div>
            <div class="col-12">
                <div>
                    <form action="" class="public-info-form">
                        <div class="input-group mb-3">
                            <label for="img">Just ID:</label>
                            <input type="file" accept="image/*">
                        </div>
                         <div class="input-group mb-3">
                            <label for="img">Holding ID:</label>
                            <input type="file" accept="image/*">
                        </div>
                        <button type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                
            }
        },

        mounted() {
           
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .public-info-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .public-info-wrapper p { font-weight: 300; font-family: "Segoe UI"; margin: 0px; }
    .public-info-wrapper h2 {  display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; margin: 0px; }
    .public-info-wrapper form input { width: 100%; }
    .public-info-wrapper form button[type='submit'] { width: 100%; background-color: #ffc845; padding: 8px 25px; border-radius: 5px; font-family: "Oswald"; color: #272727; }
</style>