<template>
    <div id="messenger-converation-files">
        <h2>All Files Posted to this chat</h2>
        <div class="grid" v-images-loaded:on.progress="imageProgress">
            <div class="block" v-for="(item, i) in items" :key="i" :id="i">
                <a href="#">
                    <div class="item-wrapper">
                        <img :src="item.img" alt="">
                        <div class="item-overlay" v-if="item.title"> 
                            <h5>{{ item.title }}</h5>
                            <p>April 23, 2020</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
               items: [
                    {
                        img: 'http://localhost/modelpostmagazine/images/1.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/2.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/4.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/6.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/7.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/2.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/6.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/7.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'http://localhost/modelpostmagazine/images/2.jpg',
                        title: 'Shooting With Adriana Lima',
                    }
                ],
                msnry: null,
            }
        },

        created() {
            
        },

        mounted() {
            let grid = document.querySelector('#messenger-converation-files .grid');
            this.msnry = new Masonry(grid, {
                itemSelector: '.block',
                columnWidth: '.block',
                percentPosition: true,
                transitionDuration: 0
            });
        },

        methods: {
            imageProgress(instance, image ) {
                this.msnry.layout();
            },
        }
    }
</script>
<style scoped>
    #messenger-converation-files { margin: 0px 8px; }
    #messenger-converation-files h2 { font-family: "Oswald"; text-transform: uppercase; border-bottom: 3px solid #ffc845; padding-bottom: 3px; display: inline-block; }
    #messenger-converation-files .grid { margin: 20px 0px; }
    #messenger-converation-files .block { float: left; margin-bottom: 0px; width: calc(33.33%); opacity: 1; }
    #messenger-converation-files .block img { width: 100%; height: auto; }
    #messenger-converation-files a:hover .item-overlay { opacity: 1; }
    #messenger-converation-files .item-wrapper .item-overlay { color: #272727; transition: .5s ease; opacity: 0; background: rgba(255,200,69,0.79); text-align: left; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: flex-start; justify-content: center; flex-direction: column; padding: 25px; }
    #messenger-converation-files .item-wrapper .item-overlay p { font-family: "Oswald"; }
</style>