<template>
    <div id="messenger-converation">
        <div class="header">
            <div class="left-content">
                <img src="images/1.jpg" alt="">
                <div>
                    <h4 class="text-uppercase">List Title</h4>
                    <p>7:30pm on Tuesday PDT</p>
                </div>
            </div>
            <div class="right-content">
                <a href="#" class="fas fa-video"></a>
                <a href="#" class="fas fa-phone-alt"></a>
                <a data-toggle="popover" type="button" href="javascript:void(0)" class="fas fa-ellipsis-h"></a>
            </div>
        </div>
        <div class="popover-options d-none">
            <a href="#"><div class="btn-block"><p>See all files</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
            <a href="#"><div class="btn-block"><p>Add to Mailing List</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
            <a href="#"><div class="btn-block"><p>Edit NickName</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
            <a href="#"><div class="btn-block"><p>Block & Report</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               
            }
        },

        created() {
            
        },

        mounted() {
            $("[data-toggle=popover]").popover({
                trigger:'focus',
                html: true, 
                animation: true,
                placement: 'bottom',
                container: '#messenger-converation',
                content: function() {
                    return $('.popover-options').html();
                    }
            });
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    #messenger-converation .header {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 3px 12px 4px #ccc;
        padding: 15px 20px;
    }
    #messenger-converation .left-content, #messenger-converation .right-content {
        display: flex;
        align-items: center;
    }
    #messenger-converation .left-content img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }
    #messenger-converation .left-content p {
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
    }
    #messenger-converation .right-content a {
        color: #727272;
        border: 1px solid #727272;
        padding: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    #messenger-converation .right-content a:first-child { margin: 0px 6px 0px 0px; background-color: #fff; }
    #messenger-converation .right-content a { margin: 0px 6px; background-color: #fff;}
    #messenger-converation .right-content a:last-child { z-index: 9; margin: 0px 0px 0px 6px; background-color: #fff; }
    
</style>