<template>
    <div id="messenger-welcome-content">
        <div class="header">
            <img src="images/1.jpg" alt="">
            <h2 class="text-uppercase">user name</h2>
            <hr class="custom-hr">
            <p>Staying connected with the Artists you love</p>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               
            }
        },

        created() {
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    #messenger-welcome-content .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    #messenger-welcome-content .header img {
        width: 100px;
        border-radius: 50%;
        margin: 0 auto;
    }
    body.theme-dark #messenger-welcome-content .header h2 { color: #fff; }
    #messenger-welcome-content .header h2 {
        display: inline-block;
        margin: 10px 0px 10px;
        margin-bottom: 3px;
    }
    #messenger-welcome-content .header p {
        font-size: 16px;
        font-weight: 300;
    }
    #messenger-welcome-content .buttons {
        text-align: center;
        margin: 30px 0px;
    }
    #messenger-welcome-content .buttons a {
        background-color: #ffc845;
        color: #272727;
        font-family: "Segoe UI";
        font-weight: bold;
        padding: 8px 30px;
        border-radius: 5px;
        text-transform: lowercase;
        margin: 0px 5px;
    }
    #messenger-welcome-content .custom-hr { margin: 5px auto; }
</style>