<template>
    <div id="messenger-converation">
        <div class="header">
            <div class="left-content">
                <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                <div>
                    <h4 class="text-uppercase">John</h4>
                    <p>7:30pm on Tuesday PDT</p>
                </div>
            </div>
            <div class="right-content">
                <a href="#" class="fas fa-video"></a>
                <a href="#" class="fas fa-phone-alt"></a>
                <a data-toggle="popover" type="button" href="javascript:void(0)" class="fas fa-ellipsis-h"></a>
            </div>
        </div>
        <div id="popper-content" class="popover-options hide popper-content">
            <a href="#" v-on:click.prevent="seeAllFiles()"><div class="btn-block"><p>See all files</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
            <a href="#"><div class="btn-block"><p>Add to Mailing List</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
            <a href="#"><div class="btn-block"><p>Edit NickName</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
            <a href="#"><div class="btn-block"><p>Block & Report</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
        </div>
        <div>
            <div class="card-body msg_card_body">
				<!-- <div class="date-divider">
					<p><span>Wednesday, September 16</span></p>
				</div> -->
				<div  v-for="(chat, index) in chats" :key="index" :class="{' d-flex mb-4 justify-content-start': chat.participantSid != janeSID,  'd-flex mb-4 justify-content-end': chat.participantSid == janeSID}">
					<div class="img_cont_msg" v-if="chat.participantSid != janeSID">
						<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
					</div>
					<div class="msg_cotainer" v-if="chat.participantSid != janeSID">
						{{ chat.body }}
						<span class="msg_time"></span>
					</div>
					<div class="msg_cotainer_send" v-if="chat.participantSid == janeSID">
						{{ chat.body }}
						<span class="msg_time_send"></span>
					</div>
					<div class="img_cont_msg" v-if="chat.participantSid == janeSID" :data-sid="chat.sid"> 
						<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
						<a data-toggle="popover-chatbubble" type="button" href="javascript:void(0)" class="fas fa-ellipsis-h chat-bubble-option"></a>
						<div id="popper-content-bubble" class="popover-options-bubble hide popover popper-content-bubble">
							<a href="#" v-on:click.prevent="editChat(chat.sid, chat.body)"><div class="btn-block"><p>Edit</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
							<a href="#" v-on:click.prevent="deleteChat(chat.sid)"><div class="btn-block"><p>Delete</p><div class="icon-bg"><i class="fas fa-angle-right"></i></div></div></a>
						</div>					
					</div>
					<!-- <div :class="{' msg_cotainer_send item-bubble': chat.sender == true && chat.messageType == 'item'}" v-if="chat.sender == true && chat.messageType == 'item'">
						<h5 class="bubble-title">{{ chat.title }} |</h5>
						<p>{{ chat.price }}</p>
						<div class="grid" v-images-loaded:on.progress="imageProgress">
							<div class="block" v-for="(item, index) in chat.images" :key="index">
								<a :href="item.link">
									<div class="item-wrapper">
										<img :src="item.src" alt="">
										<div class="item-overlay" v-if="item.type"> 
											<h6>{{ item.type }}</h6>
											<p>Count | {{ item.count }}</p>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="img_cont_msg" v-if="chat.sender == true && chat.messageType == 'item'">
						<img :src="chat.userPhoto" class="rounded-circle user_img_msg">
					</div> -->
				</div>
			</div>
			<div class="card-footer">
				<div class="input-group">
					<div class="input-group-append">
						<input id="fileUpload" type="file" hidden>
						<span class="input-group-text attach_btn" @click="chooseFiles()"><i class="fas fa-paperclip"></i></span>
					</div>
					<textarea name="" class="form-control type_msg" placeholder="Say Something..." v-model="message"></textarea>
					<div class="input-group-append" @click="sendMessage()">
						<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
					</div>
				</div>
			</div>
        </div>
    </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
				isEdit: false,
				midEdit: null,
				janeSID: "MBc0e848126a52459294a2d55071c7684c",
				johnSID: "MB1e7f5daaf7f847edbd9d3a9e22411f33",
				chats: [
                    // {
					// 	messageType: 'message',
					// 	sender: false,
					// 	userPhoto: "https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg",
					// 	message: "Hi, how are you samim?",
					// 	datetime: "8:40 am",
                    // },
                    // {
					// 	messageType: 'message',
					// 	sender: true,
					// 	userPhoto: "https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg",
					// 	message: "Hi Khalid i am good tnx how about you?",
					// 	datetime: "8:55 am",
                    // },
                    // {
					// 	messageType: 'item',
					// 	sender: true,
					// 	userPhoto: "https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg",
					// 	title: "Item Title",
					// 	price: '$5.59',
					// 	images: [
					// 		{src: 'http://localhost/modelpostmagazine/images/1.jpg', type: 'Image', count: 15, link: '#' },
					// 		{src: 'http://localhost/modelpostmagazine/images/2.jpg', type: 'Image', count: 10, link: '#' },
					// 		{src: 'http://localhost/modelpostmagazine/images/4.jpg', type: 'Image', count: 1, link: '#' },
					// 		{src: 'http://localhost/modelpostmagazine/images/5.jpg', type: 'Image', count: 3, link: '#' },
					// 	]
                    // },
				],
				message: '',
				msnry: null,
            }
        },

        created() {
            
        },

        mounted() {
			this.getMessages();
            $("[data-toggle=popover]").popover({
                html: true, 
                animation: true,
                placement: 'bottom',
				container: '#messenger-converation',
				content: $('.popover-options'),
			}).on('show.bs.popover', function() {
				$('#popper-content').addClass('show')
			}).on('hide.bs.popover', function() {
				$('#popper-content').addClass('hide')
			});
			
			$("[data-toggle=popover-chatbubble]").popover({
                html: true, 
                animation: true,
				placement: 'bottom',
				container: '.img_cont_msg',
				content: $('.popover-options-bubble'),
			}).on('show.bs.popover', function() {
				$('#popper-content-bubble').removeClass('hide')
				$('#popper-content-bubble').addClass('show')
			}).on('hide.bs.popover', function() {
				$('#popper-content-bubble').removeClass('show')
				$('#popper-content-bubble').addClass('hide')
			});
			
			setTimeout(() => {
				let grid = document.querySelector('.msg_card_body .grid');
				this.msnry = new Masonry(grid, {
					itemSelector: '.block',
					columnWidth: '.block',
					percentPosition: true,
					transitionDuration: 0	
				});
			}, 1000);
        },

        methods: {
			getMessages() {
				let that = this;
				console.log("routes", this.$route.params);
				axios.post('/modelpostmagazine/api/get-messages', {
						cid: this.$route.params.sid,
				})
				.then(function (response) {
					console.log(response.data)
					that.chats = response.data;
					// setTimeout(() => {
					// 	$(document).find("[data-toggle=popover-chatbubble]").popover({
					// 		html: true, 
					// 		animation: true,
					// 		placement: 'bottom',
					// 		container: '.img_cont_msg',
					// 		content: $('.popover-options-bubble'),
					// 	}).on('show.bs.popover', function() {
					// 		$('#popper-content-bubble').removeClass('hide')
					// 		$('#popper-content-bubble').addClass('show')
					// 	}).on('hide.bs.popover', function() {
					// 		$('#popper-content-bubble').removeClass('show')
					// 		$('#popper-content-bubble').addClass('hide')
					// 	});
					// });
				})
				.catch(function (error) {
					console.log(error)
				});
			},
			imageProgress(instance, image ) {
                this.msnry.layout();
            },
            sendMessage() {
				// var data = {
				// 	sender: true,
				// 	userPhoto: "https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg",
				// 	message: this.message,
				// 	datetime: this.formatAMPM(new Date()),
				// }
				// this.chats.push(data);
				let that = this;
				if(this.isEdit) {
					axios.post('/modelpostmagazine/api/edit-message', {
						cid: this.$route.params.sid,
						mid: this.midEdit,
						message: this.message,
					})
					.then(function (response) {
						console.log(response.data);
						that.getMessages();
					})
					.catch(function (error) {
						console.log(error)
					});
				} else {
					axios.post('/modelpostmagazine/api/send-message', {
						cid: this.$route.params.sid,
						username: "Jane",
						message: this.message,
					})
					.then(function (response) {
						console.log(response.data);
						that.getMessages();
					})
					.catch(function (error) {
						console.log(error)
					});
				}	
				this.message = "";
			},
			formatAMPM(date) {
				var hours = date.getHours();
				var minutes = date.getMinutes();
				var ampm = hours >= 12 ? 'pm' : 'am';
				hours = hours % 12;
				hours = hours ? hours : 12; // the hour '0' should be '12'
				minutes = minutes < 10 ? '0'+minutes : minutes;
				var strTime = hours + ':' + minutes + ' ' + ampm;
				return strTime;
			},
			seeAllFiles() {
				console.log("test")
				this.$router.push('/messenger-member/list/all-files');
			},
			chooseFiles() {
				document.getElementById("fileUpload").click();
			},
			editChat(mid, message) {
				this.isEdit = true;
				this.midEdit = mid;
				this.message = message;
				console.log(mid)
				console.log(message)
			},
			deleteChat(mid) {
				let that = this;
				axios.post('/modelpostmagazine/api/delete-message', {
					cid: this.$route.params.sid,
					mid: mid,
				})
				.then(function (response) {
					console.log(response.data);
					that.getMessages();
				})
				.catch(function (error) {
					console.log(error)
				});
			},
			openMessageOptions(that) {
				console.log($(that).html());
			}
        }
	}
	$(document).ready(function() {
		$(document).on('click', '.chat-bubble-option', function(e) {
			e.preventDefault();
		 	e.stopPropagation();
			console.log($(this).next());
			$(this).next().removeClass("hide");
		})
		$(document).on('click', 'body', function(){
			$(".popover").addClass("hide");
		});
	})
</script>
<style scoped>
	.grid { width: 300px; } 
	.block { float: left; width: 50%; opacity: 1; }
    .block img { width: 100%; height: auto; }
	.msg_card_body a:hover .item-overlay { opacity: 1; }
	.msg_card_body .item-wrapper { position: relative; }
    .msg_card_body .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .msg_card_body .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 5px; }
    .msg_card_body .item-wrapper div p { margin: 0px; color: #272727; }
    .msg_card_body .item-bubble .bubble-title {
		padding-bottom: 1px; color: #272727; border-bottom: 5px solid #FFC845; text-transform: uppercase; display: inline-block;
	}
	.chat-bubble-option {
		display: flex;
		justify-content: center;
		color: #ccc;
	}
	.chat-bubble-option:hover { color: #272727; }
	.date-divider p {
		width: 100%; 
		text-align: center; 
		border-bottom: 1px solid #cccccc; 
		line-height: 0.1em;
		margin: 10px 0 20px; 
	} 
	.date-divider p span { 
		background:#fff; 
		padding:0 10px; 
		color: #cccccc;
	}
	#messenger-converation .img_cont_msg .popover {
		border: 1px solid #727272;
		border-radius: 7px;
		position: absolute;
		right: 0 !important;
		left: unset !important;
		top: -110px !important;
		background-color: #fff;
		width: 140px;
		padding: 10px;
	}
	body.theme-dark #messenger-converation .header { background-color: #272727; }
    #messenger-converation .header {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 3px 12px 4px #ccc;
        padding: 15px 20px;
    }
    #messenger-converation .left-content, #messenger-converation .right-content {
        display: flex;
        align-items: center;
    }
    #messenger-converation .left-content img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }
    body.theme-dark #messenger-converation .left-content h4 { color: #ccc; }
    body.theme-dark #messenger-converation .left-content p { color: #ccc; }
    #messenger-converation .left-content p {
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
    }
    body.theme-dark #messenger-converation .right-content a {
        background-color: #272727;
        color: #ccc;
       border: 1px solid #ccc;
    }
    #messenger-converation .right-content a {
        color: #727272;
        border: 1px solid #727272;
        padding: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    #messenger-converation .right-content a:first-child { margin: 0px 6px 0px 0px; background-color: #fff; }
    #messenger-converation .right-content a { margin: 0px 6px; background-color: #fff;}
    #messenger-converation .right-content a:last-child { z-index: 9; margin: 0px 0px 0px 6px; background-color: #fff; }
    .card{
			height: 500px;
			border-radius: 15px !important;
			background-color: rgba(0,0,0,0.4) !important;
		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
        body.theme-dark .msg_card_body { background-color: #131313; }
		.msg_card_body{
			overflow-y: auto;
			max-height: 400px;
			height: 400px;
			overflow-y: scroll;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
	 .card-footer{
		border-radius: 0 0 15px 15px !important;
			border-top: 0 !important;
            background-color: #272727;
	}
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.type_msg{
			background-color: #fff !important;
			border:0 !important;
			color:#000 !important;
			height: 35px !important;
            overflow-y: auto;
            border-radius: 7px !important;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: #272727 !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: #272727 !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: #272727 !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
	.active{
			background-color: #272727;
	}
		.user_img{
			height: 70px;
			width: 70px;
			border:1.5px solid #f5f6fa;
		
		}
		.user_img_msg{
			height: 40px;
			width: 40px;
			border: 6px solid #FFF;
		
		}
	.img_cont{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont_msg{
		height: 40px;
		width: 40px;
		z-index: 1;
		margin-top: -8px;
		position: relative;
	}
	.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	.offline{
		background-color: #c23616 !important;
	}
	.user_info{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	.user_info span{
		font-size: 20px;
		color: white;
	}
	.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
    body.theme-dark .msg_cotainer {
        background-color: #ccc;
        color: #000;
    }
	.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: -6px;
		border-radius: 10px;
		background-color: #ccc;
		padding: 15px 15px 10px 15px;
		position: relative;
	}
    body.theme-dark .msg_cotainer_send {
        color: #000;
    }
	.msg_cotainer_send.item-bubble { background-color: #ccc !important; }
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: -6px;
		border-radius: 10px;
		background-color: #ffc845 !important;
		padding: 15px 15px 10px 15px;
		position: relative;
	}
	.msg_time{
		position: absolute;
		left: 15px;
		color: #727272;
		font-size: 10px;
		top: 7px;
	}
	.msg_time_send{
		position: absolute;
		right:15px;
		top: 7px;
		color: #727272;
		font-size: 10px;
	}
	.msg_head{
		position: relative;
	}
	#action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 20px;
	}
	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 30px;
		right: 15px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	    margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
	.action_menu ul li i{
		padding-right: 10px;
	
	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
	@media(max-width: 576px){
        .contacts_card{
            margin-bottom: 15px !important;
        }
	}
</style>