<template>
    <div class="pages-menu" v-if="links.length">
        <p class="text-muted text-uppercase">Modelpost magazine</p>
        <ul>
            <li v-for="(link, index) in links" :key="index"><a :href="link.href">{{ link.text }}</a></li>
        </ul>
        <!-- <ul>
            <li><a href="#">Magazine</a></li>
            <li><a href="#">The Post</a></li>
            <li><a href="#">Featured Artists</a></li>
            <li><a href="#">Members</a></li>
            <li><a href="#">Logout <i class="fas fa-sign-out-alt" style="position:relative;"></i></a></li>
        </ul> -->
    </div>
</template>

<script>
    export default {
        props: ['userRole', 'page'],
        data: () => {
            return {
                menuTitle: 'Modelpost magazine',
                links: [],
            }
        },

        mounted() {
            //temporary links
            if(this.userRole != 'member' && this.page != 'cms' && this.page != 'users' && this.page != 'magazine') {
                this.links.push(
                    {text: 'Magazine', href: '#'},
                    {text: 'The Post', href: '#'},
                    {text: 'monthly feature', href: '#'},
                    {text: 'Members', href: '#'},
                    {text: 'Logout', href: '#'},
                )
            } else if(this.userRole == 'member' && this.page != 'cms' && this.page != 'users' && this.page != 'magazine') {
                this.links.push(
                    {text: 'Magazine Home', href: '#'},
                    {text: 'The weekly post', href: '#'},
                    {text: 'monthly feature', href: '#'},
                    {text: 'member list', href: '#'},
                    {text: 'logout', href: '#'},
                )
            } else if(this.page == 'cms' || this.page == 'users' || this.page == 'magazine') {
                this.links.push(
                    {text: 'Applications/Reported', href: 'http://localhost/modelpostmagazine/cms'},
                    {text: 'Magazine Content', href: 'http://localhost/modelpostmagazine/cms/magazine'},
                    {text: 'Add/Remove User', href: 'http://localhost/modelpostmagazine/cms/users'},
                    {text: 'logout', href: '#'},
                )
            }
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    
</style>