<template>
   <div class="monthly-feature-section">
        <div class="header">
            <header class="widget-header">
                <h3 class="widget-title text-uppercase">monthly feature</h3>
            </header>
        </div>
        <div v-if="loading" class="loading">
            Loading... 
        </div>  
        <div v-if="featuredPosts">
            <div class="owl-carousel owl-theme" id="monthly-feature-page-carousel-1">
                <div class="item" v-for="(featuredPost, index) in visibleItems" :key="index">
                    <div class="post-thumb">
                        <img :src="featuredPost.img" alt="picture of Taryn Maria">
                        <header class="widget-header-overlay"><a :href="featuredPost.link" target="_blank"><h3 class="widget-title-overlay">{{ featuredPost.name }}</h3></a></header>
                    </div>
                </div>
            </div>
            <div class="owl-carousel owl-theme" id="monthly-feature-page-carousel-2">
                <div class="item" v-for="(featuredPost, index) in visibleItems" :key="index"> 
                    <div class="post-thumb">
                        <img :src="featuredPost.img" alt="picture of Taryn Maria">
                    </div>
                </div>
            </div>
            <div class="post-content-wrapper">
                <div class="post-content">
                    <p>This month Model Post caught up with Morgan as she was shooting in the beautiful city of Belize. Morgan exploded on the modeling scene four years ago after being discovered by designer Calvin Klein. Check out her shoot and hear her thoughts on what it's like to be an international model.</p>
                </div>
                <div class="readmore-wrapper">
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                featuredPosts: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    featuredPosts: [
                        {
                            name: 'Morgan Jones',
                            img: 'images/banner-3.jpg',
                            link: '#',
                            desc: "This month Model Post caught up with Morgan as she was shooting in the beautiful city of Belize. Morgan exploded on the modeling scene four years ago after being discovered by designer Calvin Klein. Check out her shoot and hear her thoughts on what it's like to be an international model."
                        },
                        {
                            name: 'Morgan Jones',
                            img: 'images/banner-2.jpg',
                            link: '#',
                            desc: "This month Model Post caught up with Morgan as she was shooting in the beautiful city of Belize. Morgan exploded on the modeling scene four years ago after being discovered by designer Calvin Klein. Check out her shoot and hear her thoughts on what it's like to be an international model."
                        },
                        {
                            name: 'Morgan Jones',
                            img: 'images/banner-1.jpg',
                            link: '#',
                            desc: "This month Model Post caught up with Morgan as she was shooting in the beautiful city of Belize. Morgan exploded on the modeling scene four years ago after being discovered by designer Calvin Klein. Check out her shoot and hear her thoughts on what it's like to be an international model."
                        },
                        {
                            name: 'Morgan Jones',
                            img: 'images/banner-3.jpg',
                            link: '#',
                            desc: "This month Model Post caught up with Morgan as she was shooting in the beautiful city of Belize. Morgan exploded on the modeling scene four years ago after being discovered by designer Calvin Klein. Check out her shoot and hear her thoughts on what it's like to be an international model."
                        },
                    ]
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.featuredPosts = magazineData.featuredPosts;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.featuredPosts.length > 25) ? 25 : this.featuredPosts.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.featuredPosts.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog

                setTimeout(() => {
                    var sync1 = $("#monthly-feature-page-carousel-1");
                    var sync2 = $("#monthly-feature-page-carousel-2");
                    var slidesPerPage = 4; //globaly define number of elements per page
                    var syncedSecondary = true;

                    sync1.owlCarousel({
                        items : 1,
                        slideSpeed : 2000,
                        nav: true,
                        autoplay: true,
                        dots: false,
                        loop: true,
                        responsiveRefreshRate : 200,
                    }).on('changed.owl.carousel', syncPosition);

                    sync2
                        .on('initialized.owl.carousel', function () {
                        sync2.find(".owl-item").eq(0).addClass("current");
                        })
                        .owlCarousel({
                        items : slidesPerPage,
                        dots: false,
                        nav: false,
                        smartSpeed: 200,
                        slideSpeed : 500,
                        slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
                        responsiveRefreshRate : 100
                    }).on('changed.owl.carousel', syncPosition2);

                    function syncPosition(el) {
                        //if you set loop to false, you have to restore this next line
                        //var current = el.item.index;
                        
                        //if you disable loop you have to comment this block
                        var count = el.item.count-1;
                        var current = Math.round(el.item.index - (el.item.count/2) - .5);
                        
                        if(current < 0) {
                        current = count;
                        }
                        if(current > count) {
                        current = 0;
                        }
                        
                        //end block

                        sync2
                        .find(".owl-item")
                        .removeClass("current")
                        .eq(current)
                        .addClass("current");
                        var onscreen = sync2.find('.owl-item.active').length - 1;
                        var start = sync2.find('.owl-item.active').first().index();
                        var end = sync2.find('.owl-item.active').last().index();
                        
                        if (current > end) {
                        sync2.data('owl.carousel').to(current, 100, true);
                        }
                        if (current < start) {
                        sync2.data('owl.carousel').to(current - onscreen, 100, true);
                        }
                    }
                    
                    function syncPosition2(el) {
                        if(syncedSecondary) {
                        var number = el.item.index;
                        sync1.data('owl.carousel').to(number, 100, true);
                        }
                    }
                    
                    sync2.on("click", ".owl-item", function(e){
                        e.preventDefault();
                        var number = $(this).index();
                        sync1.data('owl.carousel').to(number, 300, true);
                    });
                }, 1000);
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>