<template>
    <div class="pages-menu" v-if="links.length">
        <p class="text-muted text-uppercase">{{ menuTitle }}</p>
        <ul>
            <li v-for="(link, index) in links" :key="index"><a :href="link.href">{{ link.text }}</a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['userRole', 'page'],
        data: () => {
            return {
                menuTitle: 'My Pages',
                links: [],
            }
        },

        mounted() {
            //temporary links
            if(this.userRole == 'subscriber') {
                this.links.push(
                    {text: 'Home', href: '#'},
                    {text: 'Private Profile', href: '#'},
                    {text: 'Purchase History', href: '#'},
                    {text: 'Account Setting', href: '#'},
                )
            } else if(this.userRole == 'member' && this.page == 'setting') {
                 this.links.push(
                    {text: 'Profile', href: '#'},
                    {text: 'Sales', href: '#'},
                    {text: 'Messenger', href: '#'},
                    {text: 'stream live', href: '#'},
                    {text: 'create new content', href: '#'},
                    {text: 'community & castings', href: '#'},
                    {text: 'notifications', href: '#'},
                    {text: 'settings', href: '#'},
                )
            } else if(this.userRole == 'member' && this.page == 'messenger') {
                 this.links.push(
                    {text: 'modelpost magazine', href: '#'},
                    {text: 'private collection', href: '#'},
                    {text: 'purchase history', href: '#'},
                    {text: 'messenger', href: '#'},
                    {text: 'account settings', href: '#'},
                    {text: 'logout', href: '#'},
                )
            }
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    
</style>