<template>
   <div class="myreferrals-wrapper">
        <div class="section-banner">
            <h2 class="title">My Referrals</h2>
            <div class="upper-right-header">
                <p class="text-uppercase">Referrals <span class="font-weight-bold">200</span></p>
                <p class="text-uppercase"><span class="font-weight-bold">$1,513</span> total income</p>
            </div>
        </div>
        <div v-if="loading" class="loading">
            Loading... 
        </div>
        <div class="content-wrapper" v-if="items">
            <div class="section-content show-content">
                <div class="row-fluid">
                    <div class="box-wrapper">
                        <div class="inner-wrapper">
                            <h5>My Referral Link</h5>
                            <div class="left-content">
                                <a href="#"><i class="fas fa-link"></i> Copy</a>
                                <p class="ref-link">https://modelpostmagazine.com/?ref=3214</p>
                            </div>
                        </div>
                        <div class="right-content-wrapper">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input type="text" placeholder="Search Referrals" class="form-control name-field" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="block" v-for="(item, i) in items" :key="i" :id="i">
                            <div class="">
                                <div class="">
                                    <div class="inner-upper-content">
                                        <div class="left-content">
                                            <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="" style="width:60px;border-radius:50%;">
                                            <div class="icon-wrapper">
                                                <i class="fas fa-check-circle"></i>
                                            </div>
                                        </div>
                                        <div class="middle-content">
                                            <h4>Member Name</h4>
                                            <p>Professional Title</p>
                                            <p>Active: 1 day ago</p>
                                        </div>
                                        <div class="right-content">
                                            <h6><a href="#" class="btn-follow">Follow</a></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                    <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-less d-flex text-center">
                    <a href="#" @click.stop.prevent="add"><i class="fas fa-plus"></i> More</a>
                    <a href="#" @click.stop.prevent="remove"><i class="fas fa-minus"></i> Less</a>
                </div>
            </div>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse"><i class="fas fa-angle-up"></i></a>
            </div>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                loading: false,
                totalItemsToShow: 0,
                magazineDataSample: {
                    items: [
                        {
                            img: 'images/7.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/1.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/3.png',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/4.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/5.jpg',
                            title: 'Shooting With Adriana Lima',
                        },
                        {
                            img: 'images/5.jpg',
                            title: 'Shooting With Adriana Lima',
                        }
                    ],
                },
                items: [],
                msnry: null,
            }
        },

        mounted() {
            let grid = document.querySelector('.myreferrals-wrapper .grid');
            this.msnry = new Masonry(grid, {
                itemSelector: '.block',
                columnWidth: '.block',
                gutter: 25,
                percentPosition: true,
                transitionDuration: 0
            });
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.items = magazineData.items;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.items.length > 25) ? 25 : this.items.length;  // set the total items to a set value or if lower, show the total items count				
				this.items = this.items.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                }, 1000);
            },
            imageProgress(instance, image ) {
                this.msnry.layout();
            },
            add() {
                this.items.push(
                    {
                        img: 'images/11.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/9.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/11.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/9.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                    {
                        img: 'images/5.jpg',
                        title: 'Shooting With Adriana Lima',
                    },
                );
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                    $('html,body').animate({
                        scrollTop: $(".myreferrals-wrapper .content-wrapper .more-less").offset().top -400
                    }, 1000);
                });
            },
            remove() {
                if(this.items.length > 1) {
                    $('html,body').animate({
                        scrollTop: $(".myreferrals-wrapper .content-wrapper .more-less").offset().top -700
                    }, 1000);
                    setTimeout(() => {
                        this.items.splice(-6,6);
                    }, 900);
                }
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                }, 1000);
            },
            setFeatured(index) {
                if($(".myreferrals-wrapper .grid #"+index+".block").hasClass('featured')) {
                    $(".myreferrals-wrapper .grid #"+index+".block").removeClass("featured");
                } else {
                    $(".myreferrals-wrapper .grid #"+index+".block").addClass("featured");
                }
            },
            collapse() {
                if($(".myreferrals-wrapper .section-content").hasClass("hide-content")) {
                    $(".myreferrals-wrapper .content-wrapper .btn-collapse a").html("<i class='fas fa-angle-up'></i>");
                    $(".myreferrals-wrapper .section-content").removeClass('hide-content')
                    $(".myreferrals-wrapper .section-content").addClass('show-content')
                    $(".myreferrals-wrapper .section-content").slideToggle();
                } else {
                    $(".myreferrals-wrapper .content-wrapper .btn-collapse a").html("<i class='fas fa-angle-down'></i>");
                    $(".myreferrals-wrapper .section-content").removeClass('show-content')
                    $(".myreferrals-wrapper .section-content").addClass('hide-content')
                    $(".myreferrals-wrapper .section-content").addClass('active')
                        $('html,body').animate({
                            scrollTop: $(".myreferrals-wrapper .section-content.active").offset().top - 250
                        }, 1500);
                    $(".myreferrals-wrapper .section-content").slideToggle();
                    $(".myreferrals-wrapper .section-content").removeClass('active')
                }
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
    .myreferrals-wrapper .box-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }
    .myreferrals-wrapper .box-wrapper .inner-wrapper {
        box-shadow: 0px 10px 14px #ccc;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .myreferrals-wrapper .box-wrapper .inner-wrapper .left-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .myreferrals-wrapper .box-wrapper .inner-wrapper .left-content a {
         background: #FFC845;
        padding: 6px 12px;
        color: #272727;
        border-radius: 5px;
        margin-right: 10px;
    }
    .myreferrals-wrapper .box-wrapper .inner-wrapper .left-content .ref-link {
        margin: 0px;
        padding: 3px 8px;
        border: 1px solid #ccc;
    }
    .myreferrals-wrapper .box-wrapper .right-content-wrapper {
        margin-bottom: 20px;
    }
    .myreferrals-wrapper .box-wrapper .right-content-wrapper .input-group {
        box-shadow: 0px 10px 14px #ccc;
        border-radius: 10px;
    }
    .myreferrals-wrapper .box-wrapper .right-content-wrapper .input-group .input-group-prepend .input-group-text {
        background-color: #fff;
    }
    .myreferrals-wrapper .block { float: left; margin: 0 auto 25px; width: calc(33.33% - 17px); opacity: 1; padding: 12px; }
    .myreferrals-wrapper .block img { width: 100%; height: auto; }
    .myreferrals-wrapper .block .item-content {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }
    .myreferrals-wrapper .block .item-content img {
        width: calc(33.33% - 4px);
    }
    .myreferrals-wrapper .block .item-content img:nth-child(2) {
        margin: 0px 2px;
    }
    .myreferrals-wrapper .block .inner-upper-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .myreferrals-wrapper .block .inner-upper-content .left-content {
        position: relative;
    }
    .myreferrals-wrapper .block .inner-upper-content .left-content .icon-wrapper {
        background-color: #ffff;
        position: absolute;
        top: -2px;
        right: -3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .myreferrals-wrapper .block .inner-upper-content .left-content .icon-wrapper i {
        color: #FFC845;
    }
    .myreferrals-wrapper .block .inner-upper-content .middle-content h4, .myreferrals-wrapper .block .inner-upper-content .middle-content p{
        margin: 0;
    }
    .myreferrals-wrapper .block .inner-upper-content .right-content .btn-follow {
        background: #FFC845;
        padding: 6px;
        color: #272727;
        border-radius: 5px;
    }
    .myreferrals-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .myreferrals-wrapper .section-banner { display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px; }
    .myreferrals-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; font-weight: normal; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .myreferrals-wrapper .section-banner .upper-right-header { text-align: center; }
    .myreferrals-wrapper .section-banner .upper-right-header p:nth-child(1) {
        display: inline-block;
        border-bottom: 3px solid #ffc845;
        margin: 0px;
        width: 100%;
    }
    .myreferrals-wrapper .content-wrapper .row { padding:0px 15px; }
    .myreferrals-wrapper .content-wrapper .col-4 div { display: flex; flex-direction: column; text-align: center; margin: 10px 0px; }
    .myreferrals-wrapper .content-wrapper .grid .block { box-shadow: 0px 1px 10px #ccc; border-radius: 10px; }
    .myreferrals-wrapper .content-wrapper img { width: 100%; height: auto; }
    .myreferrals-wrapper .content-wrapper .item-wrapper { position: relative; }
    .myreferrals-wrapper .content-wrapper .item-wrapper .set-featured { position: absolute; top: 3px; right: 3px; font-size: 20px; z-index: 3; }
    .myreferrals-wrapper .content-wrapper .item-wrapper .set-featured i { color: #727272; }
    .myreferrals-wrapper .content-wrapper .item-wrapper .set-featured i::before { transform: scale(-1); }
    .myreferrals-wrapper .content-wrapper .block.featured .item-wrapper .set-featured i { color: #FFC845; }
    .myreferrals-wrapper .content-wrapper a:hover .item-overlay { opacity: 1; }
    .myreferrals-wrapper .content-wrapper .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .myreferrals-wrapper .content-wrapper .block:first-child .item-wrapper div { background: rgba(255,200,69,1); }
    .myreferrals-wrapper .content-wrapper .block:first-child .set-featured { display: none; }
    .myreferrals-wrapper .content-wrapper .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; }
    .myreferrals-wrapper .content-wrapper .item-wrapper div p { margin: 0px; color: #fff; }
    .more-less {
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .more-less a {
            background: #FFC845;
    padding: 9px 66px;
    color: #272727;
    border-radius: 5px;
    }
    .more-less a:nth-child(2) { margin-left: 10px; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a {
        background-color: #727272;
        color: #fff;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-collapse a i{
        font-size: 20px;
    }

    @media only screen and (max-width: 1300px) {
        .myreferrals-wrapper .block { width: calc(50% - 15px); }
    }
     @media only screen and (max-width: 850px) {
        .myreferrals-wrapper .box-wrapper .inner-wrapper { width: 100%; }
        .myreferrals-wrapper .box-wrapper .right-content-wrapper { width: 100%; }
    }
    @media only screen and (max-width: 600px) {
        .myreferrals-wrapper .section-banner {
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                margin-bottom: 0px !important;
        }
        .myreferrals-wrapper .section-banner .upper-right-header { margin: 0 auto; }
        .myreferrals-wrapper .box-wrapper .inner-wrapper .left-content {
           align-items: flex-start;
            flex-direction: column;
       }
       .myreferrals-wrapper .box-wrapper .inner-wrapper .left-content .ref-link { margin-top: 10px; }
       .more-less { justify-content: center; flex-direction: column; }
       .more-less a:nth-child(2) { margin: 10px 0px 0px 0px; }
    }
    @media only screen and (max-width: 767px) {
        .myreferrals-wrapper { margin: 40px 0px; }
        .myreferrals-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .myreferrals-wrapper .section-banner img { display: none; }
        .myreferrals-wrapper .section-banner { margin-bottom: 30px; }
         .myreferrals-wrapper .block { width: 100%; }
    }
    @media only screen and (max-width: 420px) {
        .myreferrals-wrapper .block .inner-upper-content { justify-content: unset; }
        .myreferrals-wrapper .block .inner-upper-content .left-content { margin-right: 12px; }
        .myreferrals-wrapper .block .inner-upper-content .right-content {
            display: block;
            width: 100%;
            margin-top: 20px;
        }
    }
    
</style>

