<template>
   <div class="schedule-wrapper">
        <div class="section-banner">
            <h2 class="title text-uppercase">My Schedule</h2>
            <img src="images/placeholder-image.jpg" alt="Placeholder Image">
        </div>
        <div class="content-wrapper">
            <div class="section-content show-content">
                <div class="row">
                    <div class="col-12">
                        <div class="search-content">
                            <h5 class="mb-3">Search Calendar <a href="#" class="select-toogle"><i class="fa fa-chevron-up"></i></a></h5>
                            <!-- <p class="search-note">By Artist Name & Content Type</p> -->
                            <div class="search-bars-wrapper show-selects">
                                <form action="" class="d-flex justify-content-center">
                                    <div class="input-group mb-3 mr-2">
                                        <select class="custom-select" id="inputGroupSelect01">
                                            <option selected>Popularity</option>
                                            <option value="posts">Most Recent</option>
                                            <option value="image-sets">On Sale</option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3 ml-2">
                                        <select class="custom-select" id="inputGroupSelect01">
                                            <option selected>Content Type</option>
                                            <option value="posts">Posts</option>
                                            <option value="image-sets">Image Sets</option>
                                            <option value="video">Video</option>
                                            <option value="ppv">PPV</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="notification-content d-flex justify-content-between">
                            <div>
                                <h5 class="mb-0"><i class="fas fa-bell"></i> Turn on Notifications</h5>
                                <p class="search-note">Notify me when this artist posts new content</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <vue-event-calendar :events="demoEvents"></vue-event-calendar>
                        <!-- <div class="calendar">
                            <div class="row">
                                <div class="col-6">
                                    <v-calendar style="width: 100%;" @update:from-page="fromPage"></v-calendar>
                                </div>
                                <div class="col-6">
                                    <div class="month-data">
                                        <h5>{{monthName}}</h5>
                                        <div class="details">
                                            <h6 class="date">{{monthName}} 21, 2020</h6>
                                            <div>
                                               <h6>Item Title Item Title</h6> 
                                               <p><i class="fas fa-video"></i> <span>$29.99</span></p>
                                            </div>
                                        </div>
                                        <div class="details">
                                            <h6 class="date">{{monthName}} 21, 2020</h6>
                                            <div>
                                               <h6>Item Title Item Title</h6> 
                                               <p><i class="fas fa-image"></i> <span>$29.99</span></p>
                                            </div>
                                        </div>
                                        <div class="details">
                                            <h6 class="date">{{monthName}} 21, 2020</h6>
                                            <div>
                                               <h6>Item Title Item Title</h6> 
                                               <p><i class="fas fa-image"></i> <span>$29.99</span></p>
                                            </div>
                                        </div>
                                        <div class="details">
                                            <h6 class="date">{{monthName}} 21, 2020</h6>
                                            <div>
                                               <h6>Item Title Item Title</h6> 
                                               <p><i class="fas fa-image"></i> <span>$29.99</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse">Collapse <i class="fas fa-angle-up"></i></a>
            </div>
        </div>
   </div>
</template>

<script>
    export default {
        
        data() {
            return {
                demoEvents: [
                    {
                        date: '2020/05/29', // Required
                        title: 'Item Title Item Title', // Required
                        desc: '$29.99',
                    }, 
                    {
                        date: '2020/04/29',
                        title: 'Item Title Item Title',
                        desc: '$29.99',
                        customClass: 'disabled highlight' // Custom classes to an calendar cell
                    },
                    {
                        date: '2020/01/29', // Required
                        title: 'Item Title Item Title', // Required
                        desc: '$29.99',
                    },
                ],
                monthName: "May",
                monthNames: ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
                ]
            }
        },
        mounted: function () {
            setTimeout(() => {
                $(".content-wrapper .vc-grid-container.grid").css("height","auto");
                $(".__vev_calendar-wrapper .cal-wrapper .cal-header .title").prepend("<h5>ADRIANA LIMA</h5>");
                var val = $(".__vev_calendar-wrapper .events-wrapper .event-item .title").html();
                $(".__vev_calendar-wrapper .events-wrapper .event-item .title").html(val.substring(3, val.length));
            }, 500);
        },
        methods: {
            fromPage(obj) {
                this.monthName = this.monthNames[obj.month -1];
            },
            collapse() {
                if($(".schedule-wrapper .section-content").hasClass("hide-content")) {
                    $(".schedule-wrapper .content-wrapper .btn-collapse a").html("Collapse <i class='fas fa-angle-up'></i>");
                    $(".schedule-wrapper .section-content").removeClass('hide-content')
                    $(".schedule-wrapper .section-content").addClass('show-content')
                    $(".schedule-wrapper .section-content").slideToggle();
                } else {
                    $(".schedule-wrapper .content-wrapper .btn-collapse a").html("Expand <i class='fas fa-angle-down'></i>");
                    $(".schedule-wrapper .section-content").removeClass('show-content')
                    $(".schedule-wrapper .section-content").addClass('hide-content')
                    $(".schedule-wrapper .section-content").addClass('active')
                        $('html,body').animate({
                            scrollTop: $(".schedule-wrapper .section-content.active").offset().top - 250
                        }, 1500);
                    $(".schedule-wrapper .section-content").slideToggle();
                    $(".schedule-wrapper .section-content").removeClass('active')
                }
            }
        }
    }
    
</script>
<style scoped>
    .schedule-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .schedule-wrapper .section-banner { display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px; }
    .schedule-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .schedule-wrapper .section-banner img { width: 15%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .schedule-wrapper .content-wrapper h5 a, .schedule-wrapper .content-wrapper h5 a i { color: #272727; }
    .schedule-wrapper .content-wrapper .search-note { color: #272727; font-size: 12px; font-weight: normal; }
    .schedule-wrapper .content-wrapper .search-bars-wrapper .input-group { box-shadow: -1px 0px 60px -13px #000; border-radius: 7px; }
    .schedule-wrapper .content-wrapper .search-bars-wrapper .input-group span { border-top-left-radius: 7px; border-bottom-left-radius: 7px; background: #fff; border-right: 0px; }
    .schedule-wrapper .content-wrapper .search-bars-wrapper .input-group span i { color: #CCCCCC; }
    .schedule-wrapper .content-wrapper .search-bars-wrapper .input-group input { border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-left: 0px; }
    .schedule-wrapper .content-wrapper .search-bars-wrapper .input-group select { border-radius: 7px; }
    .schedule-wrapper .content-wrapper .calendar .month-data h5 { background-color: #FFC845; padding: 12px; text-align: center; margin: 0px; text-transform: uppercase; }
    .schedule-wrapper .content-wrapper .calendar .month-data .details { border-bottom: 1px solid #C5C5C5; border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; display: flex; align-items: center; padding: 10px; }
    .schedule-wrapper .content-wrapper .calendar .month-data .details .date { color: #666666; }
    .schedule-wrapper .content-wrapper .calendar .month-data .details div { display: flex; flex-direction: column; justify-content: center; margin-left: 15px; }
    .schedule-wrapper .content-wrapper .calendar .month-data .details div h6, .schedule-wrapper .content-wrapper .calendar .month-data .details div p { margin: 0px; }
    .schedule-wrapper .content-wrapper .calendar .month-data .details div p { color: #666666; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a { color: #727272; }
    .switch { position: relative; display: inline-block; width: 50px; height: 24px; }
    .switch input { opacity: 0; width: 0; height: 0; }
    .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
    .slider:before { position: absolute; content: ""; height: 16px; width: 16px; left: 4px; bottom: 4px; background-color: #272727; -webkit-transition: .4s; transition: .4s; }
    input:checked + .slider { background-color: #FFC845; }
    input:focus + .slider { box-shadow: 0 0 1px #FFC845; }
    input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }
    .slider.round { border-radius: 34px; }
    .slider.round:before { border-radius: 50%; }
    
    @media only screen and (max-width: 767px) {
        .schedule-wrapper { margin: 40px 0px; }
        .schedule-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .schedule-wrapper .section-banner img { display: none; }
        .schedule-wrapper .section-banner { margin-bottom: 30px; }
    }
    @media only screen and (max-width: 600px) {
        .schedule-wrapper .search-bars-wrapper form { flex-direction: column; }
        .schedule-wrapper .search-bars-wrapper form .input-group { margin: 5px 0px 5px 0px !important; }
        .schedule-wrapper .notification-content { margin-top: 25px; }
        .schedule-wrapper .calendar div.col-6 { width: 100%; max-width: 100%; flex: 0 0 100%; }
    }
</style>

