<template>
   <div class="next-month-feature-section">
        <div class="header">
            <header class="widget-header">
                <h3 class="widget-title text-uppercase">Next Month's Feature</h3>
            </header>
        </div>
        <div>
            <div>
                <h4 class="post-title">Winter Wonderland</h4>
            </div>
            <div class="post-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae ullamcorper arcu, at fermentum velit. Vivamus ornare consequat mollis. Curabitur quis sem suscipit, gravida felis tristique, vehicula nibh. Cras sed imperdiet nisi. Quisque eu eros consectetur, bibendum orci at, volutpat ligula. Nulla quis nulla a diam vehicula viverra sed id nibh. Vivamus pharetra dolor leo, et mollis turpis tincidunt sit amet. Fusce non bibendum mauris. Mauris pulvinar consequat sem, id elementum ante finibus vel. Mauris feugiat, libero ut facilisis tincidunt, turpis metus gravida tortor, quis vulputate nibh velit sit amet erat.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                
            }
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    
</style>