<template>
    <div class="public-info-wrapper">
        <h2 class="text-uppercase">Notifications & Messaging</h2>
        <p>Choose your settings for incoming notifications and messages</p>
        <div class="row">
            <div class="col-12">
                <div>
                    <form action="" class="public-info-form">
                        <div class="item">
                            <p class="heading"><i class="fas fa-envelope"></i> Messaging Settings</p>
                            <div class="block">
                                <p>Allow Followers</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="item">
                            <p class="heading"><i class="far fa-credit-card"></i> Sale Notification Settings</p>
                            <div class="input-group mb-3 mt-2">
                                <select class="custom-select">
                                    <option selected><i class="fas fa-sort"></i> How often do you want updates?</option>
                                </select>
                            </div>
                            <div class="block">
                                <p>Show New Subscriptions</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="block">
                                <p>Show New Renewals</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="block">
                                <p>Show New Sales</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="block">
                                <p>Show New Tips</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="block">
                                <p>Show New Followers</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="block">
                                <p>Show New Referrals</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="item">
                            <p class="heading"><i class="fas fa-bell"></i> Site Notification Settings</p>
                            <div class="input-group mb-3 mt-2">
                                <select class="custom-select">
                                    <option selected><i class="fas fa-sort"></i> How often do you want updates?</option>
                                </select>
                            </div>
                            <div class="block">
                                <p>Show New Likes</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="block">
                                <p>Show New Renewals</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="item">
                            <p class="heading"><i class="fas fa-user-friends"></i> Casting Call Settings</p>
                            <p>This is only visible to Approved Members for Casting Calls and Projects</p>
                            <div class="input-group mb-3 mt-2">
                                <select class="custom-select">
                                    <option selected><i class="fas fa-sort"></i> Professional Title</option>
                                </select>
                            </div>
                            <div class="input-group mb-3 mt-2">
                                <select class="custom-select">
                                    <option selected><i class="fas fa-sort"></i> Professional Page Type</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fab fa-facebook-f"></i></span>
                                </div>
                                <input placeholder="Contact Link" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fab fa-instagram"></i></span>
                                </div>
                                <input placeholder="Contact Link" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fab fa-twitter"></i></span>
                                </div>
                                <input placeholder="Contact Link" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fab fa-youtube"></i></span>
                                </div>
                                <input placeholder="Contact Link" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <select class="custom-select">
                                    <option selected><i class="fas fa-sort"></i> Country*</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <select class="custom-select">
                                    <option selected><i class="fas fa-sort"></i> State/Province*</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <select class="custom-select">
                                    <option selected><i class="fas fa-sort"></i> City</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <input placeholder="Age" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="block">
                                <p>Make profile visible in Projects & Casting Calls</p>
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <button type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                
            }
        },

        mounted() {
           
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .public-info-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .public-info-wrapper p { font-weight: 300; font-family: "Segoe UI"; margin: 0px; }
    .public-info-wrapper p.heading { font-weight: bold; }
    .public-info-wrapper h2 {  display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; margin: 0px; }
    .public-info-wrapper form .item { margin-bottom: 15px; }
    .public-info-wrapper form .block { display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; }
    .public-info-wrapper .public-info-form .input-group { box-shadow: -1px 0px 60px -13px #727272; }
    .public-info-wrapper .public-info-form .input-group .input-group-text { padding-right: 3px; background-color: #fff; border-right: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; }
    .public-info-wrapper .public-info-form .input-group .form-control { border-left: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px;}
    .public-info-wrapper .public-info-form .input-group .form-control:focus { box-shadow: unset; }
    .public-info-wrapper .public-info-form .input-group select { border-radius: 7px; }
    .public-info-wrapper form input { width: 100%; }
    .public-info-wrapper form button[type='submit'] { width: 100%; background-color: #ffc845; padding: 8px 25px; border-radius: 5px; font-family: "Oswald"; color: #272727; }
    .switch { position: relative; display: inline-block; width: 25px; height: 15px; }
    .switch input { opacity: 0; width: 0; height: 0; }
    .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
    .slider:before { position: absolute; content: ""; height: 16px; width: 16px; left: 1px; bottom: 0px; background-color: #272727; -webkit-transition: .4s; transition: .4s; }
    input:checked + .slider { background-color: #FFC845; }
    input:focus + .slider { box-shadow: 0 0 1px #FFC845; }
    input:checked + .slider:before { -webkit-transform: translateX(8px); -ms-transform: translateX(8px); transform: translateX(8px); }
    .slider.round { border-radius: 34px; }
    .slider.round:before { border-radius: 50%; }
</style>