<template>
    <div class="public-info-wrapper">
        <h2 class="text-uppercase">Pay Out Account</h2>
        <p>This is how you want us to pay you</p>
        <div class="row">
            <div class="col-12">
                <div>
                    <form action="" class="public-info-form">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" placeholder="Name" class="form-control name-field" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <select class="custom-select">
                                <option selected><i class="fas fa-sort"></i> Country*</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <select class="custom-select">
                                <option selected><i class="fas fa-sort"></i> State/Province*</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <select class="custom-select">
                                <option selected><i class="fas fa-sort"></i> City</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <input placeholder="Zip/Postal Code" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3 icon-right">
                            <input placeholder="Date of Birth" type="text" id="birth-date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <select class="custom-select">
                                <option selected><i class="fas fa-sort"></i> ID Type*</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 icon-right">
                            <input placeholder="Expiry Date" type="text" id="account-expiry-date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="no-expiration-wrapper">
                            <p>No Expiration</p>
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="payment-gateways-wrapper">
                            <img src="images/payment-gateways.jpg" alt="">
                        </div>
                        <button type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                
            }
        },

        mounted() {
            setTimeout(() => {
                $( "#birth-date" ).datepicker();
                $( "#account-expiry-date" ).datepicker();
            }, 1000);
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .public-info-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .public-info-wrapper p { font-weight: 300; font-family: "Segoe UI"; }
    .public-info-wrapper h2 {  display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; margin: 0px; }
    .public-info-wrapper .public-info-form .password-fields-wrapper .heading { font-weight: bold; }
    .public-info-wrapper .public-info-form .input-group { width: 50%; float: left;  box-shadow: -1px 0px 60px -13px #727272; }
    .public-info-wrapper .public-info-form .input-group .input-group-prepend .input-group-text { border-top-left-radius: 7px; border-bottom-left-radius: 7px; padding-right: 3px; background-color: #fff; border-right: 0px; }
    .public-info-wrapper .public-info-form .input-group:nth-child(odd) { padding-right: 7.5px }
    .public-info-wrapper .public-info-form .input-group:nth-child(even) { padding-left: 7.5px }
    .public-info-wrapper .public-info-form .input-group .name-field { border-left: 0px !important; }
    .public-info-wrapper .public-info-form .input-group .input-group-append .input-group-text { background-color: #fff; }
    .public-info-wrapper .public-info-form .input-group #birth-date, .public-info-wrapper .public-info-form .input-group #account-expiry-date { border-right: 0px; }
    .public-info-wrapper .public-info-form .input-group.email-field, .public-info-wrapper .public-info-form .input-group.new-pass-field, .public-info-wrapper .public-info-form .input-group.current-pass-field { width: 50%; padding-right: 7.5px; }
    .public-info-wrapper .public-info-form .new-pass-fields { display: flex; }
    .public-info-wrapper .public-info-form .input-group.confirm-pass-field { width: 50%; padding-left: 7.5px; }
    .public-info-wrapper .public-info-form .input-group.email-field .form-control { border-left: 0px; }
    .public-info-wrapper .public-info-form .input-group:not(.icon-right) .form-control { border-top-right-radius: 7px; border-bottom-right-radius: 7px;}
    .public-info-wrapper .public-info-form .input-group.icon-right .form-control { border-top-left-radius: 7px; border-bottom-left-radius: 7px;}
    .public-info-wrapper .public-info-form .input-group.icon-right .input-group-text { border-top-right-radius: 7px; border-bottom-right-radius: 7px;}
    .public-info-wrapper .public-info-form .input-group .form-control:focus { box-shadow: unset; }
    .public-info-wrapper .public-info-form .input-group select { border-radius: 7px; }
    .public-info-wrapper .public-info-form .no-expiration-wrapper { margin-bottom: 20px; align-items: center; display: flex; justify-content: space-between; width: 50%; padding-right: 7.5px; }
    .public-info-wrapper .public-info-form .no-expiration-wrapper p { margin: 0px; }
    .public-info-wrapper .public-info-form .no-expiration-wrapper .switch { margin: 0px; }
    .public-info-wrapper .public-info-form .payment-gateways-wrapper { width: 55%; margin-top: 10px; }
    .public-info-wrapper .public-info-form .payment-gateways-wrapper img { width: 100%; display: block; height: auto; }
    .public-info-wrapper form button[type='submit'] { float: right; background-color: #ffc845; padding: 8px 25px; border-radius: 5px; font-family: "Oswald"; color: #272727; }
    .switch { position: relative; display: inline-block; width: 25px; height: 15px; }
    .switch input { opacity: 0; width: 0; height: 0; }
    .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
    .slider:before { position: absolute; content: ""; height: 16px; width: 16px; left: 1px; bottom: 0px; background-color: #272727; -webkit-transition: .4s; transition: .4s; }
    input:checked + .slider { background-color: #FFC845; }
    input:focus + .slider { box-shadow: 0 0 1px #FFC845; }
    input:checked + .slider:before { -webkit-transform: translateX(8px); -ms-transform: translateX(8px); transform: translateX(8px); }
    .slider.round { border-radius: 34px; }
    .slider.round:before { border-radius: 50%; }
    @media (max-width:575px) {
        .public-info-wrapper .public-info-form .input-group:nth-child(odd) { padding-right: 0; }
        .public-info-wrapper .public-info-form .input-group:nth-child(even) { padding-left: 0; }
        .public-info-wrapper .public-info-form .input-group { width: 100%; float: none; }
        .public-info-wrapper .public-info-form .no-expiration-wrapper { width: 100%; padding-right: 0; }
    }
</style>