<template>
   <div class="payment-congrats">
        <h2 class="title">Congrats!</h2>
        <div class="promotions">
            <p class="description">You still have 364 days left to earn 85% commissions on all your sales and 10% commisions on your referral sales. After this introductory rate you will still continue to to earn 80% and 5% respectively</p>
            <div class="btn-wrapper">
                <a href="#" class="button">Dismiss</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: {
            
        },
        mounted: function () {
             
        }
    }
</script>
<style scoped>
    .payment-congrats { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 40px; }
    .payment-congrats .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; }
    .payment-congrats .promotions .description { color: #272727; font-weight: 300; font-family: "Segoe UI"; margin-bottom: 15px }
    .payment-congrats .promotions .btn-wrapper { margin: 0 auto; text-align: center; }
    .payment-congrats .promotions .button { background-color: #FFC845; color: #272727; padding: 12px 28px; display: inline-block; border-radius: 5px; text-align: center; font-weight: bold; }
    @media only screen and (max-width: 1199px) {
        .payment-congrats .title { width: fit-content; margin: 12px 0px; }
    }
    @media only screen and (max-width: 767px) {
        .payment-congrats { margin: 40px 0px; }
        .payment-congrats .title { font-size: 34px !important; }
    }
</style>

