<template>
   <div class="balances-wrapper">
        <div class="section-banner">
            <h2 class="title">Current Balances</h2>
            <p>Your minimum payout is set at $100</p>
        </div>
        <div class="content-wrapper">
            <div class="section-content show-content">
                <div class="row breakdown-graph">
                    <div class="col-md-5">
                        <div class="breakdown">
                            <div class="group" v-for="(balance, index) in balances" :key="index">
                                <p>{{ balance.label }}</p>
                                <p class="price">{{ balance.value }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class='barcontainer'>
                            <div class='bar' style='height:12%'>
                                <div class='barlabel'>
                                label
                                </div>
                            </div>
                            <div class='bar' style='height: 16%'>
                                <div class='barlabel'>
                                label
                                </div>
                            </div>
                            <div class='bar' style='height: 22%'>
                                <div class='barlabel'>
                                label
                                </div>
                            </div>
                            <div class='bar' style='height:30%'>
                                <div class='barlabel'>
                                label </div>
                            </div>
                            <div class='bar' style='height:45%'>
                                <div class='barlabel'>
                                label
                                </div>
                            </div>
                            <div class='bar' style='height:80%'>
                                <div class='barlabel'>
                                label
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse">Collapse <i class="fas fa-angle-up"></i></a>
            </div>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                balances: [
                    {
                        label: 'Referrals',
                        value: '$30.87'
                    },
                    {
                        label: 'Subscriptions',
                        value: '$498.87'
                    },
                    {
                        label: 'Posts',
                        value: '$122.87'
                    },
                    {
                        label: 'Video Sales',
                        value: '$82.87'
                    },
                    {
                        label: 'Image Sales',
                        value: '$102.87'
                    },
                    {
                        label: 'Tips',
                        value: '$310.87'
                    },
                    {
                        label: 'PPV',
                        value: '$80.87'
                    },
                    {
                        label: 'Total',
                        value: '$2280.87'
                    },
                    {
                        label: 'Held',
                        value: '$2280.87'
                    },
                    {
                        label: 'Available',
                        value: '$2280.87'
                    },
                ]
            }
        },

        mounted() {
            
        },

        methods: {
            collapse() {
                if($(".balances-wrapper .section-content").hasClass("hide-content")) {
                    $(".balances-wrapper .content-wrapper .btn-collapse a").html("Collapse <i class='fas fa-angle-up'></i>");
                    $(".balances-wrapper .section-content").removeClass('hide-content')
                    $(".balances-wrapper .section-content").addClass('show-content')
                    $(".balances-wrapper .section-content").slideToggle();
                } else {
                    $(".balances-wrapper .content-wrapper .btn-collapse a").html("Expand <i class='fas fa-angle-down'></i>");
                    $(".balances-wrapper .section-content").removeClass('show-content')
                    $(".balances-wrapper .section-content").addClass('hide-content')
                    $(".balances-wrapper .section-content").addClass('active')
                        $('html,body').animate({
                            scrollTop: $(".balances-wrapper .section-content.active").offset().top - 250
                        }, 1500);
                    $(".balances-wrapper .section-content").slideToggle();
                    $(".balances-wrapper .section-content").removeClass('active')
                }
            }
        }
    }
</script>
<style scoped>

    .barcontainer {
        position: relative;
        border-radius: 5px 5px 0 0;
        width: 100%;
        margin: 0 auto;
        min-height: 25vw;
        max-height: 50vw;
        min-width: 100%;
        max-width: 100%;
        z-index: 1;
        margin-bottom: 16px;
    }

    .barcontainerheader {
        position: relative;
        border-radius: 5px 5px 0 0;
        width: 100%;
        margin: 0 auto;
        min-height: 25vw;
        max-height: 50vw;
        min-width: 100%;
        margin: 0 auto;
        max-width: 100%;
        z-index: 1;
    }

    .bar {
        position: absolute;
        display: inline-block;
        bottom: 0;
        border-radius: 5px;
        background: #FFC845;
        width: 12%;
        text-align: center;
        color: white;
    }

    .barlabel {
    position: absolute;
    background: #fff;
    bottom: 0;
    width: 100%;
    color: #000;
    }

    .bar:nth-child(2) {
    left: 15%;
    }

    .bar:nth-child(3) {
    left: 30%;
    }

    .bar:nth-child(4) {
    left: 45%;
    }

    .bar:nth-child(5) {
    left: 60%;
    }

    .bar:nth-child(6) {
    left: 75%;
    }

    .bar:nth-child(7) {
    left: 90%;
    }
    .balances-wrapper .breakdown .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .balances-wrapper .breakdown .group .price {
        font-size: 15px;
        line-height: 13px;
        color: #272727;
        font-weight: 400;
        font-family: "Oswald";
        text-align: right;
    }
    .balances-wrapper .breakdown-graph {
        display: flex;
        align-items: flex-end;
    }
    .balances-wrapper .block { float: left; margin-bottom: 25px; width: calc(33.33% - 17px); opacity: 1; }
    .balances-wrapper .block img { width: 100%; height: auto; }
    .balances-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .balances-wrapper .section-banner { margin-bottom: 40px; }
    .balances-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .balances-wrapper .section-banner img { width: 15%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .balances-wrapper .content-wrapper .row { padding:0px 15px; }
    .balances-wrapper .content-wrapper .col-4 div { display: flex; flex-direction: column; text-align: center; margin: 10px 0px; }
    .balances-wrapper .content-wrapper .grid .block:nth-child(1) { box-shadow: 0px 1px 10px #000; }
    .balances-wrapper .content-wrapper img { width: 100%; height: auto; }
    .balances-wrapper .content-wrapper .item-wrapper { position: relative; }
    .balances-wrapper .content-wrapper .item-wrapper .set-featured { position: absolute; top: 3px; right: 3px; font-size: 20px; z-index: 3; }
    .balances-wrapper .content-wrapper .item-wrapper .set-featured i { color: #727272; }
    .balances-wrapper .content-wrapper .item-wrapper .set-featured i::before { transform: scale(-1); }
    .balances-wrapper .content-wrapper .block.featured .item-wrapper .set-featured i { color: #FFC845; }
    .balances-wrapper .content-wrapper a:hover .item-overlay { opacity: 1; }
    .balances-wrapper .content-wrapper .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .balances-wrapper .content-wrapper .block:first-child .item-wrapper div { background: rgba(255,200,69,1); }
    .balances-wrapper .content-wrapper .block:first-child .set-featured { display: none; }
    .balances-wrapper .content-wrapper .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; }
    .balances-wrapper .content-wrapper .item-wrapper div p { margin: 0px; color: #fff; }
    .more-less a { background: #FFC845; padding: 9px 66px; color: #272727; border-radius: 5px; width: 48%; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a { color: #727272; }

    @media only screen and (max-width: 767px) {
        .balances-wrapper { margin: 40px 0px; }
        .balances-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .balances-wrapper .section-banner img { display: none; }
        .balances-wrapper .section-banner { margin-bottom: 30px; }
    }
    @media only screen and (max-width: 600px) {
        .balances-wrapper .block { float: left; margin-bottom: 25px; width: calc(50% - 17px); opacity: 1; }
        .more-less a { padding: 12px 0px; }
    }
    
</style>

