<template>
   <div class="payment-history-wrapper">
        <div class="section-banner">
            <h2 class="title">Payment History</h2>
            <p>See the complete listing of your Sales History</p>
        </div>
        <div class="content-wrapper">
            <div class="section-content show-content">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <el-table
                                :data="paymentHistoryData"
                                stripe
                                style="width: 100%">
                                <el-table-column
                                    prop="month"
                                    label="Month">
                                </el-table-column>
                                <el-table-column
                                    prop="date"
                                    label="Date">
                                </el-table-column>
                                <el-table-column
                                    prop="amount"
                                    label="Amount">
                                </el-table-column>
                                <el-table-column
                                    prop="confirmation"
                                    label="Confirmation">
                                </el-table-column>
                            </el-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse">Collapse <i class="fas fa-angle-up"></i></a>
            </div>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                paymentHistoryData: [{
                  month: 'May',
                  date: 'May 21, 2020',
                  amount: '$15.00',
                  confirmation: 'Pending',
                }, {
                  month: 'May',
                  date: 'May 21, 2020',
                  amount: '$15.00',
                  confirmation: 'Pending',
                }, {
                  month: 'May',
                  date: 'May 21, 2020',
                  amount: '$15.00',
                  confirmation: 'Pending',
                }, {
                  month: 'May',
                  date: 'May 21, 2020',
                  amount: '$15.00',
                  confirmation: 'Pending',
              }]
            }
        },

        mounted() {
            
        },

        methods: {
            collapse() {
                if($(".payment-history-wrapper .section-content").hasClass("hide-content")) {
                    $(".payment-history-wrapper .content-wrapper .btn-collapse a").html("Collapse <i class='fas fa-angle-up'></i>");
                    $(".payment-history-wrapper .section-content").removeClass('hide-content')
                    $(".payment-history-wrapper .section-content").addClass('show-content')
                    $(".payment-history-wrapper .section-content").slideToggle();
                } else {
                    $(".payment-history-wrapper .content-wrapper .btn-collapse a").html("Expand <i class='fas fa-angle-down'></i>");
                    $(".payment-history-wrapper .section-content").removeClass('show-content')
                    $(".payment-history-wrapper .section-content").addClass('hide-content')
                    $(".payment-history-wrapper .section-content").addClass('active')
                        $('html,body').animate({
                            scrollTop: $(".payment-history-wrapper .section-content.active").offset().top - 250
                        }, 1500);
                    $(".payment-history-wrapper .section-content").slideToggle();
                    $(".payment-history-wrapper .section-content").removeClass('active')
                }
            }
        }
    }
</script>
<style scoped>
    .table-striped tbody tr:nth-of-type(odd) { background-color: #FFC845; }
    html body .paginate_button.current, html body .paginate_button.current:hover { background: none !important; background-color: #FFC845 !important; } 
    .barcontainer {
      position: relative;
      border-radius: 5px 5px 0 0;
      width: 100%;
      margin: 0 auto;
      min-height: 25vw;
      max-height: 50vw;
      min-width: 100%;
      max-width: 100%;
      z-index: 1;
      margin-bottom: 16px;
    }

    .barcontainerheader {
      position: relative;
      border-radius: 5px 5px 0 0;
      width: 100%;
      margin: 0 auto;
      min-height: 25vw;
      max-height: 50vw;
      min-width: 100%;
      margin: 0 auto;
      max-width: 100%;
      z-index: 1;
    }

    .bar {
      position: absolute;
      display: inline-block;
      bottom: 0;
      border-radius: 5px;
      background: #FFC845;
      width: 12%;
      text-align: center;
      color: white;
    }

    .barlabel {
      position: absolute;
      background: #fff;
      bottom: 0;
      width: 100%;
      color: #000;
    }

    .bar:nth-child(2) {
    left: 15%;
    }

    .bar:nth-child(3) {
    left: 30%;
    }

    .bar:nth-child(4) {
    left: 45%;
    }

    .bar:nth-child(5) {
    left: 60%;
    }

    .bar:nth-child(6) {
    left: 75%;
    }

    .bar:nth-child(7) {
    left: 90%;
    }
    .payment-history-wrapper .breakdown .group { display: flex; justify-content: space-between; align-items: center; }
    .payment-history-wrapper .breakdown .group .price { font-size: 15px; line-height: 13px; color: #272727; font-weight: 400; font-family: "Oswald"; text-align: right; }
    .payment-history-wrapper .breakdown-graph { display: flex; align-items: flex-end; }
    .payment-history-wrapper .block { float: left; margin-bottom: 25px; width: calc(33.33% - 17px); opacity: 1; }
    .payment-history-wrapper .block img { width: 100%; height: auto; }
    .payment-history-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .payment-history-wrapper .section-banner { margin-bottom: 40px; }
    .payment-history-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .payment-history-wrapper .section-banner img { width: 15%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .payment-history-wrapper .content-wrapper .row { padding:0px 15px; }
    .payment-history-wrapper .content-wrapper .col-4 div { display: flex; flex-direction: column; text-align: center; margin: 10px 0px; }
    .payment-history-wrapper .content-wrapper .grid .block:nth-child(1) { box-shadow: 0px 1px 10px #000; }
    .payment-history-wrapper .content-wrapper img { width: 100%; height: auto; }
    .payment-history-wrapper .content-wrapper .item-wrapper { position: relative; }
    .payment-history-wrapper .content-wrapper .item-wrapper .set-featured { position: absolute; top: 3px; right: 3px; font-size: 20px; z-index: 3; }
    .payment-history-wrapper .content-wrapper .item-wrapper .set-featured i { color: #727272; }
    .payment-history-wrapper .content-wrapper .item-wrapper .set-featured i::before { transform: scale(-1); }
    .payment-history-wrapper .content-wrapper .block.featured .item-wrapper .set-featured i { color: #FFC845; }
    .payment-history-wrapper .content-wrapper a:hover .item-overlay { opacity: 1; }
    .payment-history-wrapper .content-wrapper .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .payment-history-wrapper .content-wrapper .block:first-child .item-wrapper div { background: rgba(255,200,69,1); }
    .payment-history-wrapper .content-wrapper .block:first-child .set-featured { display: none; }
    .payment-history-wrapper .content-wrapper .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; }
    .payment-history-wrapper .content-wrapper .item-wrapper div p { margin: 0px; color: #fff; }
    .more-less a { background: #FFC845; padding: 9px 66px; color: #272727; border-radius: 5px; width: 48%; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a { color: #727272; }

    @media only screen and (max-width: 767px) {
        .payment-history-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .payment-history-wrapper .section-banner img { display: none; }
        .payment-history-wrapper .section-banner { margin-bottom: 30px; }
    }
    @media only screen and (max-width: 600px) {
        .payment-history-wrapper .block { float: left; margin-bottom: 25px; width: calc(50% - 17px); opacity: 1; }
        .more-less a { padding: 12px 0px; }
    }
    
</style>

