<template>
   <div class="private-videos-wrapper">
        <div class="section-banner">
            <h2 class="title text-uppercase">Private Videos</h2>
            <img src="images/placeholder-image.jpg" alt="Placeholder Image">
        </div>
        <div class="content-wrapper">
            <div class="section-content show-content">
                <div class="row-fluid">
                    <div class="grid" v-images-loaded:on.progress="imageProgress">
                        <div class="block" v-for="(item, i) in items" :key="i" :id="i">
                            <a href="#" class="link-wrapper">
                                <div class="item-wrapper">
                                    <img :src="item.img" alt="">
                                    <a href="#" class="set-featured" @click.stop.prevent="setBookmarked(i)"><i class="icon-subscriber-bookmark-icon"></i></a>
                                    <div class="item-overlay" v-if="item.title">
                                        <h5>{{ item.title }}</h5>
                                        <a href="#"><i class="fas fa-play"></i></a>
                                        <!-- <p>{{ item.duration }}</p> -->
                                        <!-- <p><i class="fas fa-calendar-alt"></i> {{ item.date }}</p> -->
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="more-less d-flex justify-content-between text-center">
                    <a href="#" @click.stop.prevent="add"><i class="fas fa-plus"></i> More</a>
                    <a href="#" @click.stop.prevent="remove"><i class="fas fa-minus"></i> Less</a>
                </div>
            </div>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse">Collapse <i class="fas fa-angle-up"></i></a>
            </div>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                items: [
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                ],
                msnry: null,
            }
        },

        mounted() {
            let grid = document.querySelector('.private-videos-wrapper .grid');
            this.msnry = new Masonry(grid, {
                itemSelector: '.block',
                columnWidth: '.block',
                gutter: 25,
                percentPosition: true,
                transitionDuration: 0
            });
            
        },

        methods: {
            imageProgress(instance, image ) {
                this.msnry.layout();
            },
            add() {
                this.items.push(
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                    {
                        img: 'images/Video.jpg',
                        title: 'Model Shoot at the Park',
                    },
                );
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                     $('html,body').animate({
                        scrollTop: $(".private-videos-wrapper .content-wrapper .more-less").offset().top -400
                    }, 1000);
                });
            },
            remove() {
                if(this.items.length > 0) {
                    $('html,body').animate({
                        scrollTop: $(".private-videos-wrapper .content-wrapper .more-less").offset().top -800
                    }, 1000);
                    setTimeout(() => {
                        this.items.splice(-6,6);
                    }, 900);
                }
                setTimeout(() => {
                    this.msnry.reloadItems();
                    this.msnry.layout();
                }, 1000);
            },
            setBookmarked(index) {
                if($(".private-videos-wrapper .grid #"+index+".block").hasClass('featured')) {
                    $(".private-videos-wrapper .grid #"+index+".block").removeClass("featured");
                } else {
                    $(".private-videos-wrapper .grid #"+index+".block").addClass("featured");
                }
            },
            collapse() {
                if($(".private-videos-wrapper .section-content").hasClass("hide-content")) {
                    $(".private-videos-wrapper .content-wrapper .btn-collapse a").html("Collapse <i class='fas fa-angle-up'></i>");
                    $(".private-videos-wrapper .section-content").removeClass('hide-content')
                    $(".private-videos-wrapper .section-content").addClass('show-content')
                    $(".private-videos-wrapper .section-content").slideToggle();
                } else {
                    $(".private-videos-wrapper .content-wrapper .btn-collapse a").html("Expand <i class='fas fa-angle-down'></i>");
                    $(".private-videos-wrapper .section-content").removeClass('show-content')
                    $(".private-videos-wrapper .section-content").addClass('hide-content')
                    $(".private-videos-wrapper .section-content").addClass('active')
                        $('html,body').animate({
                            scrollTop: $(".private-videos-wrapper .section-content.active").offset().top - 250
                        }, 1500);
                    $(".private-videos-wrapper .section-content").slideToggle();
                    $(".private-videos-wrapper .section-content").removeClass('active')
                }
            }
        }
    }

</script>
<style scoped>
    .private-videos-wrapper .block { float: left; margin-bottom: 25px; width: calc(50% - 15px); opacity: 1; }
    .private-videos-wrapper .block img { width: 100%; height: auto; }
    .private-videos-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .private-videos-wrapper .section-banner { display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px; }
    .private-videos-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .private-videos-wrapper .section-banner img { width: 15%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .private-videos-wrapper .content-wrapper .row { padding:0px 15px; }
    .private-videos-wrapper .content-wrapper .col-6 div { display: flex; flex-direction: column; text-align: center; margin: 10px 0px; }
    /* .private-videos-wrapper .content-wrapper .grid .block:nth-child(1) { box-shadow: 0px 1px 10px #000; } */
    .private-videos-wrapper .content-wrapper img { width: 100%; height: auto; }
    .private-videos-wrapper .content-wrapper .item-wrapper { position: relative; }
    .private-videos-wrapper .content-wrapper .item-wrapper div { text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; flex-direction: column; }
    .private-videos-wrapper .content-wrapper a.create-new { box-shadow: 0px 3px 30px #000; padding: 25px; color: #272727; font-family: "Oswald"; }
    .private-videos-wrapper .content-wrapper .block:first-child a.link-wrapper .item-overlay a { display: none; }
    .private-videos-wrapper .content-wrapper a:hover .item-overlay { opacity: 1; }
    .private-videos-wrapper .content-wrapper .item-wrapper .set-featured { position: absolute; top: 3px; right: 3px; font-size: 20px; z-index: 3; }
    .private-videos-wrapper .content-wrapper .item-wrapper .set-featured i { color: #727272; }
    .private-videos-wrapper .content-wrapper .block.featured .item-wrapper .set-featured i { color: #FFC845; }
    .private-videos-wrapper .content-wrapper .block .item-wrapper .set-featured i::before { transform: scale(-1); }
    .private-videos-wrapper .content-wrapper .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .private-videos-wrapper .content-wrapper .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; }
    .private-videos-wrapper .content-wrapper .item-wrapper .item-overlay p { margin: 0px; color: #fff; font-weight: 300; }
    /* .private-videos-wrapper .content-wrapper a.link-wrapper .item-wrapper .item-overlay h5 { border-bottom: 3px solid #FFC845; } */
    .private-videos-wrapper .content-wrapper a.link-wrapper .item-wrapper .item-overlay a i, .private-videos-wrapper .content-wrapper a.link-wrapper .item-wrapper .item-overlay h5 { color: #272727 !important; }
    .private-videos-wrapper .content-wrapper img { width: 100%; height: auto; }
    .more-less a { background: #FFC845; padding: 9px 66px; color: #272727; border-radius: 5px; width: 48%; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a { color: #727272; }

    @media only screen and (max-width: 767px) {
        .private-videos-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .private-videos-wrapper .section-banner img { display: none; }
        .private-videos-wrapper .section-banner { margin-bottom: 30px; }
    }
    @media only screen and (max-width: 600px) {
        .private-videos-wrapper .block { float: left; margin-bottom: 25px; width: calc(100% - 15px); opacity: 1; }
        .more-less a { padding: 12px 0px; }
    }
</style>

