<template>
   <div class="promotions-packages">
        <h2 class="title text-uppercase">Promotions & Packages</h2>
        <div class="promotions">
            <p class="sub-title text-uppercase">Promotions</p>
            <p class="description">40% off for a limited time only!</p>
            <a href="#" class="button">Get 30 days for $5.99</a>
        </div>
        <div class="packages">
            <p class="sub-title text-uppercase">Subscription PACKAGES</p>
            <a href="#" class="button">Get 2 month for $19.99</a>
            <a href="#" class="button">Get 3 months for $24.99</a>
            <p class="description">40% off for a limited time only!</p>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: {
            
        },
        mounted: function () {
             
        }
    }
</script>
<style scoped>
    .promotions-packages { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 40px; }
    .promotions-packages .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; }
    .promotions-packages .promotions { display: flex; flex-direction: column; }
    .promotions-packages .promotions { display: flex; flex-direction: column; }
    .promotions-packages .promotions .sub-title { color: #272727; font-weight: bold; font-size: 20px; margin-bottom: 0px; }
    .promotions-packages .promotions .description { color: #727272; font-weight: 600; margin-bottom: 5px }
    .promotions-packages .promotions .button { background-color: #FFC845; color: #272727; padding: 12px 28px; width: 100%; border-radius: 5px; text-align: center; font-weight: bold; }
    .promotions-packages .packages { margin-top: 30px; display: flex; flex-direction: column; flex-wrap: wrap; }
    .promotions-packages .packages .sub-title { color: #272727; font-weight: bold; font-size: 20px; margin-bottom: 0px; }
    .promotions-packages .packages .button { background-color: #FFC845; color: #272727; padding: 12px 28px; width: 100%; border-radius: 5px; margin: 5px 0px 5px 0px; text-align: center; font-weight: bold; }
    .promotions-packages .packages .description { text-align: center; color: #727272; margin: 15px 0px 0px 0px; }
    @media only screen and (max-width: 1199px) {
        .promotions-packages .title { width: fit-content; margin: 12px 0px; }
    }
    @media only screen and (max-width: 767px) {
        .promotions-packages { margin: 40px 0px; }
        .promotions-packages .title { font-size: 34px !important; }
    }
</style>

