<template>
    <div class="public-info-wrapper">
        <h2 class="text-uppercase">Public info & setting</h2>
        <p>Everything in this section is viewable by the general public</p>
        <div class="row">
            <form action="" class="public-info-form">
                <div class="col-12 col-sm-6">
                    <div class="upload-image-wrapper">
                        <p>Upload Cover Picture (must be safe for work)</p>
                        <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
                    </div>
                    <div class="upload-image-wrapper">
                        <p>Upload Profile Picture (must be safe for work)</p>
                        <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" placeholder="Name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-pen"></i></span>
                            </div>
                            <input placeholder="Contact Link" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-facebook-f"></i></span>
                            </div>
                            <input placeholder="Contact Link" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-instagram"></i></span>
                            </div>
                            <input placeholder="Contact Link" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-twitter"></i></span>
                            </div>
                            <input placeholder="Contact Link" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-youtube"></i></span>
                            </div>
                            <input placeholder="Contact Link" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <button type="submit">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
    export default {
        directives: {
            imagesLoaded
        },
        components: {
            vueDropzone: vue2Dropzone
        },
        data: () => {
            return {
                dropzoneOptions: {
                    url: 'https://httpbin.org/post',
                    maxFiles: 1,
                    thumbnailWidth: 150,
                    maxFilesize: 0.5,
                    addRemoveLinks: true,
                    dictDefaultMessage: "<i style='font-size:50px;' class='fas fa-cloud-upload-alt'></i><br/> Drop file to upload",
                }
            }
        },

        mounted() {
           
        },

        methods: {
            
        }
    }
    
</script>
<style scoped>
    .public-info-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .public-info-wrapper p { font-weight: 300; font-family: "Segoe UI";}
    .public-info-wrapper .public-info-form { width: 100%; display: flex; flex-wrap: wrap; }
    .public-info-wrapper .public-info-form .upload-image-wrapper { margin-bottom: 15px; }
    .public-info-wrapper .public-info-form .upload-image-wrapper p { margin-bottom: 3px; }
    .public-info-wrapper h2 { display: inline-block; border-bottom: 3px solid #ffc845; padding-bottom: 3px; margin: 0px; }
    .public-info-wrapper .public-info-form .input-group { box-shadow: -1px 0px 60px -13px #727272; }
    .public-info-wrapper .public-info-form .input-group .input-group-text { border-left: 0px; border-top-left-radius: 7px; border-bottom-left-radius: 7px; padding-right: 3px; background-color: #fff; border-right: 0px; }
    .public-info-wrapper .public-info-form .input-group .form-control { border-right:0px; border-left: 0px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; }
    .public-info-wrapper .public-info-form .input-group .form-control:focus { box-shadow: unset; }
    .public-info-wrapper form button[type='submit'] { float: right; background-color: #ffc845; padding: 8px 25px; border-radius: 5px; font-family: "Oswald"; color: #272727; }
</style>