<template>
   <div class="recommended">
        <div class="featured-wrapper">
            <img src="images/7.jpg" alt="">
            <div>
                <h4 class="text-uppercase">Recommended</h4>
            </div>
        </div>
        <div class="row-fluid">
            <div class="grid" v-images-loaded:on.progress="imageProgress">
                <div class="block" v-for="(item, i) in items" :key="i">
                    <a href="#">
                        <div class="item-wrapper">
                            <img :src="item.img" alt="">
                            <div class="item-overlay">
                                <h4>{{item.title}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
                items: [
                    {
                        img: 'images/6.jpg',
                        title: 'Samantha Jones',
                    },
                    {
                        img: 'images/1.jpg',
                        title: 'Samantha Jones',
                    },
                    {
                        img: 'images/3.png',
                        title: 'Samantha Jones',
                    },
                    {
                        img: 'images/4.jpg',
                        title: 'Samantha Jones',
                    },
                    {
                        img: 'images/5.jpg',
                        title: 'Samantha Jones',
                    },
                    {
                        img: 'images/6.jpg',
                        title: 'Samantha Jones',
                    },
                    {
                        img: 'images/7.jpg',
                        title: 'Samantha Jones',
                    },
                    {
                        img: 'images/2.jpg',
                        title: 'Samantha Jones',
                    }
                ],
                msnry: null,
            }
        },

        mounted() {
            let grid = document.querySelector('.recommended .grid');
            this.msnry = new Masonry(grid, {
                itemSelector: '.block',
                columnWidth: '.block',
                gutter: 25,
                percentPosition: true,
                transitionDuration: 0
            });
            
        },

        methods: {
            imageProgress(instance, image ) {
                this.msnry.layout();
            },
        }
    }
</script>
<style scoped>
    .recommended .block { float: left; margin-bottom: 5px; width: calc(50% - 15px); opacity: 1; }
    .recommended .block img { width: 100%; height: auto; }
    .recommended { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 40px; }
    .recommended div.featured-wrapper { position: relative; }
    .recommended div.featured-wrapper div { background: rgba(0,0,0,0.65); border-bottom: 8px solid #FFC845; padding: 13px; position: absolute; bottom: 0; width: 100%; margin: 0px; }
    .recommended div.featured-wrapper div h4 { color: #FFC845; margin: 0px; }
    .recommended img { width: 100%; }
    .recommended .row { margin: 0px 0px; }
    .recommended div { margin: 5px 0px; }
    .recommended .item-wrapper { position: relative; }
    .recommended a:hover .item-overlay { opacity: 1; }
    .recommended .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .recommended .item-wrapper div { background: rgba(255,200,69,0.56); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; }
    
    @media only screen and (max-width: 767px) {
        .recommended .title { font-size: 34px !important; }
    }
</style>

