<template>
    <div class="runner-ups-section">
        <div class="header">
            <header class="widget-header">
                <h3 class="widget-title text-uppercase">Runner Ups</h3>
            </header>
        </div>
        <div class="row">
            <div class="col-12">
                <div v-if="loading" class="loading">
                    Loading... 
                </div>  
                <div v-if="runnerUps">
                    <div class="item" v-for="(runnerUp, index) in visibleItems" :key="index">
                        <a :href="runnerUp.link"><img :src="runnerUp.img" alt=""></a>
                        <div class="post-content">
                            <h4 class="post-title"><a :href="runnerUp.link">{{ runnerUp.name }}</a></h4>
                            <div>
                                <span class="kopa-rate">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                runnerUps: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    runnerUps: [
                        {
                            img: 'images/3.png',
                            link: '#',
                            name: 'Bella Fox'
                        },
                        {
                            img: 'images/3.png',
                            link: '#',
                            name: 'Bella Fox'
                        },
                        {
                            img: 'images/3.png',
                            link: '#',
                            name: 'Bella Fox'
                        },
                        {
                            img: 'images/3.png',
                            link: '#',
                            name: 'Bella Fox'
                        },
                    ]
                }
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.runnerUps = magazineData.runnerUps;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.runnerUps.length > 25) ? 25 : this.runnerUps.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.runnerUps.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>