<template>
   <div class="sales-history-wrapper">
        <div class="section-banner">
            <h2 class="title">Sales History</h2>
            <p>See the complete listing of your Sales History</p>
        </div>
        <div class="content-wrapper">
            <div class="section-content show-content">
                <div class="row">
                    <div class="col-md-12">
                      <div>
                        <!-- Modal -->
                        <div id="salesHistoryDetailsModal" class="modal fade" role="dialog">
                          <div class="modal-dialog modal-dialog-centered">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-body">
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="modal-title">
                                      <h3>Sale Details</h3>
                                    </div>
                                    <div class="modal-details">
                                      <div class="group">
                                        <p>User:</p>
                                        <p><i class="fas fa-user"></i>  <span class="user-name"></span></p>
                                      </div>
                                      <div class="group">
                                        <p>Date:</p>
                                        <p><span class="date"></span></p>
                                      </div>
                                      <div class="group">
                                        <p>Time:</p>
                                        <p><span class="time"></span></p>
                                      </div>
                                      <div class="group">
                                        <p>Title:</p>
                                        <p><span class="title"></span></p>
                                      </div>
                                      <div class="group">
                                        <p>Type:</p>
                                        <p><span class="type"></span></p>
                                      </div>
                                      <div class="group">
                                        <p>Sale:</p>
                                        <p><span class="sale"></span></p>
                                      </div>
                                      <div class="group">
                                        <p>Gross:</p>
                                        <p><span class="gross"></span></p>
                                      </div>
                                      <div class="group">
                                        <p>Fee:</p>
                                        <p><span class="fee"></span></p>
                                      </div>
                                      <div class="group">
                                        <p>Commission:</p>
                                        <p><span class="commission"></span></p>
                                      </div>
                                      <div class="group">
                                        <p>MyNet:</p>
                                        <p><span class="mynet"></span></p>
                                      </div>
                                    </div>
                                    <div class="modal-actions">
                                      <a href="" data-dismiss="modal" class="btn">Close</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <el-table
                          :data="salesHistoryData"
                          stripe
                          @row-click="viewInfo"
                          style="width: 100%">
                          <el-table-column
                            prop="date"
                            label="Date">
                          </el-table-column>
                          <el-table-column
                            prop="title"
                            label="Title">
                          </el-table-column>
                          <el-table-column
                            prop="gross"
                            label="Gross">
                          </el-table-column>
                          <el-table-column
                            prop="fee"
                            label="Fee">
                          </el-table-column>
                          <el-table-column
                            prop="commission"
                            label="Comission">
                          </el-table-column>
                          <el-table-column
                            prop="mynet"
                            label="MyNet">
                          </el-table-column>
                        </el-table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse">Collapse <i class="fas fa-angle-up"></i></a>
            </div>
        </div>
   </div>
</template>

<script>
import Masonry from "masonry-layout";
import imagesLoaded from 'vue-images-loaded'
    export default {
        directives: {
            imagesLoaded
        },
        data: () => {
            return {
              salesHistoryData: [{
                  user: 'John Smith',
                  time: '7:30 PM',
                  type: 'Post',
                  sale: 'Subscription',
                  date: 'May 1, 2020',
                  title: 'Swim Suit Shoot',
                  gross: '$15.00',
                  fee: '$15.00',
                  commission: '$15.00',
                  mynet: '$15.00'
                }, {
                  user: 'John Doe',
                  time: '7:30 PM',
                  type: 'Post',
                  Sale: 'Subscription',
                  date: 'May 1, 2020',
                  title: 'Swim Suit Shoot',
                  gross: '$15.00',
                  fee: '$15.00',
                  commission: '$15.00',
                  mynet: '$15.00'
                }, {
                  user: 'John Wall',
                  time: '7:30 PM',
                  type: 'Post',
                  Sale: 'Subscription',
                  date: 'May 1, 2020',
                  title: 'Swim Suit Shoot',
                  gross: '$15.00',
                  fee: '$15.00',
                  commission: '$15.00',
                  mynet: '$15.00'
                }, {
                  user: 'John Day',
                  time: '7:30 PM',
                  type: 'Post',
                  Sale: 'Subscription',
                  date: 'May 1, 2020',
                  title: 'Swim Suit Shoot',
                  gross: '$15.00',
                  fee: '$15.00',
                  commission: '$15.00',
                  mynet: '$15.00'
              }]
            }
        },

        mounted() {
            
        },

        methods: {
          viewInfo(row, event, column) {
            var selected = this.salesHistoryData[this.salesHistoryData.indexOf(row)];
            console.log(selected)
            $("#salesHistoryDetailsModal").modal('show');
            $("#salesHistoryDetailsModal .user-name").text(selected.user)
            $("#salesHistoryDetailsModal .date").text(selected.date)
            $("#salesHistoryDetailsModal .time").text(selected.time)
            $("#salesHistoryDetailsModal .title").text(selected.title)
            $("#salesHistoryDetailsModal .type").text(selected.type)
            $("#salesHistoryDetailsModal .sale").text(selected.sale)
            $("#salesHistoryDetailsModal .gross").text(selected.gross)
            $("#salesHistoryDetailsModal .fee").text(selected.fee)
            $("#salesHistoryDetailsModal .commission").text(selected.commission)
            $("#salesHistoryDetailsModal .mynet").text(selected.mynet)
          },
          collapse() {
              if($(".sales-history-wrapper .section-content").hasClass("hide-content")) {
                  $(".sales-history-wrapper .content-wrapper .btn-collapse a").html("Collapse <i class='fas fa-angle-up'></i>");
                  $(".sales-history-wrapper .section-content").removeClass('hide-content')
                  $(".sales-history-wrapper .section-content").addClass('show-content')
                  $(".sales-history-wrapper .section-content").slideToggle();
              } else {
                  $(".sales-history-wrapper .content-wrapper .btn-collapse a").html("Expand <i class='fas fa-angle-down'></i>");
                  $(".sales-history-wrapper .section-content").removeClass('show-content')
                  $(".sales-history-wrapper .section-content").addClass('hide-content')
                  $(".sales-history-wrapper .section-content").addClass('active')
                      $('html,body').animate({
                          scrollTop: $(".sales-history-wrapper .section-content.active").offset().top - 250
                      }, 1500);
                  $(".sales-history-wrapper .section-content").slideToggle();
                  $(".sales-history-wrapper .section-content").removeClass('active')
              }
          }
        }
    }
</script>
<style scoped>
    #salesHistoryDetailsModal .modal-title h3 {
      padding-bottom: 5px;
      color: #272727;
      border-bottom: 3px solid #FFC845;
      margin-bottom: 12px;
      display: inline-block;
    }
    #salesHistoryDetailsModal .modal-details { padding: 15px 50px; }
    #salesHistoryDetailsModal .modal-details .group {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #salesHistoryDetailsModal .modal-details .group p span {
      color: #272727;
      font-weight: bold;
      font-family: "Segoe UI";
    }
    #salesHistoryDetailsModal .modal-actions { text-align: center; }
    #salesHistoryDetailsModal .modal-actions a {
      background-color: #FFC845;
      color: #272727;
      padding: 8px 40px;
      display: inline-block;
      border-radius: 5px;
      text-align: center;
      font-weight: 400;
      font-family: "Oswald";
      text-align: center;
    }
    .table-striped tbody tr:nth-of-type(odd) { background-color: #FFC845; }
    html body .paginate_button.current, html body .paginate_button.current:hover { background: none !important; background-color: #FFC845 !important; } 
    .barcontainer {
      position: relative;
      border-radius: 5px 5px 0 0;
      width: 100%;
      margin: 0 auto;
      min-height: 25vw;
      max-height: 50vw;
      min-width: 100%;
      max-width: 100%;
      z-index: 1;
      margin-bottom: 16px;
    }

    .barcontainerheader {
      position: relative;
      border-radius: 5px 5px 0 0;
      width: 100%;
      margin: 0 auto;
      min-height: 25vw;
      max-height: 50vw;
      min-width: 100%;
      margin: 0 auto;
      max-width: 100%;
      z-index: 1;
    }

    .bar {
      position: absolute;
      display: inline-block;
      bottom: 0;
      border-radius: 5px;
      background: #FFC845;
      width: 12%;
      text-align: center;
      color: white;
    }

    .barlabel {
      position: absolute;
      background: #fff;
      bottom: 0;
      width: 100%;
      color: #000;
    }

    .bar:nth-child(2) {
    left: 15%;
    }

    .bar:nth-child(3) {
    left: 30%;
    }

    .bar:nth-child(4) {
    left: 45%;
    }

    .bar:nth-child(5) {
    left: 60%;
    }

    .bar:nth-child(6) {
    left: 75%;
    }

    .bar:nth-child(7) {
    left: 90%;
    }
    .sales-history-wrapper .breakdown .group { display: flex; justify-content: space-between; align-items: center; }
    .sales-history-wrapper .breakdown .group .price { font-size: 15px; line-height: 13px; color: #272727; font-weight: 400; font-family: "Oswald"; text-align: right; }
    .sales-history-wrapper .breakdown-graph { display: flex; align-items: flex-end; }
    .sales-history-wrapper .block { float: left; margin-bottom: 25px; width: calc(33.33% - 17px); opacity: 1; }
    .sales-history-wrapper .block img { width: 100%; height: auto; }
    .sales-history-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .sales-history-wrapper .section-banner { margin-bottom: 40px; }
    .sales-history-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .sales-history-wrapper .section-banner img { width: 15%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .sales-history-wrapper .content-wrapper .row { padding:0px 15px; }
    .sales-history-wrapper .content-wrapper .col-4 div { display: flex; flex-direction: column; text-align: center; margin: 10px 0px; }
    .sales-history-wrapper .content-wrapper .grid .block:nth-child(1) { box-shadow: 0px 1px 10px #000; }
    .sales-history-wrapper .content-wrapper img { width: 100%; height: auto; }
    .sales-history-wrapper .content-wrapper .item-wrapper { position: relative; }
    .sales-history-wrapper .content-wrapper .item-wrapper .set-featured { position: absolute; top: 3px; right: 3px; font-size: 20px; z-index: 3; }
    .sales-history-wrapper .content-wrapper .item-wrapper .set-featured i { color: #727272; }
    .sales-history-wrapper .content-wrapper .item-wrapper .set-featured i::before { transform: scale(-1); }
    .sales-history-wrapper .content-wrapper .block.featured .item-wrapper .set-featured i { color: #FFC845; }
    .sales-history-wrapper .content-wrapper a:hover .item-overlay { opacity: 1; }
    .sales-history-wrapper .content-wrapper .item-wrapper .item-overlay { transition: .5s ease; opacity: 0; }
    .sales-history-wrapper .content-wrapper .block:first-child .item-wrapper div { background: rgba(255,200,69,1); }
    .sales-history-wrapper .content-wrapper .block:first-child .set-featured { display: none; }
    .sales-history-wrapper .content-wrapper .item-wrapper div { background: rgba(255,200,69,0.79); text-align: center; position: absolute; width: 100%; bottom: 0; height: 100%; margin: 0px; display: flex; align-items: center; justify-content: center; padding: 25px; }
    .sales-history-wrapper .content-wrapper .item-wrapper div p { margin: 0px; color: #fff; }
    .more-less a { background: #FFC845; padding: 9px 66px; color: #272727; border-radius: 5px; width: 48%; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a { color: #727272; }

    @media only screen and (max-width: 767px) {
        .sales-history-wrapper { margin: 40px 0px; }
        .sales-history-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .sales-history-wrapper .section-banner img { display: none; }
        .sales-history-wrapper .section-banner { margin-bottom: 30px; }
    }
    @media only screen and (max-width: 600px) {
        .sales-history-wrapper .block { float: left; margin-bottom: 25px; width: calc(50% - 17px); opacity: 1; }
        .more-less a { padding: 12px 0px; }
    }
    
</style>

