<template>
   <div class="sales-chart">
        <h2 class="title">Sales Chart</h2>
        <div class="promotions">
            <p class="description">Below you can see how your sales match up against the site's global average. This is a agreat way to see what areas you are doing well in and where you can focus on to grow.</p>
            <canvas id="salesChart" width="300" height="300"></canvas>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: {
            
        },
        mounted: function () {
            setTimeout(() => {
                var ctx = document.getElementById("salesChart");
                var salesChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Subscriptions', 'Videos', 'Image Sets', 'Tips'],
                    datasets: [{
                    label: '# of Tomatoes',
                    data: [12, 19, 3, 5],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                    }]
                },
                options: {
                    //cutoutPercentage: 40,
                    responsive: true,

                }
});
            }, 1500);
        }
    }
</script>
<style scoped>
    .sales-chart { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 40px; }
    .sales-chart .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; }
    .sales-chart .promotions .description { color: #272727; font-weight: 300; font-family: "Segoe UI"; margin-bottom: 15px }
    .sales-chart .promotions .btn-wrapper { margin: 0 auto; text-align: center; }
    .sales-chart .promotions .button { background-color: #FFC845; color: #272727; padding: 12px 28px; display: inline-block; border-radius: 5px; text-align: center; font-weight: bold; }
    @media only screen and (max-width: 1199px) {
        .sales-chart .title { width: fit-content; margin: 12px 0px; }
    }
    @media only screen and (max-width: 767px) {
        .sales-chart { margin: 40px 0px; }
        .sales-chart .title { font-size: 34px !important; }
    }
</style>

