<template>
    <div>
        <h1 class="page-title text-uppercase">My settings</h1>
        <v-app id="inspire">
            <v-tabs
                grow
                color="#272727"
            >
                <v-tab><i class="fas fa-user" style="font-size:20px;"></i></v-tab>
                <v-tab><i class="fas fa-image" style="font-size:20px;"></i></v-tab>
                <v-tab><i class="fas fa-bell" style="font-size:20px;"></i></v-tab>

                <v-tab-item>
                    <informationprvicacy></informationprvicacy>
                    <memberverification></memberverification>
                    <publicinfo></publicinfo>
                    <accountsettings></accountsettings>
                </v-tab-item>
                <v-tab-item>
                    <payaccount></payaccount>
                    <paymentcard></paymentcard>
                </v-tab-item>
                <v-tab-item>
                    <notifmessaging></notifmessaging>
                </v-tab-item>
            </v-tabs>
        </v-app>
    </div>
</template>

<script>
    // import Promotions from './Promotions.vue';
    export default {
        
        data: () => {
            return {
                
            }
        },

        mounted() {
            $("#inspire .v-tabs-slider-wrapper").css("color", "#FFC845 !important")
        },

        methods: {
         
        }
    }
</script>
<style scoped>
   
</style>

