<template>
    <div class="staff-picks-section">
        <div class="header">
            <header class="widget-header">
                <h3 class="widget-title text-uppercase">Staff PIcks to Follow</h3>
            </header>
        </div>
        <div class="row">
            <div class="col-12">
                 <div v-if="loading" class="loading">
                    Loading... 
                </div>
                <div v-if="visibleItems">  
                    <a :href="pick.link" v-for="(pick, index) in visibleItems"  :key="index">
                        <div class="item" v-bind:style="{ 'background-image': 'url(' + pick.img + ')' }">
                            <div class="post-content">
                                <h4 class="post-title">{{ pick.name }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data () {
            return {
                loading: false,
                picks: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    picks: [
                        {
                            img: 'http://localhost/modelpostmagazine/images/3.png',
                            link: '#',
                            name: 'Jessica Smith',
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/3.png',
                            link: '#',
                            name: 'Jessica Smith',
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/3.png',
                            link: '#',
                            name: 'Jessica Smith',
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/3.png',
                            link: '#',
                            name: 'Jessica Smith',
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/3.png',
                            link: '#',
                            name: 'Jessica Smith',
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/3.png',
                            link: '#',
                            name: 'Jessica Smith',
                        },
                    ]
                }
            }
        },
        mounted: function () {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },
        methods: {
           LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.picks = magazineData.picks;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.picks.length > 25) ? 25 : this.picks.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.picks.slice(0, this.totalItemsToShow);  //copy objects to array used in control
				this.loading = false; // loading data finished, stop showing loading dialog
			}
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>