<template>
    <div class="top-tippers">
        <h3 class="title">Top Tippers</h3>
        <div v-if="loading" class="loading">
            Loading... 
        </div>
        <div class="tippers" v-for="(tipper, index) in visibleItems" :key="index">
            <h4>#{{ tipper.id }}</h4>
            <h6>{{ tipper.name }}</h6>
            <h6>{{ tipper.time }}</h6>
            <h6>{{ tipper.tip }}</h6>
        </div>
        <div class="btn-view-all">
            <a href="#">View All</a>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                tippers: null,
                visibleItems: null,
                magazineDataSample: {
                    tippers: [
                        {
                            id: '1',
                            name: 'John',
                            time: '6:30 pm',
                            tip: '$100'
                        },
                        {
                            id: '2',
                            name: 'Charlie',
                            time: '6:30 pm',
                            tip: '$100'
                        },
                        {
                            id: '3',
                            name: 'James',
                            time: '6:30 pm',
                            tip: '$100'
                        },
                        {
                            id: '4',
                            name: 'Mark',
                            time: '6:30 pm',
                            tip: '$100'
                        },
                    ]
                }
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.tippers = magazineData.tippers;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.tippers.length > 25) ? 25 : this.tippers.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.tippers.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog
            }
        }
    }
</script>
<style scoped>
    .top-tippers {
        box-shadow: 0px 1px 10px #ccc;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .top-tippers .title {
        display: inline-block;
        border-bottom: 3px solid #ffc845;
    }
    .top-tippers .tippers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }
    .top-tippers .tippers > * {
        margin-bottom: 0px;
    }
    .top-tippers .tippers a {
        background: #FFC845;
        padding: 4px 10px;
        color: #272727;
        border-radius: 5px;
        font-family: "Oswald";
    }
    .top-tippers .btn-view-all {
        text-align: right;
    }
    .top-tippers .btn-view-all a {
        background: #FFC845;
        padding: 4px 10px;
        color: #272727;
        border-radius: 5px;
        font-family: "Oswald";
    }
</style>