<template>
    <div class="streaming-live">
        <div class="video">
            <div class="participant main">
                <video id="video" autoplay playsinline muted></video>
            </div>
            <div class="live-text" v-if="isLive">
                <p>LIVE</p>
            </div>
            <div class="live-time" v-if="isLive">
                <p>eye Viewers: 3,201 Live for: 00:05:23</p>
            </div>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    export default {
        
        props: ['roomname', 'username'],
        data: () => {
            return {
                isLive: false,
                streamTime: null,
                time: {
                    hours: '00',
                    minutes: '00',
                    seconds: '00'
                },
                hours: 0,
                minutes: 0,
                seconds: 0,
                timer: null,
                video: null,
                canvas: null,
                canvasContainer: null,
                stream: {
                    Video: null,
                    videoRoom: null,
                    screenTrack: null,
                    memberLocalTracks: null,
                    memberParticipant: null
                },
                streamSetup: {}
            }
        },

        created() {
        },

        computed: {
            
        },

        mounted() {
            this.startLive();
        },

        methods: {
            sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            },
            startLive() {
                this.streamSetup.room_name = this.roomname;
                this.streamSetup.username = this.username;  // remove this later

                this.isLive = true;

                // Start Video
                this.video = document.getElementById("video");

                axios.post( `${baseUrl}/api/grant-video`, this.streamSetup).then(({ data }) => {
                    // wait 1 second so Twilio.Video will be available
                    this.sleep(1000).then(() => {
                        this.stream.Video = Twilio.Video;
                        this.stream.Video.connect(data, { name: this.streamSetup.room_name }).then((room) => {
                            this.stream.videoRoom = room;
                            console.log(room);

                            // set the identity of the member
                            $('.participant.main').attr('data-identity', 'Model1');

                            // start live
                            this.isLive = true;

                            // // set time on live
                            // // this.setTimer();

                            let that = this;
                            // Subscribe to the media published by member
                            var i = 0;
                            room.participants.forEach(participant => {
                                if(i == 0) {
                                    if(participant.identity == 'Model1') {
                                        console.log("participant =============")
                                        console.log(participant)
                                        console.log("participant =============")
                                        that.stream.memberLocalTracks = participant.tracks;
                                        that.stream.memberParticipant = participant;
                                        that.participantConnected(participant);
                                    } else {
                                        Swal.fire({
                                            icon: 'warning',
                                            title: 'Oops...',
                                            text: 'The member is not live.'
                                        });
                                    }
                                    i++;
                                }
                                return;
                            });

                            // // Subscribe to the media published by RemoteParticipants joining the Room later.
                            // room.on('participantConnected', participant => {
                            //     console.log("==============================")
                            //     console.log("room.on('participantConnected') => ", participant)
                            //     console.log("==============================")
                            //     // that.participantConnected(participant, room);
                            // });
                            
                            // // Handle the disconnected RemoteParticipants.
                            // room.on('disconnected', (room, error) => {
                            //     console.log("==============================")
                            //     console.log("room.once('disconnected') => ")
                            //     room.participants.forEach(participant => {
                            //         that.participantDisconnected(participant, room);
                            //     });
                            //     console.log("==============================")
                            // });

                            // document.onvisibilitychange = async () => {
                            //     console.log("onvisibilitychange ==== ")
                            // };
                        });
                    });
                }).catch(error => {
                    console.log(error);
                })
            },
            participantConnected(participant, room) {
                console.log(`Participant ${participant.identity} connected'`);
                let that = this;
                // Handle the TrackPublications already published by the Participant.
                participant.tracks.forEach(publication => {
                    console.log("Handle the TrackPublications already published by the Participant.")
                    console.log(publication);
                    console.log("Handle the TrackPublications already published by the Participant.")
                    that.trackPublished(publication, participant);
                });

                // Handle theTrackPublications that will be published by the Participant later.
                participant.on('trackPublished', publication => {
                    console.log("Handle theTrackPublications that will be published by the Participant later.")
                    console.log(publication);
                    console.log("Handle theTrackPublications that will be published by the Participant later.")
                    that.trackPublished(publication, participant);
                    if(publication.kind == 'video') {
                        that.stream.screenTrack = publication.track;
                    }
                });
            },
            participantDisconnected(participant, room) {
                console.log("participantDisconnected ============= ");
                console.log(`Participant ${participant.identity} disconnected.`);
                console.log(participant);
                console.log("participantDisconnected ============= ");
            },
            trackPublished(publication, participant) {
                // If the TrackPublication is already subscribed to, then attach the Track to the DOM.
                if (publication.track) {
                    console.log("If the TrackPublication is already subscribed to");
                    console.log(participant);
                    console.log("If the TrackPublication is already subscribed to");
                    this.attachTrack(publication.track, participant);
                }

                let that = this;
                // Once the TrackPublication is subscribed to, attach the Track to the DOM.
                publication.on('subscribed', track => {
                    console.log("Once the TrackPublication is subscribed to ===== ");
                    console.log(track);
                    console.log(participant);
                    console.log("Once the TrackPublication is subscribed to ===== ");
                    that.attachTrack(track, participant);
                });
                
                // Once the TrackPublication is unsubscribed from, detach the Track from the DOM.
                publication.on('unsubscribed', track => {
                    console.log("Once the TrackPublication is unsubscribed from ===== ");
                    console.log(track);
                    console.log(participant);
                    console.log("Once the TrackPublication is unsubscribed from ===== ");
                    that.detachTrack(track, participant);
                });
            },
            getTracks(participant) {
                return Array.from(participant.tracks.values()).filter(function(publication) {
                    return publication.track;
                }).map(function(publication) {
                    return publication.track;
                });
            },
            attachTrack(track, participant) {
                if (track.kind === 'video' || track.kind === 'audio') {
                    console.log("attachTrack ====== ");
                    console.log(track);
                    console.log("attachTrack ====== ");
                    track.attach($(this.video).get(0));
                }
            },
            detachTrack(track, participant) {
                let that = this;
                console.log(" ===== detachTrack ===== ")
                console.log(track)
                console.log(" ===== detachTrack ===== ")
                // detach members video including screen share
                this.getTracks(participant).forEach(function(track) {
                    if (track.kind === 'video') {
                        track.detach($(that.video).get(0));
                    }
                });
                // bring back the member's camera video
                this.getTracks(that.stream.memberParticipant).forEach(function(track) {
                    if (track.kind === 'video') {
                        track.attach($(that.video).get(0));
                    }
                });
            }
        }
    }
</script>
<style scoped>
    .streaming-live { margin-bottom: 30px; }
    .streaming-live #video {
        width: 100%;
    }
    .streaming-live .video {
        position: relative;
    }
    .streaming-live .video img {
        width: 100%;
        height: auto;
    }
    .streaming-live .video .live-text p {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Oswald";
        text-align: center;
        background-color: #ff5151;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 3px 12px;
    }
    .streaming-live .video .live-time p {
        font-size: 16px;
        line-height: 26px;
        color: #272727;
        font-weight: 300;
        font-family: "Segoe UI";
        text-align: right;
        margin-top: 10px;
    }
</style>