<template>
    <div class="streaming-live">
        <div class="video">
            <div class="participant main">
                <video id="video" autoplay playsinline muted></video>
            </div>
            <div class="card video-snapshot hide">
                <div class="card-block">
                    <canvas id="snapshot" width="1280" height="720"></canvas>
                </div>
            </div>
            <div class="live-text" v-if="isLive">
                <p>LIVE</p>
            </div>
            <div class="live-time" v-if="isLive">
                <p>Live for:
                    <strong class="hours">{{ time.hours }}</strong>
                    <span class="hour-separator">:</span>
                    <strong class="minutes">{{ time.minutes }}</strong>
                    <span class="minute-separator">:</span>
                    <strong class="seconds">{{ time.seconds }}</strong>
                </p>
            </div>
        </div>
        <div class="video-btns">
            <button class="btn" type="button" v-if="!isLive" @click="startStream"><i class="fas fa-video"></i> Start Stream</button>
            <button class="btn" type="button" v-if="isLive" @click="stopStream"><i class="fas fa-video-slash"></i> End Stream</button>
            <button class="btn" type="button" v-if="!isSharing" @click="startSharing" :disabled="!isLive"><i class="fas fa-arrow-circle-up"></i> Share Screen</button>
            <button class="btn" type="button" v-if="isSharing" @click="stopSharing"><i class="fas fa-arrow-circle-up"></i> Stop Sharing</button>
            <button class="btn" type="button" @click="takeSnapShot" :disabled="!isLive"><i class="fas fa-camera"></i> Take Snapshot</button>
            <button class="btn" type="button" v-if="!isMuted" @click="muteAudio" :disabled="!isLive"><i class="fas fa-volume-up"></i> Mute Audio</button>
            <button class="btn" type="button" v-if="isMuted" @click="unmuteAudio"><i class="fas fa-volume-mute"></i> Unmute Audio</button>
        </div>
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import moment from 'moment';

    export default {
        
        data: () => {
            return {
                isLive: false,
                isSharing: false,
                isMuted: false,
                streamTime: null,
                time: {
                    hours: '00',
                    minutes: '00',
                    seconds: '00'
                },
                hours: 0,
                minutes: 0,
                seconds: 0,
                timer: null,
                video: null,
                canvas: null,
                canvasContainer: null,
                stream: {
                    Video: null,
                    videoRoom: null,
                    screenTrack: null,
                    userlocalTracks: null,
                    localDataTrack: null,
                    localParticipant: null
                },
                streamSetup: null,
                takeSnapshot: false
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
        },

        methods: {
            startStream() {
                this.$emit('getStreamSetup', '');
                // var that = this;
                // setInterval(function(){
                //      that.streamTime
                // }, 1000);
            },
            startLive(streamSetup) {
                if(streamSetup.room_name == '') {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Oops...',
                        text: 'Enter room title on the stream setup.'
                    });
                    console.log('Enter room title on the stream setup.')
                } else {
                    this.streamSetup = streamSetup;
                    this.streamSetup.username = "Model1";  // remove this later

                    // Start Video
                    this.video = document.getElementById("video");
                    navigator.mediaDevices.getUserMedia({ video: true, audio: true}).then(stream => {
                        console.log("stream ===================");
                        console.log(stream);
                        console.log("stream ===================");
                        this.video.srcObject = stream;

                        axios.post( `${baseUrl}/api/grant-video`, streamSetup).then(({ data }) => {
                            console.log(data)

                            this.stream.Video = Twilio.Video;
                            this.stream.localDataTrack = new this.stream.Video.LocalDataTrack({
                                name: 'chat',
                            });
                            this.stream.Video.createLocalTracks({
                                audio: true,
                                video: true,
                            }).then(localTracks => {
                                console.log(localTracks)
                                this.stream.userlocalTracks = localTracks;
                                this.stream.userlocalTracks.push(this.stream.localDataTrack);
                                this.stream.Video.connect(data, { name: streamSetup.room_name, dominantSpeaker: true, tracks: this.stream.userlocalTracks }).then((room) => {
                                    console.log(room);
                                    console.log("this.stream.userlocalTracks ====== ");
                                    console.log(this.stream.userlocalTracks);
                                    console.log("this.stream.userlocalTracks ====== ");
                                    console.log(`Connected to Room ${room.name}`);
                                    console.log(`Connected to participants`, room.participants);
                                    this.stream.videoRoom = room;
                                    this.stream.localParticipant = room.localParticipant;

                                    // set the identity of the member
                                    $('.participant.main').attr('data-identity', room.localParticipant.identity);

                                    // start live
                                    this.isLive = true;

                                    // set time on live
                                    this.setTimer();

                                    // Handle the TrackPublications that will be published by the Participant later.
                                    this.participantConnected(room.localParticipant, room);

                                    let that = this;
                                    // Subscribe to the media published by RemoteParticipants joining the Room later.
                                    room.on('participantConnected', participant => {
                                        console.log("==============================")
                                        console.log("room.on('participantConnected') => ", participant)
                                        console.log("==============================")
                                    });
                                
                                    // Handle the disconnected RemoteParticipants.
                                    room.once('disconnected', (room, error) => {
                                        console.log("==============================")
                                        console.log("room.once('disconnected') => ")
                                        
                                        that.participantDisconnected(room.localParticipant, room);

                                        room.participants.forEach(participant => {
                                            that.participantDisconnected(participant, room);
                                        });
                                        console.log("==============================")
                                    });
                                });
                            });
                        }).catch(error => {
                            console.log(error);
                        })
                    })
                }
            },
            participantConnected(participant, room) {
                // Handle theTrackPublications that will be published by the Participant later.
                participant.on('trackPublished', publication => {
                    // trackPublished(publication, participant);
                    console.log("publish", publication)
                    this.trackPublished(publication, participant);
                });
            },
            participantDisconnected(participant, room) {
                var tracks = Array.from(participant.tracks.values());
                console.log(`Participant ${participant.identity} disconnected.`);
            },
            trackPublished(publication, participant) {
                // If the TrackPublication is already subscribed to, then attach the Track to the DOM.
                if (publication.track) {
                    console.log("If the TrackPublication is already subscribed to");
                    this.attachTrack(publication.track, participant);
                }
                // Once the TrackPublication is subscribed to, attach the Track to the DOM.
                publication.on('subscribed', track => {
                    console.log("Once the TrackPublication is subscribed to");
                    this.attachTrack(track, participant);
                });
                
                // Once the TrackPublication is unsubscribed from, detach the Track from the DOM.
                publication.on('unsubscribed', track => {
                    console.log("Once the TrackPublication is unsubscribed from");
                    this.detachTrack(track, participant);
                });
            },
            attachTrack(track, participant) {
                console.log(track.kind);
                console.log($(this.video));
                console.log($(this.video).get(0));
                if (track.kind === 'video') {
                    track.attach($(this.video).get(0));
                }
            },
            detachTrack(track, participant) {
                console.log(track.kind);
                if (track.kind === 'video') {
                    track.detach($(this.video).get(0));
                }
            },
            setTimer() {
                this.timer = setTimeout(this.addTime, 1000);
            },
            addTime() {
                this.seconds++;
                if (this.seconds >= 60) {
                    this.seconds = 0;
                    this.minutes++;
                    if (this.minutes >= 60) {
                        this.minutes = 0;
                        this.hours++;
                    }
                }
                this.time.hours = this.formatTimer(this.hours);
                this.time.minutes = this.formatTimer(this.minutes);
                this.time.seconds = this.formatTimer(this.seconds);
                this.setTimer();
            },
            formatTimer(time) {
                if (time < 10) {
                    time = '0' + time;
                }
                return time;
            },
            stopStream() {
                this.isLive = false;
                if(this.video.srcObject) {
                    this.video.srcObject.getTracks().forEach(function(track) {
                        console.log(track);
                        track.stop();
                    });
                    this.stream.userlocalTracks.forEach(function(track) {
                        console.log(track)
                        if(track.kind == 'video' || track.kind == 'audio') {
                            track.stop();
                        }
                    })
                    this.video.srcObject = null;
                    $('.participant.main').removeAttr('data-identity');
                    clearInterval(this.timer);
                    this.hours = 0;
                    this.minutes = 0;
                    this.seconds = 0;
                    this.time = {
                        hours: '00',
                        minutes: '00',
                        seconds: '00'
                    }
                    this.stream.videoRoom.disconnect();
                }
            },
            startSharing() {
                if (typeof navigator === 'undefined' || !navigator.mediaDevices || !navigator.mediaDevices.getDisplayMedia) {
                    return Promise.reject(new Error('getDisplayMedia is not supported'));
                }
                navigator.mediaDevices.getDisplayMedia({
                    video: {
                        height: 720,
                        width: 1280
                    }
                }).then((stream) => {
                    // Create and preview your local screen.
                    // this.stream.screenTrack = await this.createScreenTrack(720, 1280);
                    console.log("Sharing => ", stream.getVideoTracks()[0]);
                    this.stream.screenTrack = new Twilio.Video.LocalVideoTrack(stream.getVideoTracks()[0]);
                    console.log("======= screenTrack ======= ")
                    console.log(stream)
                    console.log(stream.getVideoTracks())
                    console.log(this.stream.screenTrack)
                    console.log("======= screenTrack ======= ")
                    // this.stream.screenTrack.attach($(this.video));
                    this.stream.videoRoom.localParticipant.publishTrack(this.stream.screenTrack);
                    this.isSharing = true;
                    // this.stream.screenTrack.attach(screenPreview);
                    // Show the "Capture Screen" button after screen capture stops.
                    this.stream.screenTrack.mediaStreamTrack.onended = () => { this.stopSharing(); };
                    this.stream.screenTrack.on('stopped', () => {
                        this.isSharing = false;
                    });
                }).catch((error) => {
                    console.log('createScreenTrack error => ', error)
                });
            },
            stopSharing() {
                this.isSharing = false;
                console.log("screenTrack stopSharing => ", this.stream.screenTrack);
                this.stream.videoRoom.localParticipant.unpublishTrack(this.stream.screenTrack);
                this.stream.videoRoom.participants.forEach(participant => {
                  console.log(Array.from(participant.videoTracks.values()));
                });
                console.log("STOP SHARING ========= ")
                // bring back the member's camera video
                let that = this;
                this.stream.userlocalTracks.forEach(function(track) {
                    console.log(track)
                    console.log(track.kind)
                    if(track.kind === 'video') {
                        console.log("PUBLISH TRACK")
                        console.log(track)
                        console.log("PUBLISH TRACK")
                        that.attachTrack(track, that.stream.localParticipant);
                        // that.stream.videoRoom.localParticipant.publishTrack(track);
                    }
                })
                console.log("STOP SHARING ========= ")
                // Stop capturing your screen.
                this.stream.screenTrack.stop();
                this.stream.screenTrack = null;
            },
            muteAudio() {
                const localUser = this.stream.videoRoom.localParticipant;
                let that = this;
                this.getTracks(localUser).forEach(function(track) {
                    if (track.kind === 'audio') {
                        track.disable();
                        that.isMuted = true;
                    }
                });
            },
            unmuteAudio() {
                const localUser = this.stream.videoRoom.localParticipant;
                let that = this;
                this.getTracks(localUser).forEach(function(track) {
                    if (track.kind === 'audio') {
                        track.enable();
                        that.isMuted = false;
                    }
                });
            },
            getTracks(participant) {
                return Array.from(participant.tracks.values()).filter(function(publication) {
                    return publication.track;
                }).map(function(publication) {
                    return publication.track;
                });
            },
            takeSnapShot() {
                this.canvas = document.querySelector('canvas#snapshot');
                this.canvasContainer = document.querySelector('div.video-snapshot');
                this.setCanvasSizeToVideo(this.canvas, video);
                this.takeLocalVideoSnapshot(this.canvas, video);
            },
            setCanvasSizeToVideo(canvas, video) {
                canvas.style.height = video.clientHeight + 'px';
            },
            takeLocalVideoSnapshot(canvas, video) {
                var context = canvas.getContext('2d');
                context.clearRect(0, 0, canvas.width, canvas.height);
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                var dataUrl = document.getElementById("snapshot").toDataURL('image/jpeg');
                this.canvasContainer.classList.remove("hide");

                var hrefElement = document.createElement('a');
                hrefElement.href = dataUrl;
                document.body.append(hrefElement);
                hrefElement.download = 'Screenshot_'+moment().valueOf()+'.jpeg';
                hrefElement.click();
                hrefElement.remove();
                let that = this;
                setTimeout(() => {
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    that.canvasContainer.classList.add("hide");
                }, 3000);
            }
        }
    }
</script>
<style scoped>
    .streaming-live { margin-bottom: 30px; }
    .streaming-live .video-snapshot { position: absolute; width: 100%; height: 100%; top: 0; }
    .streaming-live .video-snapshot .card-block { height: 100%; }
    .streaming-live .video-snapshot .card-block canvas { width: 100%; height: 100%; object-fit: cover; }
    .streaming-live #video {
        width: 100%;
    }
    .streaming-live .video {
        position: relative;
    }
    .streaming-live .video img {
        width: 100%;
        height: auto;
    }
    .streaming-live .video .live-text p {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Oswald";
        text-align: center;
        background-color: #ff5151;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 3px 12px;
    }
    .streaming-live .video .live-time p {
        font-size: 16px;
        line-height: 26px;
        color: #272727;
        font-weight: 300;
        font-family: "Segoe UI";
        text-align: right;
        margin-top: 10px;
    }
    .streaming-live .video-btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
    .streaming-live .video-btns button {
        font-size: 15px;
        font-family: "Oswald";
        padding: 6px 8px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .streaming-live .video-btns button i {
        font-size: 12px;
        margin-right: 4px;
    }
    .streaming-live .video-btns button:first-child {
        background-color: #f97676;
        color: #fff;
    }
    .streaming-live .video-btns button:nth-child(2) {
        background-color: limegreen;
        color: #fff;
    }
    .streaming-live .video-btns button:nth-child(3) {
        background-color: #3490dc;
        color: #fff;
    }
    .streaming-live .video-btns button:nth-child(4) {
        background-color: #ccc;
        color: #000;
    }
</style>