<template>
    <div>
        <h1 class="page-title text-uppercase">Broadcast-tower streaming</h1>
        <v-app id="inspire">
            <v-tabs
                grow
                color="#272727"
            >
                <v-tab><i class="fas fa-user" style="font-size:20px;"></i></v-tab>
                <v-tab><i class="fas fa-envelope" style="font-size:20px;"></i></v-tab>
                <v-tab><i class="fas fa-cog" style="font-size:20px;"></i></v-tab>

                <v-tab-item>
                    <streamlivestats></streamlivestats>
                    <streamtoptippers></streamtoptippers>
                    <streamblockedusers></streamblockedusers>
                </v-tab-item>
                <v-tab-item>
                   <streamprivatechat></streamprivatechat>
                   <streamchats></streamchats>
                </v-tab-item>
                <v-tab-item>
                    <streamsetup></streamsetup>
                </v-tab-item>
            </v-tabs>
        </v-app>
    </div>
</template>

<script>
    // import Promotions from './Promotions.vue';
    export default {
        
        data: () => {
            return {
                
            }
        },

        mounted() {
            $("#inspire .v-tabs-slider-wrapper").css("color", "#FFC845 !important")
        },

        methods: {
         
        }
    }
</script>
<style scoped>
   
</style>

