<template>
    <div>
        <div class="live-btn">
            <a href="#"><i class="fas fa-video"></i> Go Live</a>
        </div>
        <div class="stream-setup">
            <h3 class="title">Stream Setup</h3>
            <div class="group">
                <p>Title</p>
                <input type="text" v-model="streamSetup.room_name">
            </div>
            <div class="group">
                <p>Tip Goal</p>
                <input type="text" v-model="streamSetup.tip_goal">
            </div>
            <div class="group">
                <p>Subscribers only chat</p>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="group">
                <p>Show tips to viewers</p>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="group">
                <p>Show tip goal</p>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="btn-save-wrapper">
                <a href="#">Save</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                streamSetup: {
                    room_name: '',
                    tip_goal: ''
                }
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .stream-setup {
        box-shadow: 0px 1px 10px #ccc;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .stream-setup .title {
        display: inline-block;
        border-bottom: 3px solid #ffc845;
    }
    .stream-setup .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }
    .stream-setup .group input[type='text'] {
        box-shadow: 0px 1px 10px #ccc;
        padding: 6px 16px;
        border-radius: 10px;
    }
    .stream-setup .group p {
        margin-bottom: 0px;
    }
    .stream-setup .btn-save-wrapper {
        text-align: right;
    }
    .stream-setup .btn-save-wrapper a {
        background: #FFC845;
        padding: 6px 40px;
        color: #272727;
        border-radius: 5px;
        font-family: "Oswald";
    }
    .live-btn { 
        display: none; 
        margin-bottom: 30px;
    }
    .live-btn a { 
        background: #FFC845;
        padding: 10px 45px;
        color: #272727;
        border-radius: 5px;
        font-family: "Oswald";
        text-align: center;
    }
    @media only screen and (max-width: 767px) {
        .live-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .switch { position: relative; display: inline-block; width: 25px; height: 15px; }
    .switch input { opacity: 0; width: 0; height: 0; }
    .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
    .slider:before { position: absolute; content: ""; height: 16px; width: 16px; left: 1px; bottom: 0px; background-color: #272727; -webkit-transition: .4s; transition: .4s; }
    input:checked + .slider { background-color: #FFC845; }
    input:focus + .slider { box-shadow: 0 0 1px #FFC845; }
    input:checked + .slider:before { -webkit-transform: translateX(8px); -ms-transform: translateX(8px); transform: translateX(8px); }
    .slider.round { border-radius: 34px; }
    .slider.round:before { border-radius: 50%; }
</style>