<template>
    <div class="chats">
        <h3 class="title">Chat</h3>
        <div class="chat-messages">
            <div class="chat-block" v-for="(chat, index) in chats" :key="index">
                <h5>{{chat.username}}:</h5>
                <p>{{chat.message}}</p>
            </div>
        </div>
        <div class="chat-input">
            <input type="text" name="" id="" placeholder="Say Something ...">
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               chats: [
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quae.'
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. '
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, Quibusdam, quae.'
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor , adipisicing elit. Quibusdam, quae.'
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam'
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, quae.'
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. '
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, Quibusdam, quae.'
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor , adipisicing elit. Quibusdam, quae.'
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. '
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, Quibusdam, quae.'
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor , adipisicing elit. Quibusdam, quae.'
                    },
                    {
                        username: 'Sample User',
                        message: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam'
                    },
               ]
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .chats .title {
        display: none;
        border-bottom: 3px solid #ffc845;
        margin: 15px;
    }
    @media only screen and (max-width: 767px) {
        .chats .title { display: inline-block; }
    }
    .chats .chat-block {
        padding: 15px 15px 0px 15px;
        display: block;
    }
    .chats .chat-block h5, .chats .chat-block p {
       display: inline;
    }
    .chats .chat-input  {
        background-color: #272727;
        padding: 15px 20px;
        margin-top: 15px;
    }
    .chats .chat-input input {
        background-color: #fff;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
    }
    .chats .chat-messages {
        max-height: 70vh;
        overflow-y: scroll;
        height: 70vh;
    }
    @media only screen and (max-width: 767px) {
        .chats .chat-messages {
            max-height: 400px;
            overflow-y: scroll;
        }
    }
</style>