<template>
    <div class="main-content">
        <div class="header">
            <h2>Broadcast-tower streaming</h2>
            <a href="#"><i class="fas fa-ellipsis-h"></i></a>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-7">
                    <streamlivevideo ref="streamLiveVideo" @getStreamSetup="getStreamSetUp()"></streamlivevideo>
                    <div class="row">
                        <div class="col-md-6">
                            <streamlivestats></streamlivestats>
                        </div>
                        <div class="col-md-6">
                            <streamprivatechat></streamprivatechat>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <streamtoptippers></streamtoptippers>
                    <streamsetup ref="streamSetup"></streamsetup>
                    <streamblockedusers></streamblockedusers>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
               
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
            
        },

        methods: {
            getStreamSetUp() {
                this.$refs.streamLiveVideo.startLive(this.$refs.streamSetup.streamSetup);
            }
        }
    }
</script>
<style scoped>
    .main-content .header {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 1px 10px #ccc;
    }
    .main-content .header h2 {
        text-transform: uppercase;
        display: inline-block;
        border-bottom: 2px solid #ffc845;
    }
    .main-content .body {
        margin: 15px 20px;
    }
</style>