<template>
    <div class="blocked-users">
        <h3 class="title">Blocked Users</h3>
        <div v-if="loading" class="loading">
            Loading... 
        </div>
        <div class="group" v-for="(user, index) in visibleItems" :key="index">
            <h5>{{ user.name }}</h5>
            <a href="#">Unblock</a>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                users: null,
                visibleItems: null,
                magazineDataSample: {
                    users: [
                        {
                            name: 'John'
                        },
                        {
                            name: 'Alex'
                        },
                        {
                            name: 'Mark'
                        },
                        {
                            name: 'Sam'
                        },
                        {
                            name: 'Rick'
                        },
                    ]
                }
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.users = magazineData.users;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.users.length > 25) ? 25 : this.users.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.users.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog
            }
        }
    }
</script>
<style scoped>
    .blocked-users {
        box-shadow: 0px 1px 10px #ccc;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .blocked-users .title {
        display: inline-block;
        border-bottom: 3px solid #ffc845;
    }
    .blocked-users .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }
    .blocked-users .group * { margin: 0px; }
    .blocked-users .group a {
        background: #ccc;
        padding: 6px 40px;
        color: #272727;
        border-radius: 5px;
        font-family: "Oswald";
    }
    .loading { text-align: center; }
</style>