<template>
    <div class="sidebar">
        <div class="header">
            <h3>Chat</h3>
        </div>
        <streamchats></streamchats>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .sidebar {
        box-shadow: 0px 3px 12px 4px #ccc;
    }
    .sidebar .header {
        padding: 15px;
        border-bottom: 2px solid #ccc;
    }
    @media only screen and (max-width: 767px) {
        .sidebar .header {
            display: none;
        }
    }
</style>