<template>
    <div class="private-chat">
        <h3 class="title">Private Chat</h3>
        <div v-if="loading" class="loading">
            Loading... 
        </div>
        <div class="group"  v-for="(chat, index) in visibleItems" :key="index">
            <h6>{{ chat.name }}</h6>
            <div class="btn-actions">
                <a href="#">Block</a>
                <a href="#">Read</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                chats: null,
                visibleItems: null,
                magazineDataSample: {
                    chats: [
                        {
                            name: 'John'
                        },
                        {
                            name: 'Mark'
                        },
                        {
                            name: 'joseph'
                        },
                        {
                            name: 'Jason'
                        },
                    ]
                }
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.chats = magazineData.chats;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.chats.length > 25) ? 25 : this.chats.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.chats.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog
            }
        }
    }
</script>
<style scoped>
    .private-chat {
        box-shadow: 0px 1px 10px #ccc;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .private-chat p, .private-chat h4 { margin: 0px; }
    .private-chat .title {
        display: inline-block;
        border-bottom: 3px solid #ffc845;
    }
    .private-chat .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }
    .private-chat .group .btn-actions a:nth-child(1) { 
        background-color: #f97676;
        color: #fff;
        padding: 3px 12px;
        border-radius: 5px;
        margin: 0px 3px;
        font-family: "Oswald";
    }
    .private-chat .group .btn-actions a:nth-child(2) { 
        background-color: #ccc;
        color: #000;
        padding: 3px 12px;
        border-radius: 5px;
        margin: 0px 3px;
        font-family: "Oswald";
    }
    .loading { text-align: center; }
</style>