<template>
    <div class="main-content">
        <!-- Messenger Create List Modal -->
        <div class="modal fade" id="sub-tip-modal" tabindex="-1" role="dialog" aria-labelledby="sub-tip-modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="modal-heading">
                                        <h5>Tip</h5>
                                        <p>Enter the amount and leave a nice message for this artist :)</p>
                                    </div>
                                    <form>
                                        <div class="new-list-fields">
                                            <div class="input-group mb-3">
                                                <div class="search-user-wrapper">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                                                    </div>
                                                    <input type="number" placeholder="0.00" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                                </div>
                                                <textarea name="" id="" cols="30" rows="5" placeholder="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="submit-wrapper">
                                            <a href="#">Send Message and Tip</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="left-head">
                <img src="http://localhost/modelpostmagazine/images/1.jpg" alt="">
                <h2>Hello, I'm Live!</h2>
            </div>
            <a href="#"><i class="fas fa-ellipsis-h"></i></a>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-12">
                    <streamsublivevideo :roomname="roomname" :username="username"></streamsublivevideo>
                    <div class="row">
                        <div class="col-md-6">
                            <streamsubtoptippers></streamsubtoptippers>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-actions">
                                <a href="#"><i class="fas fa-envelope"></i> Message</a>
                                <a href="#"><i class="fas fa-money-bill-wave"></i> Subscribe</a>
                                <a href="#" data-toggle="modal" data-target="#sub-tip-modal"><i class="fas fa-coins"></i> Tip</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['roomname', 'username'],
        data: () => {
            return {
               
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
            
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    .main-content .header {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 1px 10px #ccc;
    }
    .main-content .header .left-head {
        display: flex;
        align-items: center;
    }
    .main-content .header .left-head img {
        width: 50px;
        border-radius: 50%;
        border: 3px solid #ffc845;
        margin-right: 15px;
    }
    .main-content .header h2 {
        text-transform: uppercase;
        display: inline-block;
        border-bottom: 2px solid #ffc845;
    }
    .main-content .body {
        margin: 15px 20px;
    }
    .main-content .body .btn-actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .main-content .body .btn-actions a {
        background: #FFC845;
        padding: 8px 20px;
        color: #272727;
        border-radius: 5px;
        font-family: "Oswald";
        margin: 0px 5px;
    }
    .main-content #sub-tip-modal .modal-heading h5 {
        display: inline-block;
        border-bottom: 3px solid #ffc845;
    }
    .main-content #sub-tip-modal .search-user-wrapper {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }
    .main-content #sub-tip-modal .search-user-wrapper .input-group-text {
        background-color: #fff;
    }
    .main-content #sub-tip-modal .search-user-wrapper .input-group-text i {
        color: #ffc845;
    }
    .main-content #sub-tip-modal .submit-wrapper {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .main-content #sub-tip-modal .submit-wrapper a {
        background: #FFC845;
        padding: 8px 20px;
        color: #272727;
        border-radius: 5px;
        font-family: "Oswald";
        margin: 0px 5px;
        width: 100%;
    }
</style>