<template>
    <div class="live-stats">
        <h3 class="title">Live Stats</h3>
        <div v-if="loading" class="loading">
            Loading... 
        </div>
        <div class="group">
            <p>Total Viewers</p>
            <h4>{{ stats.totalViewers }}</h4>
        </div>
        <div class="group">
            <p>Total Viewers (subscribed)</p>
            <h4>{{ stats.totalSubscribedViewers }}</h4>
        </div>
        <div class="group">
            <p>Total Tips Earned</p>
            <h4>{{ stats.totalTipsEarned }}</h4>
        </div>
        <div class="group">
            <p>New Subscribers</p>
            <h4>{{ stats.newSubscribers }}</h4>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                stats: null,
                magazineDataSample: {
                    stats: {
                        totalViewers: '3,201',
                        totalSubscribedViewers: '1,311',
                        totalTipsEarned: '$324.24',
                        newSubscribers: '22'
                    }
                }
            }
        },

        created() {
            
        },

        computed: {
            
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.stats = magazineData.stats;
                this.loading = false; // loading data finished, stop showing loading dialog
            }
        }
    }
</script>
<style scoped>
    .live-stats {
        box-shadow: 0px 1px 10px #ccc;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .live-stats p, .live-stats h4 { margin: 0px; }
    .live-stats .title {
        display: inline-block;
        border-bottom: 3px solid #ffc845;
    }
    .live-stats .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
    }
    .loading { text-align: center; }
</style>