<template>
    <v-app id="inspire">
        <v-tabs
            grow
            color="#272727"
        >
            <v-tab><v-icon>mdi-clipboard-list</v-icon></v-tab>
            <v-tab><v-icon>mdi-image</v-icon></v-tab>
            <v-tab><v-icon>mdi-calendar</v-icon></v-tab>

            <v-tab-item>
                <promotions></promotions>
                <featured></featured>
                <timeline></timeline>
                <recommended></recommended>
            </v-tab-item>
            <v-tab-item>
                <favoriteartists></favoriteartists>
                <bookmarked></bookmarked>
                <messagepurchases></messagepurchases>
                <subscriberimagesets></subscriberimagesets>
                <privatevideos></privatevideos>
            </v-tab-item>
            <v-tab-item>
                <mycalendar></mycalendar>
            </v-tab-item>
        </v-tabs>
    </v-app>
</template>

<script>
    // import Promotions from './Promotions.vue';
    export default {
        
        data: () => {
            return {
                
            }
        },

        mounted() {
            $("#inspire .v-tabs-slider-wrapper").css("color", "#FFC845 !important")
        },

        methods: {
         
        }
    }
</script>
<style scoped>

</style>

