<template>
   <div class="monthly-feature-section">
        <div class="header">
            <header class="widget-header">
                <h3 class="widget-title text-uppercase"><i class="fas fa-user"></i> the artists</h3>
            </header>
        </div>
        <div v-if="loading" class="loading">
            Loading... 
        </div>  
        <div class="artists" v-if="artists">
            <div class="row">
                <div class="col-md-4">
                    <div class="group">
                        <div class="item">
                            <h6>Sort By</h6>
                            <a href="#" @click.stop.prevent="collapse"><i class="fas fa-angle-up"></i></a>
                        </div>
                        <div class="item show-content">
                            <a href="#">Top Rated</a>
                            <a href="#">Most Relevant</a>
                            <a href="#">Most Viewed</a>
                            <a href="#">Fresh Content</a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="item">
                            <h6>Ethnicity</h6>
                            <a href="#" @click.stop.prevent="collapse"><i class="fas fa-angle-up"></i></a>
                        </div>
                        <div class="item show-content">
                            <a href="#">American Indian</a>
                            <a href="#">Asian</a>
                            <a href="#">Caucasian</a>
                            <a href="#">Hispanic</a>
                            <a href="#">Middle Eastern</a>
                            <a href="#">Black</a>
                            <a href="#">Pacific Islander</a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="item">
                            <h6>Age</h6>
                            <a href="#" @click.stop.prevent="collapse"><i class="fas fa-angle-up"></i></a>
                        </div>
                        <div class="item show-content">
                            <a href="#">18-21</a>
                            <a href="#">22-25</a>
                            <a href="#">26-35</a>
                            <a href="#">+36</a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="item">
                            <h6>Gender</h6>
                            <a href="#" @click.stop.prevent="collapse($event)"><i class="fas fa-angle-up"></i></a>
                        </div>
                        <div class="item show-content">
                            <a href="#">Female</a>
                            <a href="#">Male</a>
                            <a href="#">Both</a>
                            <a href="#">Other</a>
                        </div>
                    </div>
                    <div class="group">
                        <div class="item">
                            <h6>Safe Search</h6>
                            <a href="#" @click.stop.prevent="collapse"><i class="fas fa-angle-up"></i></a>
                        </div>
                        <div class="item">
                            <a href="#">Off</a>
                            <a href="#">On</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="search-box">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Please Select</button>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" href="#"><i class=" fas fa-user"></i> All Members</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-user-check"></i> Artist Type</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-film"></i> Genre</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-calendar-alt"></i> Date</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-images"></i> Image Sets</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-video"></i> Videos</a>
                                </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" v-model="tableKeyword">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @click="searchTable">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-images">
                        <div class="group-item" v-for="(artist, index) in visibleItems" :key="index">
                            <div class="group-thumb">
                                <img :src="artist.img" alt="">
                                <div class="details">
                                    <h6>{{ artist.name }}</h6>
                                    <p><i class="fas fa-calendar-alt"></i> {{ artist.date }}</p>
                                </div>
                            </div>
                            <h6>{{ artist.desc }}</h6>
                            <div class="ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data: () => {
            return {
                loading: false,
                artists: null,
                visibleItems: null,
                totalItemsToShow: 0,
                magazineDataSample: {
                    artists: [
                        {
                            img: 'http://localhost/modelpostmagazine/images/1.jpg',
                            name: 'Bella Fox',
                            date: 'January 1, 2020',
                            desc: 'Lorem ipsum dolor sit'
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/1.jpg',
                            name: 'Bella Fox',
                            date: 'January 1, 2020',
                            desc: 'Lorem ipsum dolor sit'
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/1.jpg',
                            name: 'Bella Fox',
                            date: 'January 1, 2020',
                            desc: 'Lorem ipsum dolor sit'
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/1.jpg',
                            name: 'Bella Fox',
                            date: 'January 1, 2020',
                            desc: 'Lorem ipsum dolor sit'
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/1.jpg',
                            name: 'Bella Fox',
                            date: 'January 1, 2020',
                            desc: 'Lorem ipsum dolor sit'
                        },
                        {
                            img: 'http://localhost/modelpostmagazine/images/1.jpg',
                            name: 'Bella Fox',
                            date: 'January 1, 2020',
                            desc: 'Lorem ipsum dolor sit'
                        },
                    ]
                },
                tableKeyword: '',
            }
        },

        mounted() {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },

        methods: {
            collapse(event) {
                console.log($(event.target).parent().parent().next().hasClass("show-content"))
                if($(event.target).parent().parent().next().hasClass("hide-content")) {
                    $(event.target).parent().html("<i class='fas fa-angle-up'></i>");
                    $(event.target).parent().parent().next().removeClass('hide-content')
                    $(event.target).parent().parent().next().addClass('show-content')
                    $(event.target).parent().parent().next().slideToggle();
                } else {
                    console.log("Dsdsdf")
                    $(event.target).parent().html("<i class='fas fa-angle-down'></i>");
                    $(event.target).parent().parent().next().removeClass('show-content')
                    $(event.target).parent().parent().next().addClass('hide-content')
                    $(event.target).parent().parent().next().slideToggle();
                }
            },
            searchTable() {
                var table = $('#dtBasicExample').DataTable();
                table.search(this.tableKeyword).draw();
            },
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.artists = magazineData.artists;		// set local array to supplied objects related array		
				this.totalItemsToShow = (this.artists.length > 25) ? 25 : this.artists.length;  // set the total items to a set value or if lower, show the total items count				
				this.visibleItems = this.artists.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog

                setTimeout(() => {
                    $('#dtBasicExample').DataTable({
                        "paging": true,
                        responsive: true
                    });
                    $('.dataTables_length').addClass('bs-select');
                }, 5000);
            }
        }
    }
</script>
<style scoped>
    .artists .group { margin-bottom: 15px; }
    .artists .group .item:first-child{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        flex-wrap: wrap;
        align-items: center;
    }
    .artists .group .item:nth-child(1) a { color: #272727; font-size: 21px; }
    .artists .group .item:nth-child(2){
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .artists .group .item:nth-child(2) a{
        font-size: 16px;
        border: 1px solid #ccc;
        background-color: #ccc;
        width: calc(50% - 7px);
        font-family: "Oswald";
        border-radius: 5px;
        color: #272727;
        margin-bottom: 10px;
        text-align: center;
        padding: 3px;
        column-count: 1;
    }
    .artists .group .item:nth-child(2) a:nth-child(odd) {
        margin-right: 7px;
    }
    .artists .group .item:nth-child(2) a:nth-child(even) {
        margin-left: 7px;
    }
    .artists .group .item:nth-child(2) a:hover { background-color: #ffc845; border-color: #ffc845; }
    .artists .search-box .input-group-append button { background-color: #ffc845; color: #272727; }
    .table-images { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
    .table-images .group-item { width: calc(50% - 20px); margin: 10px; }
    .table-images .group-item .group-thumb {
        position: relative;
        margin-bottom: 10px;
    }
    .table-images .group-item .group-thumb img {
        width: 100%;
    }
    .table-images .group-item .group-thumb .details {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #272727;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table-images .group-item .group-thumb .details h6 {
        background-color: #ffc845;
        margin: 0px;
        padding: 12px;
    }
    .table-images .group-item .group-thumb .details p {
        color: #fff;
        margin: 0px;
        padding-right: 8px;
    }
    .table-images .ratings i { color: #ffc845; }
    @media only screen and (max-width: 500px) {
        .table-images .group-item { width: calc(100% - 20px); margin: 10px; }
    }
    .loading { text-align: center; }
</style>