<template>
    <div class="timeline-wrapper">
        <div class="section-banner">
            <h2 class="title text-uppercase">Timeline</h2>
            <img src="images/placeholder-image.jpg" alt="Placeholder Image">
        </div>
        <div class="content-wrapper">
            <v-app id="post-timeline" class="section-content show-content">
                <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
                    <v-timeline-item
                        v-for="(commentIndex, i) in commentsToShow"
                        :key="i"
                        :color="items[commentIndex].color"
                        :icon-color="items[commentIndex].iconColor"
                        :icon="items[commentIndex].icon"
                        fill-dot
                    >
                        <v-card>
                            <div>
                                <div class="image-overlay"></div>
                                <v-img src="images/placeholder-image.jpg" class="post-image" height="142px"></v-img>
                            </div>
                            <v-card-title class="title text-uppercase">Lorem Ipsum Dolor</v-card-title>
                            <v-card-text class="post-content">
                                <p class="post-date"><i class="fas fa-calendar-alt"></i> <span>April 21, 2020</span></p>                    
                            </v-card-text>
                        </v-card>
                    </v-timeline-item>
                </v-timeline>
                <div class="more-less d-flex justify-content-between text-center">
                    <a href="#" @click.stop.prevent="showMore"><i class="fas fa-plus"></i> More</a>
                    <a href="#" @click.stop.prevent="showLess"><i class="fas fa-minus"></i> Less</a>
                </div>
            </v-app>
            <div class="btn-collapse text-center">
                <a href="#" @click.stop.prevent="collapse">Collapse <i class="fas fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                items: [
                    {
                        color: '#FFC845',
                        icon: 'mdi-image',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-folder-image',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-play',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FE6D62',
                        icon: 'mdi-information',
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-ticket',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-heart',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-image',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-folder-image',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-play',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FE6D62',
                        icon: 'mdi-information',
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-ticket',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-heart',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-play',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FE6D62',
                        icon: 'mdi-information',
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-ticket',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-heart',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-play',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FE6D62',
                        icon: 'mdi-information',
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-ticket',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-heart',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-play',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FE6D62',
                        icon: 'mdi-information',
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-ticket',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-heart',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-play',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FE6D62',
                        icon: 'mdi-information',
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-ticket',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-heart',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-play',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FE6D62',
                        icon: 'mdi-information',
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-ticket',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-heart',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-play',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FE6D62',
                        icon: 'mdi-information',
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-ticket',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-heart',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-play',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FE6D62',
                        icon: 'mdi-information',
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-ticket',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'mdi-heart',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                    {
                        color: '#FFC845',
                        icon: 'fas fa-coins',
                        iconColor: '#272727'
                    },
                ],
                commentsToShow: 6
            }
        },

        methods: {
            showMore(){
                var temp = this.commentsToShow + 6;
                if(temp <= this.items.length) {
                    this.commentsToShow += 6;
                    var y = $(window).scrollTop();
                    $('html, body').animate({ scrollTop: y + 150 }) 
                }
            },
            showLess() {
                var temp = this.commentsToShow - 6;
                var y = $(window).scrollTop();
                if(temp >= 0) {
                    $('html, body').animate({ scrollTop: y - 1500 })
                    this.commentsToShow -= 6;
                }
            },
            collapse() {
                var windowWidth = $( window ).width();
                if($(".timeline-wrapper .section-content").hasClass("hide-content")) {
                    $(".timeline-wrapper .content-wrapper .btn-collapse a").html("Collapse <i class='fas fa-angle-up'></i>");
                    $(".timeline-wrapper .section-content").removeClass('hide-content')
                    $(".timeline-wrapper .section-content").addClass('show-content')
                    $(".timeline-wrapper .section-content").slideToggle();
                } else {
                    $(".timeline-wrapper .content-wrapper .btn-collapse a").html("Expand <i class='fas fa-angle-down'></i>");
                    $(".timeline-wrapper .section-content").removeClass('show-content')
                    $(".timeline-wrapper .section-content").addClass('hide-content')
                    $(".timeline-wrapper .section-content").addClass('active')
                        if(windowWidth > 1199) {
                            $('html,body').animate({
                                scrollTop: $("body .timeline-wrapper").offset().top + 300
                            }, 1500);
                        } else if(windowWidth > 1024) {
                            $('html,body').animate({
                                scrollTop: $("body .timeline-wrapper").offset().top + 3400
                            }, 1500);
                        } else if(windowWidth > 767) {
                            $('html,body').animate({
                                scrollTop: $("body .timeline-wrapper").offset().top + 3100
                            }, 1500);
                        } else if(windowWidth > 320) {
                            $('html,body').animate({
                                scrollTop: $("body .timeline-wrapper").offset().top - 200
                            }, 1500);
                        }
                        
                    $(".timeline-wrapper .section-content").slideToggle();
                    $(".timeline-wrapper .section-content").removeClass('active')
                }
            }
        }
    }
</script>
<style scoped>
    .timeline-wrapper { box-shadow: 0px 25px 25px #707070; padding: 15px; border-radius: 10px; margin-bottom: 50px; }
    .timeline-wrapper .section-banner { display: flex; align-items: center; justify-content: space-between; margin-bottom: 40px; }
    .timeline-wrapper .section-banner .title { padding-bottom: 5px; color: #272727; font-weight: bold; border-bottom: 3px solid #FFC845; margin-bottom: 12px; font-size: 40px; width: max-content; }
    .timeline-wrapper .section-banner img { width: 15%; position: absolute; right: 15px; border-top-right-radius: 10px; }
    .timeline-wrapper .v-timeline { padding-top: 0px; }
    .timeline-wrapper .v-application .v-card::before { display: none; }
    .timeline-wrapper .v-application--wrap .post-date { color: #727272; }
    .timeline-wrapper .v-application--wrap .title { font-size: 18px !important; font-weight: bold; border-bottom: 3px solid #FFC845; padding: 0px; margin: 15px 15px 5px; position: absolute; top: 95px; z-index: 4; }
    .timeline-wrapper .v-application--wrap .post-content { margin-top: 10px; }
    .timeline-wrapper .v-application--wrap .image-overlay { height: 142px; background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 30%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0.9) 90%, white 100%); z-index: 1; position: absolute; top: 0; left: 0px; right: 0px; pointer-events: none; }
    .more-less a { background: #FFC845; padding: 9px 66px; color: #272727; border-radius: 5px; width: 48%; }
    .btn-collapse { display: flex; justify-content: center; margin-top: 15px; }
    .btn-collapse a { color: #727272; }
    
    @media only screen and (max-width: 959px) {
        .timeline-wrapper .v-application--wrap .image-overlay { height: 100%; }
        .timeline-wrapper .v-application--wrap .post-image { height: 400px !important; }
        .timeline-wrapper .v-application--wrap .title { bottom: 65px; top: unset; }
        .timeline-wrapper .v-application--wrap .post-content { position: absolute; bottom: 0; z-index: 4; }
        .timeline-wrapper .v-application--wrap .post-content .post-date { color: #303030; }
    }
    @media only screen and (max-width: 767px) {
        .timeline-wrapper .title { font-size: 34px !important; margin: 12px 0px; }
        .timeline-wrapper .section-banner img { display: none; }
        .timeline-wrapper .v-application--wrap .post-image { height: 300px !important; }
    }
    @media only screen and (max-width: 600px) {
        .more-less a { padding: 12px 0px; }
        .timeline-wrapper .v-application--wrap .post-image { height: 200px !important; }
    }
</style>

