<template>
    <div class="top-header-wrapper">
        <div class="left-btn-wrapper">
            <a href="#"><i class="fas fa-angle-left"></i>Back</a>
        </div>
        <div class="right-btn-wrapper" v-if="userRole == 'member'">
            <a :href="topHeaderLinks.profileLink" class="header-icon header-icon-4" title="profile"><i class="fas fa-user"></i></a>
            <a :href="topHeaderLinks.addContentLink" class="header-icon header-icon-4" title="add content"><i class="fas fa-plus-circle"></i></a>
            <a :href="topHeaderLinks.messengerLink" class="header-icon header-icon-4" title="messenger"><i class="fab fa-facebook-messenger"></i></a>
            <a :href="topHeaderLinks.streamLink" class="header-icon header-icon-4" title="stream live"><i class="fas fa-stream"></i></a>
            <a :href="topHeaderLinks.settingsLink" class="header-icon header-icon-4" title="settings"><i class="fas fa-cog"></i></a>
            <a href="#" class="header-icon header-icon-4 mode" title="day/night mode" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fas fa-moon"></i></a>
            <a :href="topHeaderLinks.notificationsLink" class="header-icon header-icon-3 bell" title="notifications"><i class="fa fa-bell fa color-red2-dark"></i></a>
            <a href="javascript:void(0)" class="header-icon header-icon-2 hamburger-menu" data-menu="sidebar"><i class="fas fa-bars"></i></a>
        </div>
        <div class="right-btn-wrapper" v-else-if="userRole == 'subscriber'">
            <a :href="topHeaderLinks.profileLink" class="header-icon header-icon-4" title="profile"><i class="fas fa-user"></i></a>
            <a :href="topHeaderLinks.messengerLink" class="header-icon header-icon-4" title="messenger"><i class="fab fa-facebook-messenger"></i></a>
            <a :href="topHeaderLinks.settingsLink" class="header-icon header-icon-4" title="settings"><i class="fas fa-cog"></i></a>
            <a href="#" class="header-icon header-icon-4 mode" title="day/night mode" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fas fa-moon"></i></a>
            <a :href="topHeaderLinks.notificationsLink" class="header-icon header-icon-3 bell" title="notifications"><i class="fa fa-bell fa color-red2-dark"></i></a>
            <a href="javascript:void(0)" class="header-icon header-icon-2 hamburger-menu" data-menu="sidebar"><i class="fas fa-bars"></i></a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['userRole'],
        data: () => {
            return {
                topHeaderLinks: {}
            }
        },

        mounted() {
            this.topHeaderLinks = {
                profileLink: '#',
                addContentLink: '#',
                messengerLink: '#',
                streamLink: '#',
                settingsLink: '#',
                notificationsLink: '#',
            }
        },

        methods: {
            
        }
    }
</script>
<style scoped>
    
</style>