<template>
    <div class="trending-section">
        <div class="row">
            <div class="col-12 py-0">
                <div class="trending-posts">
                    <div class="tabs">
                        <a href="#" class="text-uppercase" data-target="featured" @click.stop.prevent="showPosts">Trending Now</a>
                        <a href="#" class="text-uppercase" data-target="sets" @click.stop.prevent="showPosts">Sets</a>
                        <a href="#" class="text-uppercase" data-target="video" @click.stop.prevent="showPosts">Video</a>
                    </div>
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="row">
                                <div class="col-12">
                                    <div v-if="loading" class="loading">
                                        Loading... 
                                    </div>  
                                    <div class="trending-wrapper" v-if="isFeatured">
                                        <div class="item d-flex align-items-center mb-3" v-for="(trendingPost, index) in trendingPosts" :key="index">
                                            <img :src="trendingPost.img" alt="Image">
                                            <div class="details">
                                                <h5>{{ trendingPost.title }}</h5>
                                                <p class="post-date mb-0"><i class="fas fa-calendar-alt"></i> <span>{{ trendingPost.date }}</span> <span class="kopa-rate">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trending-wrapper" v-if="isSets">
                                        <div class="item d-flex align-items-center mb-3" v-for="(trendingSet, index) in trendingSets" :key="index">
                                            <img :src="trendingSet.img" alt="Image">
                                            <div class="details">
                                                <h5>{{ trendingSet.title }}</h5>
                                                <p class="post-date mb-0"><i class="fas fa-calendar-alt"></i> <span>{{ trendingSet.date }}</span> <span class="kopa-rate">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="trending-wrapper" v-if="isVideos">
                                        <div class="item d-flex align-items-center mb-3" v-for="(trendingVideo, index) in trendingVideos" :key="index">
                                            <img :src="trendingVideo.img" alt="Image">
                                            <div class="details">
                                                <h5>{{ trendingVideo.title }}</h5>
                                                <p class="post-date mb-0"><i class="fas fa-calendar-alt"></i> <span>{{ trendingVideo.date }}</span> <span class="kopa-rate">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </span></p>
                                            </div>
                                        </div>
                                        <div class="item d-flex align-items-center mb-3">
                                            <img src="images/placeholder-image.jpg" alt="Image">
                                            <div class="details">
                                                <h5>Lorem Ipsum</h5>
                                                <p class="post-date mb-0"><i class="fas fa-calendar-alt"></i> <span>Feb 20, 2020</span> <span class="kopa-rate">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                            </span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data () {
            return {
                loading: false,
                trendingPosts: null,
                trendingPostsvisibleItems: null,
                trendingPoststotalItemsToShow: 0,
                trendingSets: null,
                trendingSetsvisibleItems: null,
                trendingSetstotalItemsToShow: 0,
                trendingVideos: null,
                trendingVideosvisibleItems: null,
                trendingVideostotalItemsToShow: 0,
                magazineDataSample: {
                    trendingPosts: [
                        {
                            img: 'images/placeholder-image.jpg',
                            title: 'Lorem Ipsum Dolor Sit',
                            date: 'Feb 20, 2020'
                        },
                        {
                            img: 'images/placeholder-image.jpg',
                            title: 'Lorem Ipsum Dolor Sit',
                            date: 'Feb 20, 2020'
                        },
                        {
                            img: 'images/placeholder-image.jpg',
                            title: 'Lorem Ipsum Dolor Sit',
                            date: 'Feb 20, 2020'
                        },
                        {
                            img: 'images/placeholder-image.jpg',
                            title: 'Lorem Ipsum Dolor Sit',
                            date: 'Feb 20, 2020'
                        },
                    ],
                    trendingSets: [
                        {
                            img: 'images/placeholder-image.jpg',
                            title: 'Lorem Ipsum Dolor Sit',
                            date: 'Feb 20, 2020'
                        },
                        {
                            img: 'images/placeholder-image.jpg',
                            title: 'Lorem Ipsum Dolor Sit',
                            date: 'Feb 20, 2020'
                        },
                        {
                            img: 'images/placeholder-image.jpg',
                            title: 'Lorem Ipsum Dolor Sit',
                            date: 'Feb 20, 2020'
                        },
                    ],
                    trendingVideos: [
                        {
                            img: 'images/placeholder-image.jpg',
                            title: 'Lorem Ipsum Dolor Sit',
                            date: 'Feb 20, 2020'
                        },
                        {
                            img: 'images/placeholder-image.jpg',
                            title: 'Lorem Ipsum Dolor Sit',
                            date: 'Feb 20, 2020'
                        },
                    ],
                },
                isFeatured: true,
                isVideos: false,
                isSets: false,
            }
        },
        mounted: function () {
            this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },
        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.trendingPosts = magazineData.trendingPosts;		// set local array to supplied objects related array		
				this.trendingPoststotalItemsToShow = (this.trendingPosts.length > 25) ? 25 : this.trendingPosts.length;  // set the total items to a set value or if lower, show the total items count				
				this.trendingPostsvisibleItems = this.trendingPosts.slice(0, this.totalItemsToShow);  //copy objects to array used in control
				this.trendingSets = magazineData.trendingSets;		// set local array to supplied objects related array		
				this.trendingSetstotalItemsToShow = (this.trendingSets.length > 25) ? 25 : this.trendingSets.length;  // set the total items to a set value or if lower, show the total items count				
				this.trendingSetsvisibleItems = this.trendingSets.slice(0, this.totalItemsToShow);  //copy objects to array used in control
				this.trendingVideos = magazineData.trendingVideos;		// set local array to supplied objects related array		
				this.trendingVideostotalItemsToShow = (this.trendingVideos.length > 25) ? 25 : this.trendingVideos.length;  // set the total items to a set value or if lower, show the total items count				
				this.trendingVideosvisibleItems = this.trendingVideos.slice(0, this.totalItemsToShow);  //copy objects to array used in control
                this.loading = false; // loading data finished, stop showing loading dialog
            },
            showPosts: function(event) {
                var target = event.currentTarget.getAttribute('data-target');
                if(target == "featured") {
                    this.isSets = false;
                    this.isVideos = false;
                    this.isFeatured = true;
                } else if (target == "sets") {
                    this.isFeatured = false;
                    this.isVideos = false;
                    this.isSets = true;
                } else {
                    this.isFeatured = false;
                    this.isSets = false;
                    this.isVideos = true;
                }
            }
        }
    }
</script>
<style scoped>
    .trending-section { margin-bottom: 40px; }
    .trending-posts { border: 0.2px solid #707070; }
    .trending-posts .tabs { border-bottom: 0.3px solid #707070; padding: 15px; display: flex; justify-content: space-between;}
    .theme-dark .trending-posts .tabs a { color: #fff; }
    .trending-posts .tabs a { color: #272727; font-size: 25px; font-family: "Oswald"; }
    .trending-posts .tabs a:hover { color: #FFC845; }
    .trending-posts .content-wrapper img { width: 30%; }
    .trending-posts .content-wrapper .details { width: 70%; margin-left: 10px; }
    .theme-dark .trending-posts .content-wrapper .details h5 { color: #fff; }
    .trending-posts .content-wrapper .post-date { color: #727272; }
    .trending-posts .content-wrapper .trending-wrapper { padding: 15px; }
    .trending-posts .content-wrapper .trending-wrapper .item { width: 100%; }
    
    @media only screen and (max-width: 1199px) {
        .trending-posts { position: relative; }
        .trending-posts .section-banner img { width: 15%; position: absolute; right: 0px; border-top-right-radius: 10px; top: 0; }
        .trending-posts .section-banner { margin-bottom: 70px; }
        .trending-posts .tabs { justify-content: space-around; }
        .trending-posts .content-wrapper .trending-wrapper { display: flex; flex-wrap: wrap; flex-direction: row; }
        .trending-posts .content-wrapper .trending-wrapper .item { width: 100%; }
        .trending-posts .section-banner .title { font-size: 40px; }
    }
    @media only screen and (max-width: 767px) {
        .trending-posts .title { font-size: 34px !important; margin: 12px 0px; }
        .trending-posts .section-banner img { display: none; }
        .trending-posts .section-banner { margin-bottom: 15px; }
    }
    @media only screen and (max-width: 600px) {
        .trending-posts .content-wrapper .trending-wrapper .item { width: 100%; }
    }
    .loading { text-align: center; }
</style>

