<template>
    <div class="weekly-post-section">
        <h1 class="heading text-uppercase">The Launch of Model Post Magazine</h1>
        <div class="stats">
            <div class="left-content-wrapper">
                <div class="item">
                    <i class="fas fa-user"></i>
                    <p>By: John Doe</p>
                </div>
                <div class="item">
                    <p class="label">Tags:</p>
                    <p class="tag">Entertainment</p>
                </div>
                <div class="item">
                    <i class="fas fa-calendar-alt"></i>
                    <p>July 20, 2020</p>
                </div>
            </div>
            <div class="right-content-wrapper">
                <p class="percentage">80%</p>
                <div class="item">
                    <p class="rating-title">Editor Rating</p>
                    <!-- <div> -->
                        <span class="kopa-rate">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="post-thumb">
            <img src="images/blog.jpg" alt="">
        </div>
        <div class="post-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae ullamcorper arcu, at fermentum velit. Vivamus ornare consequat mollis. Curabitur quis sem suscipit, gravida felis tristique, vehicula nibh. Cras sed imperdiet nisi. Quisque eu eros consectetur, bibendum orci at, volutpat ligula. Nulla quis nulla a diam vehicula viverra sed id nibh. Vivamus pharetra dolor leo, et mollis turpis tincidunt sit amet. Fusce non bibendum mauris. Mauris pulvinar consequat sem, id elementum ante finibus vel. Mauris feugiat, libero ut facilisis tincidunt, turpis metus gravida tortor, quis vulputate nibh velit sit amet erat.</p>
            <p>Nulla rhoncus, ipsum nec malesuada aliquam, ligula ante pulvinar ex, vitae facilisis neque nunc aliquam enim. Aenean id nunc odio. Curabitur ac congue purus. Fusce sit amet vestibulum enim. Morbi rhoncus cursus mi. Pellentesque id nisi ut arcu placerat hendrerit. Mauris sollicitudin, nisl eu ullamcorper sodales, ipsum sapien malesuada lectus, at tristique elit elit eget augue. Aliquam nec vulputate dui, vel semper tellus. Suspendisse rutrum nisi elit, a imperdiet arcu pretium eget.</p>
        </div>
        <div class="post-buttons">
            <div class="like-dislike">
                <a href="#"><i class="fas fa-thumbs-up"></i></a>
                <a href="#"><i class="fas fa-thumbs-down"></i></a>
            </div>
            <div class="social-share">
                <a href="#" class="btn-twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn-facebook"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
        <div class="info-buttons">
            <ul>
                <li><a href="#"><i class="fas fa-thumbs-up"></i></a></li>
                <li><a href="#"><i class="icon-tipping-icon"></i></a></li>
                <li><a href="#"><i class="fas fa-exclamation-circle"></i></a></li>
            </ul>
        </div>
        <div class="prev-next-post-wrapper">
            <div class="left-content-wrapper">
                <a href="#"><i class="fas fa-angle-left"></i> Previous Article</a>
                <h4>Building an International Fan Base</h4>
                <p><i class="fas fa-calendar-alt"></i> July 20, 2020</p>
            </div>
            <div class="right-content-wrapper">
                <a href="#">Next Article <i class="fas fa-angle-right"></i></a>
                <h4>Building an International Fan Base</h4>
                <p><i class="fas fa-calendar-alt"></i> July 20, 2020</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
        data () {
            return {
                
            }
        },
        mounted: function () {
             
        },
        methods: {
           
        }
    }
</script>
<style scoped>
    
</style>

