<template>
    <div class="worth-watching-section">
        <div class="header">
            <header class="widget-header">
                <h3 class="widget-title text-uppercase">Worth Watching</h3>
            </header>
        </div>
        <div v-if="loading" class="loading">
            Loading... 
        </div>
        <div v-if="featuredVideo">
            <iframe style="width:100%;" width="560" height="315" :src="featuredVideo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</template>

<script>
    export default {
        
        data () {
            return {
                loading: false,
                featuredVideo: null,
                magazineDataSample: {
                    featuredVideo: 'https://www.youtube.com/embed/6lt2JfJdGSY'
                }
            }
        },
        mounted: function () {
             this.$root.$on('dataLoaded', (magazineData) => {
				this.LoadData(magazineData);
            });
            this.LoadData(this.magazineDataSample);
        },
        methods: {
            LoadData(magazineData){
				this.loading = true; // Set the control to show the loading dialog
				this.featuredVideo = magazineData.featuredVideo;	
				this.loading = false; // loading data finished, stop showing loading dialog
            }
        }
    }
</script>
<style scoped>
    .loading { text-align: center; }
</style>